.banner {
	position: relative;
	background-color: $default-banner-bg-color;
	color: $default-banner-text-color;
	width: 100%;
	overflow: hidden;
	z-index: 900;
	&:not(.banner--with-image) {
		&::after {
			content: '';
			width: 100%;
			height: calc(100% - 70px - 64px);
			position: absolute;
			top: 70px + 64px;
			left: 0;
			background-image: url("/public/img/banner/dot-pattern-purple-banner@2x.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top right;
			@include media-breakpoint-up(xl) {
				height: calc(100% - 60px);
				top: 60px;
			}
		}
	}
	&__content-wrapper {
		padding: ($section-padding-small + 70px + 64px) 0 $section-padding-small;
	}
	&__content {
		max-width: 552px;
		> :last-child {
			margin-bottom: 0;
		}
		> p:first-of-type {
			margin-top: 14px;
		}
		> p {
			@include fluid-type($large-body);
			color: $mauve;
		}
	}
	&__heading {
		max-width: 784px;
		> * {
			color: $font-color-on-dark-bg;
			margin-bottom: 0;
		}
	}
	&__image-wrap__image {
		border-radius: 100%;
		@include fluid-property('height', 510, 330);
		@include fluid-property('width', 510, 330);
		position: relative;
		margin-bottom: 27px;
		margin-left: auto;
		right: -50px;
		@include media-breakpoint-down(sm) {
			margin-top: -70px;
		}
		&::after {
			position: absolute;
			content: '';
			background-image: url("/public/img/banner/rotating-banner-photo-circle.svg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: block;
			@include fluid-property('height', 560, 363);
			@include fluid-property('width', 560, 363);
			@include fluid-property('left', -25, -15);
			@include fluid-property('bottom', -25, -15);
			animation: spin 20s linear infinite;
		}
	}
	&--with-image {
		background-image: none;
		&__content-wrapper {
			padding: ($section-padding-small + 70px + 64px) 0 $section-padding-small;
		}
	}
	&--with-tabs {
		.banner__heading {
			@include media-breakpoint-down(sm) {
				max-width: 300px;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.banner {
		&__content-wrapper {
			padding: (70px + 64px + $section-padding-medium) 0 $section-padding-medium;
		}
		&--with-tabs {
			margin-bottom: -59px;
			.banner__content-wrapper {
				padding: (90px + 64px) 0 79px;
			}
		}
		&.banner--with-image:not(.banner--with-tabs) {
			.banner__image-wrap {
				@include fluid-property('margin-top', -160, -100);
				@include fluid-property('margin-bottom', -160, -100);
			}
		}
		.container {
			display: flex;
			justify-content: space-between;
		}
		&__image-wrap {
			order: 1;
			margin-top: -$section-padding-medium - 30;
			margin-bottom: -$section-padding-medium - 30;
			width: 300px;
			position: relative;
			top: 30px;
		}
		&__content {
			order: 0;
			align-self: center;
		}
		&--with-image {
			&__content-wrapper {
				padding: (90px + 64px) 0 0px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.banner {
		&__content-wrapper {
			padding: (70px + 64px + $section-padding-large) 0 $section-padding-large;
		}
		&--with-tabs {
			margin-bottom: -100px;
			.banner__content-wrapper {
				padding: (70px + 64px) 0 100px;
			}
		}
		&__image-wrap {
			width: 415px;
		}
		&--with-image {
			&__content-wrapper {
				padding: (70px + 64px) 0 0px;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.banner {
		&__content-wrapper {
			padding: (60px + $section-padding-large) 0 $section-padding-large;
		}
		&--with-tabs {
			.banner__content-wrapper {
				padding: 60px 0 100px;
			}
		}
		&__image-wrap {
			margin-top: -$section-padding-large - 70;
			margin-bottom: -$section-padding-large - 32;
			width: auto;
		}
		&__image-wrap__image {
			right: 0;
		}
		&--with-image {
			&__content-wrapper {
				padding: 60px 0 0px;
			}
		}
	}
}
//
//@media (max-width: 767px) {
//	#banner .banner-button-wrapper a {
//		padding: 6px 12px;
//		font-size: 15px;
//		border-width: 2px;
//    	/*margin-top: 20px;*/
//	}
//}
