.resources-filter {
	@include fluid-property('padding-bottom', 80);
	background-color: $bg-light-color;
	min-height: 300px;
	position: relative;
	.pp-card {
		padding: 0;
		@include fluid-property('margin-bottom', 27, 12);
		@include media-breakpoint-up(lg) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@include media-breakpoint-up(sm) {
			.pp-card--ps__content {
				min-height: 214px;
			}
		}
		.pp-card--ps__content {
			margin-bottom: 0!important;
		}
	}
	.pp-card--ps__content__text {
		p {
			@include fluid-type($card-body);
		}
	}
}
.resources-filter__resource-image {
	background-size: cover;
}
.resources-filter__filters {
	margin-bottom: 12px;
	ul	{
		list-style: none;
		padding: 0;
	}
	li {
		&.active {
			button {
				background: $secondary;
				color: $white;
			}
		}
	}
	button.active {
		background: $secondary;
		color: $white;
	}
	button {
		background: transparent;
		color: $secondary;
		width: 100%;
		font-weight: bold;
		@include fluid-type($resources);
		&:hover {
			cursor: pointer;
		}
	}
	@include media-breakpoint-up(lg) {
		.resources-filter__filters__mobile-active {
			display: none;
		}
		#resourcesFilter {
			display: flex;
		}
		ul {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}
		li {
			margin-right: 16px;
			flex: 1;
			img {
				display: none;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		button {
			border: 1px solid $secondary;
			border-radius: 3px;
			padding: 11px 5px;
			&:hover {
				background-color: $bg-mid-color;
			}
		}
	}
	//turn buttons into dropdown at this point:
	@include media-breakpoint-down(md) {
		#resourceFilterDesktop {
			display: none;
		}
		.resources-filter__filters__mobile-active {
			text-transform: capitalize;
			display: flex;
			justify-content: space-between;
			border-radius: 3px 3px 0 0;
			&.collapsed {
				border-radius: 3px;
			}
			svg {
				fill: $white;
			}
			&:hover {
				cursor: pointer;
			}
		}
		ul {
			margin-bottom: 12px;
			li {
				border-bottom: 1px solid $secondary;
				border-left: 1px solid $secondary;
				border-right: 1px solid $secondary;
				&:last-child {
					border-radius: 0 0 3px 3px;
				}
			}
			&.active {

			}
		}
		button {
			border: 1px solid transparent;
			padding: 10px;
			text-align: left;
		}
	}
}

.spinner-container {
	padding: 36px 16px 64px;
	position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
    background-color: $bg-light-color;
	.loading-text {
		margin-top: 64px;
		font-family: $headings-font-family;
		font-size: 2.4rem;
		font-weight: 900;
		text-align: center;
		color: $secondary;
	}
	.windows8 .wBall .wInnerBall {
		background-color: $secondary;
	}
	+ .resources-filter__filters {
		display: none;
	}
}
