.crumbs-wrap {
  background-color: #f5f2f6;
  .row {
    justify-content: space-between;
  }
}

.breadcrumbs {
  display: flex;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 5;
  height: 53px;
  margin: 0;
  list-style: none;
  padding-left: 15px;
  font-size: 1.4rem;
  a {
    text-decoration: underline;
    color: $dark-purple;
    transition: 0.25s ease-in-out color;
    &:hover {
      color: $light-purple;
    }
  }
  .current {
    font-weight: 700;
    color: $light-purple;
  }
}

.separator {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  color: #6d6d6d;
}
