/* All Resolutions */
header {
	.menu-link-inner {
		display: inline-block;
	}
	.nav-link {
		font-size: 1.4rem;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		.menu-link-inner {
			transition: all 0.4s;
		}
	}
	.nav-item-first-level {
		position: relative;
		display: block;
		> .nav-link {
			color: $menu-link-color;
			margin-right: 16px;
			.menu-link-inner {
				@include fluid-type($main-menu-item);
				padding: 8px 4px;
				// font-family: $roboto;
				letter-spacing: 0.2px;
				line-height: 13px;
			}
			&:hover {
				color: $light-purple;
			}
		}
		@media #{$extra-large-up} {
			&.active {
				.nav-link {
					.menu-link-inner {
						 color: $light-purple;
					}
				}
			}
		}
		&:hover, &:focus {
			.nav-link {
				.menu-link-inner {
					// color: $desktop-menu-activeandhover;
				}
			}
		}
	}

	.dropdown-menu {
		padding: 0;
		border-radius: 0;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
		border: none;
		line-height: 17px;
		min-width: 275px !important;
		.dropdown-item {
			// padding-top: 0.5rem;
			// padding-bottom: 0.5rem;
			background-color: #fff!important;
			padding-top: 0;
			padding-bottom: 0;
			&:hover {
				color: $light-purple;
			}
			&.active {
				color: $light-purple;
			}
		}
	}

	.dropdown-item.active, .dropdown-item:active {
	    // background-color: $desktop-menu-lvl2-3-itembg;
	}
	.dropdown-item:not(:last-child) {
		// border-bottom: 1px solid $desktop-menu-dropdown-divider;
	}
	.dropdown-item:hover {
		a {
			color: $light-purple;
		}
	}
}
/* Desktop Only */
@media #{$extra-large-up} {
	header {
		//something happened to the menu?! Temporary:
		.navbar-expand-xl .main-menu .navbar-nav .nav-link {
			padding: 0 !important
		}
		.navbar-nav {
			display: flex!important;
			//justify-content: space-between;
		}
		.main-menu .nav-item-first-level > .nav-link.has-submenu::after {
			content: ' ';
			display: inline-block;
			width: 8px;
			height: 8px;
			// We have an HTML element that handles the dropdown arrow but the above is giving it space so leave that there... :S
			// background: url('../img/svg/ic-dropdown-blue.svg');
			// background-size: cover;
		}
		.nav-item--button {
			margin-left: auto;
			.button {
				padding-left: 17px;
				padding-right: 17px;
			}
		}
		.main-menu .nav-item-first-level > .nav-link > .sub-arrow {
			margin-left: -1px;
			position: relative;
		}
		.dropdown-item {
			a {
				color: $primary;
			}
		}
		.dropdown-menu {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: left;
			max-width: 212px!important;
			width: 212px!important;
			border-radius: 4px;
			border: 1px solid $mauve;
			min-width: 212px!important;
			a {
				font-size: 1.4rem;
				line-height: 1.71;
				font-weight: 400;
				color: $color-darkgrey;
			}
			li:not(:last-of-type) {
				a {
					margin-bottom: 15px;
				}
			}
			&::after {
				content:"\A";
			    border-style: solid;
			    border-width: 0 8px 8px 8px;
			    border-color: transparent transparent $white transparent;
			    position: absolute;
			    top: -8px;
			    left: 10px;
			}
			&::before {
				content:"\A";
				border-style: solid;
				border-width: 0 9px 9px 9px;
				border-color: transparent transparent $mauve transparent;
				position: absolute;
				top: -9px;
				left: 9px;
			}
		}
		//no arrow when nav item is active otherwise arrow goes over line and looks a little weird
		.nav-item-first-level.active {
			.dropdown-menu:before {
				display: none;
			}
		}
		//shadow under menu when there is no banner
		.no-banner .header-main:not(.is-sticky) .header-main__bg-wrap {
			// box-shadow: 0 4px 2px -2px gray;
			box-shadow: 0 2px 2px -2px rgba(94, 94, 94, 0.6);
		}
	}
}

//sticky header
header {
	//sticky header
	.sticky-wrapper {
		// transition: all 0.15s ease-out;
	}
	.is-sticky.header-main {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1000;
		.header-main__bg-wrap {
			width: 100%;
			background: rgba($light-mauve, 1);
		}
		.header-main__logo-wrap {
			height: 55px;
			img {

			}
		}
		.nav-item.nav-item-first-level {
			> .nav-link {
				// color: $sticky-menu-link-color;
			}
			@media #{$extra-large-up} {
				&.active {
					&:after {
						background-color: $white;
					}
				}
			}
		}
		.nav-link {
			.menu-link-inner {
				transition: none;
			}
			&.has-submenu {
				&::after {
					// We have an html element handling the dropdown arrow in the menu
					// background: url('../img/svg/ic-dropdown-white.svg');
				}
			}
		}
	}
}
/* Mobile Style Only */
@media #{$large-down} {
	header {
		.top-strip {
			position: fixed;
		    top: 0;
		    left: 0;
		    width: 100%;
		    z-index: 1000;
		    > .container {
		    	max-width: 100%;
		    }
		}
		.header-main .header-main__bg-wrap > .container {
			padding: 0;
			max-width: 100%;
		}
		//Mobile Search Bar
		.top-strip__search-mobile {
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 20px;
		}
		.main-menu__book-tour--mobile {
			margin-top: 17px;
			a {
				line-height: 48px;
				width: 100%;
				font-size: 1.3rem;
				padding: 0 15px;
			}
		}
		.navbar-head {
			display: flex;
		}
		.navbar-brand {
			flex: 0 1 155px;
		}
		.nav-item--button {
			padding: 13px 16px 16px;
			background-color: $white;
			width: 100%;
			.button {
				height: 48px;
			}
		}
		.navbar-nav.sm-collapsible .sub-arrow {
			line-height: 45px;
			width: 48px;
			height: 46px;
			border-bottom: 2px solid $white;
			border-radius: 0;
			border: none;
			margin: 0;
			top: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $sub-arrow-mobile-menu;
			transition: all 0.25s ease-in-out;
			transition: background-color 0.125s ease-in-out 0.05s;
			// &:before {
			// 	height: 100%;
			// }
		}
		.navbar-nav.sm-collapsible .sub-arrow::before,.navbar-nav.sm-collapsible .show > a > .sub-arrow::before {
			content: ' ';
			background-image: url('../img/svg/navigation/nav-chevron-right-white.svg');
			background-size: cover;
		    display: inline-block;
		    width: 34px;
		    height: 34px;
		    transition: all 0.25s;
		}
		.navbar-nav.sm-collapsible .sub-arrow::before {
			transform: rotate(90deg);
		}
		.navbar-nav.sm-collapsible .show > a > .sub-arrow::before {
			transform: rotate(270deg);
		}
		.navbar-toggler:focus,
		.navbar-toggler:hover {
		    // background-color: transparent;
		}
		//menu hamburger button
		.navbar-toggler {
		    border: none;
		    display: flex;
			font-size: 1.4rem;
			font-weight: 700;
			color: #fff;
			padding: 29px 15px;
			align-items: center;
			border-radius: 0px;
			transition: all 0.4s;
			margin-bottom: -1px;
			background-color: $primary;
			&.collapsed {
				background-color: $secondary;
			}
			&:focus, &:hover {
				outline: 0;
				// background-color: darken($secondary, 10%);
			}
			&:active {
				// background-color: darken($secondary, 10%);
			}
			&[aria-expanded="true"] {
				// background-color: darken($secondary, 10%);
			}
			.navbar-toggler-text {
				margin-right: 7px;
				margin-top: 2px;
				letter-spacing: 1px;
				line-height: 16px;
				text-transform: uppercase;
			}
			span.icon-bar {
		    	transition: all 0.15s;
		    	background-color: #ffffff;
				display: block;
			    width: 18px;
			    height: 2px;
			    border-radius: 1px;
		    	+ .icon-bar {
				    margin-top: 3px;
				}
			}
			.hamburger {
				span {
					position: relative;
					transition: ease-in-out 0.15s all;
				}
				span:nth-child(1) {
			    	transform: rotate(45deg);
			    	transform-origin: 11% 14%;
					left: 3px;
				}
				span:nth-child(2) {
				    opacity: 0;
				}
				span:nth-child(3) {
				    transform: rotate(-45deg);
				    transform-origin: 9% 87%;
					left: 3px;
				}
			}
			&.collapsed {
				.hamburger span{
					left: 0;
				}
				.hamburger span:nth-child(1), .hamburger span:nth-child(3) {
					transform: rotate(0);
				}
				.hamburger span:nth-child(2) {
					opacity: 1;
				}
			}
		}

		.main-menu {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
			flex: 0 0 100%;
			background-color: $bg-main-menu;
			max-height: calc(100vh - 62px);
			overflow-y: auto;
			justify-content: space-between;
			// padding-left: 15px;
			// padding-right: 15px;
			// margin-left: -15px;
			// margin-right: -15px;
			li {
				.nav-link {
					padding: 11px 15px;
					color: $nav-link;
					.menu-link-inner {
						padding: 0;
						color: $nav-link;
					}
				}
				&.active, &:focus, &:hover {
					.nav-link {
						.menu-link-inner {
							color: $nav-link;
							border: none;
						}
					}
				}
			}
			.navbar-nav {
				border-top: 3px solid $white;
			}
			.main-menu__extra--mobile {
				padding: 0;
				margin: 0;
				list-style-type: none;
				background-color: $sub-arrow-mobile-menu;
				li {
					a {
						display: inline-block;
						width: 100%;
						padding: 11px 15px;
						color: #fff;
						@include fluid-type($main-menu-item);
						letter-spacing: 0.2px;
						border-bottom: 2px solid $border-mobile-menu-item;
					}
				}
			}
			.nav-item-first-level {
				> .nav-link {
					border-bottom: 2px solid $border-mobile-menu-item;
					margin-right: 0;
					background: linear-gradient(to right, transparent 50%, rgba($mobile-menu-lvl1-bg-active,0.2) 50%);
					background-size: 200% 100%;
					background-color: $light-mauve;
					background-position:left bottom;
					transition: all ease-in-out 0.25s, background-color ease-in-out 0.25s;
					.menu-link-inner {
						padding-top: 0;
					}
				}
				& > .dropdown-menu {
					.nav-link {
						background: $bg-second-level-menu-item;
						color: $second-level-menu-item;
						border-bottom: 1px solid $border-mobile-menu-item;
						background-color: $mobile-menu-lvl1-bg-active;
						@include fluid-type($main-menu-item);
					}
					& > .dropdown-item {
						& > .nav-link {
							background-color: #fff;
						}
					}
					.dropdown-third-level-menu {
						.nav-link {
							padding-left: 48px;
							// background-color: $mobile-menu-dropdown-lvl3-bg;
						}
					}
				}
			}
			.dropdown-menu {
				box-shadow: none;
				margin-top: 0;
				.nav-link {
					background-color: $bg-white-color;
					color: rgba(255, 255, 255, 0.8);
				}
				.dropdown-item {
					padding: 0;
					border: 0;
					.dropdown-third-level-menu {
						margin: 0;
					}
				}
			}
			.nav-item-first-level {
				&.show > .nav-link {
					background: linear-gradient(to right, transparent 50%, rgba($mobile-menu-lvl1-bg-active,1) 50%);
					background-size: 200% 100%;
					background-position:right bottom;
					background-color: $mobile-menu-lvl1-bg-active;
					.sub-arrow {
						background-color: transparent;
						transition: background-color 0.1s ease-in-out;
					}
					.menu-link-inner {
						color: $mobile-menu-lvl1-active-link;
					}
				}
			}
			.dropdown-second-level-menu, .dropdown-third-level-menu {
				& > .dropdown-item.active > .nav-link {
					font-weight: 700;
				}
			}
		}

		.main-menu__book-tour {
		}

		.is-sticky {
			.main-menu {
				top: 133px; // updated from 70px, to add the space for the top two buttons
				max-height: calc(100vh - 56px);
			}
		}
	}
}

html.translated-rtl body {
	.dropdown-item {
		text-align: right;
	}
}