{#
/**
 * Yump plugin for Craft CMS
 *
 * YumpFieldType HTML
 *
 * @author    Yump
 * @copyright Copyright (c) 2017 Yump
 * @link      https://yump.com.au/
 * @package   Yump
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    id: id ~ 'someField',
    class: 'nicetext',
    name: name ~ '[someField]',
    value: values.someField,
    errors: values.getErrors('someField'),
    required: false,
}) }}
