{% set thumbConfig = {
	width: 340,
	height: customHeight ? customHeight * 2 : 160,
	mode: "fit",
} %}
{% set randomId = random() %}

<div class="yump-carousel-item">
	<a href="#" data-toggle="modal" data-target="#modal-{{ randomId }}">
		<div class="yump-carousel-item-img-container flex flex-vertical-center"{% if customHeight %} style="height: {{ customHeight }}px"{% endif %}>
			<img class="img-fluid" alt="{{ item.thumbnail.first().title }}" src="{{ item.thumbnail.first() | yumpimager(thumbConfig) }}">
		</div>
		{% set heading = item.heading|trim %}
		{% set subheading = item.subheading|trim %}
		{% if heading or subheading %}
			<div class="yump-carousel-item-text-container">
				{% if heading %}
				<p class="yump-carousel-item-text-heading">{{ heading }}</p>
				{% endif %}
				{% if subheading %}
				<p class="yump-carousel-item-text-subheading">{{ subheading }}</p>
				{% endif %}
			</div>
		{% endif %}
	</a>
</div>


<script>
	$('body').append('<div class="modal carousel-modal" id="modal-{{ randomId }}">\n' +
        '    <div class="modal-dialog">\n' +
        '        <div class="modal-content">\n' +
        '        <img class="modal-close" src="/public/img/svg/ic-close.svg" alt="Close modal" data-dismiss="modal">\n' +
        '        <div class="modal__image">\n' +
        '            <img class="img-fluid" alt="{{ item.thumbnail.first().title }}" src="{{ item.thumbnail.first() | yumpimager(thumbConfig) }}">\n' +
        '        </div>\n' +
        '        <div class="modal__text-content">\n' +
        '            <p class="carousel-modal__text-heading">{{ heading }}</p>\n' +
        '            <p class="carousel-modal__text-subheading">{{ subheading }}</p>\n' +
        '            {{ item.blurb|json_encode()|replace('"', '') }}' +
        '        </div>\n' +
        '        </div>\n' +
        '\t</div>\n' +
        '</div>');
</script>


