<div class="{{columnSpan}} circle-text-column-item">
	{% set image = item.imageWithFocusPoint.first() %}
	{% if image %}
        {% set thumbnail = image | yumpimager({
            width: 528,
            height: 554,
            position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
        }) %}
        {% set imageTitle = imageTitle is defined and imageTitle ? imageTitle : item.heading %}
    {% else %}
        {% set thumbnail = "/src/img/core/placeholder.jpg" %}
        {% set imageTitle = "placeholder" %}
    {% endif %}
	<div class="image-wrap">
		<img class="img-fluid" src="{{ thumbnail }}" alt="{{imageTitle}}">
	</div>
</div>
