{% for childBlock in blockSet %}
	<div class="matrix-block-wrapper{{ customClass is defined and customClass|trim ? ' ' ~ customClass|trim : '' }}
    	{{- childBlock['columnWidth'] is defined and childBlock.columnWidth and childBlock.columnWidth.value is not empty ? ' ' ~ childBlock.columnWidth : '' -}}
">

    	{% if childBlock['customCss'] is defined and childBlock.customCss|trim %}
    		{% include "_matrix-blocks/customCss" with {customCss: childBlock.customCss|trim} %}
    	{% endif %}

	    <div class="matrix-block matrix-block-{{ childBlock.type }}{{ childBlock.customWrapperClass|trim ? ' ' ~ childBlock.customWrapperClass|trim : '' }}
"
		{% if childBlock.customBlockId|trim %}
			id="{{ childBlock.customBlockId|trim }}"
		{% else %}
			id="matrix-block-{{ childBlock.id }}"
		{% endif %}
	    >{% include '_matrix-blocks/' ~ childBlock.type ignore missing with {'block': childBlock} %}</div>

	</div>

{% endfor %}
