{% if pageInfo is defined %}
	{% if pageInfo.totalPages > 1 %}

		<div class="sr-only" tabindex="0">You are currently on Page {{ pageInfo.currentPage }}</div>
		<nav class="pagination">
			{% if pageInfo.prevUrl %}
				{# <li class="arrow arrow-first"><a href="{{ pageInfo.firstUrl }}"><span class="sr-only">First page</span>&laquo;</a></li> #}
				<div class="arrow prev"><a href="{{ pageInfo.prevUrl }}?{{ craft.yump.getUrlParams() }}"><span class="sr-only">Previous page</span><i class="fas fa-arrow-left"></i><span>Previous</span></a></div>
				
				<div class="pagination-hr pagination-hr-left"></div>
			{% endif %}
			{#  <a href="{{ pageInfo.firstUrl }}">First Page</a> #}

			<ol class="pagers">

				{% for page, url in pageInfo.getPrevUrls(2) %}
				    <li><a href="{{ url }}?{{ craft.yump.getUrlParams() }}"><span class="sr-only">Go to page </span>{{ page }}</a></li>
				{% endfor %}

				<li><span class="current" tabindex="-1">{{ pageInfo.currentPage }}</span></li>

				{% for page, url in pageInfo.getNextUrls(2) %}
				    <li><a href="{{ url }}?{{ craft.yump.getUrlParams() }}"><span class="sr-only">Go to page </span>{{ page }}</a></li>
				{% endfor %}
			
				{# <a href="{{ pageInfo.lastUrl }}">Last Page</a> #}
			</ol>

			{% if pageInfo.nextUrl %}
				<div class="pagination-hr pagination-hr-right"></div>
				<div class="arrow next"><a href="{{ pageInfo.nextUrl }}?{{ craft.yump.getUrlParams() }}"><span class="sr-only">Next page</span><span>Next</span><i class="fas fa-arrow-right"></i></a></div>
				{# <li class="arrow arrow-last"><a href="{{ pageInfo.lastUrl }}"><span class="sr-only">Last page</span>&raquo;</a></li> #}
			{% endif %}
		</nav>
	{% endif %}
{% endif %}