{# 
Settings:
- imageField (required): the image field object. E.g. imageField: entry.imageWithFocusPoint
- imagerSettings (required): e.g. imagerSettings: {width: 700, height: 300}
- placeholderUrl: if defined, this placeholder image will be used when the image is absent.
- outputAsBackgroundImage: default: false, which will output as <img> tag; if set to true, the image will be output as background image in style="" attribute
- additionalClasses: additional classes for the <img> tag. Doesn't work for outputAsBackgroundImage

Usage example:
- Don't forget to include: {% import '_macros' as macros %} at the beginning of your twig file

{% if tileImage is defined and tileImage %}
	<div class="card__image-container">
		{{ macros.thumbnail({
			imageField: tileImage,
			imagerSettings: imagerSettings is defined and imagerSettings ? imagerSettings : {
				width: 720,
				height: 400,
			},
			additionalClasses: 'card__image-container__image',
		}) }}
	</div>
{% endif %}
#}

{% if imageField is defined and imageField and imagerSettings is defined and imagerSettings %}
	{% set outputAsBackgroundImage = outputAsBackgroundImage is defined and outputAsBackgroundImage ? true : false %}
	{% set thumbnail = null %}
	{% set pX = null %}
	{% set pY = null %}
	{% set image = imageField.first() %}
	{% if image %}
		{% set pX = image.focusPctX is defined ? image.focusPctX : 50 %}
		{% set pY = image.focusPctY is defined ? image.focusPctY : 50 %}
		
		{% if not outputAsBackgroundImage %}
			{% set imagerSettings = imagerSettings|merge({position: pX ~ '% ' ~ pY ~ '%'}) %}
		{% endif %}
		{% set thumbnail = image | yumpimager(imagerSettings) %}
		{% set altTag = image.imageCaption is defined and image.imageCaption|trim ? image.imageCaption|trim : (image.title ? image.title : '') %}
	{% endif %}

	{% if not thumbnail and placeholderUrl is defined and placeholderUrl|trim %}
		{% set thumbnail = placeholderUrl|trim %}
		{% set altTag = '' %}
	{% endif %}

	{% if thumbnail %}
		{% if outputAsBackgroundImage is defined and outputAsBackgroundImage %}
			style="background-image: url('{{ thumbnail }}'); background-position: {{ pX }}% {{ pY }}%; background-repeat: no-repeat;"
		{% else %}
			<img class="img-fluid {% if additionalClasses is defined and additionalClasses %} {{ additionalClasses }}{% endif %}" src="{{ thumbnail }}" alt="{{ altTag }}"{% if not altTag %} aria-hidden="true"{% endif %}>
		{% endif %}
	{% endif %}

{% endif %}