$button-bg-color: $secondary;
$button-bg-color-hover: darken($secondary, 10%);
$button-text-color: $color-switch;
$button-text-color-hover: $color-switch;

%button {
	@include clear-appearance;
	display: inline-block;
	color: $button-text-color;
	background: $button-bg-color;
	border: 1px solid $secondary;
	border-radius: 6px;
	transition: 0.25s ease-in-out border-color,  0.25s ease-in-out background;
	text-decoration: none;
	position: relative;
	font-weight: bold;
	line-height: 1.54;
	text-align: center;
	cursor: pointer;
	text-transform: none;
	@include fluid-property('padding-left', 24, 20);
	@include fluid-property('padding-right', 24, 20);
	@include fluid-property('padding-top', 12, 9);
	@include fluid-property('padding-bottom', 12, 9);
	@include fluid-property('font-size', 15, 13);
	&:hover, &:focus, &:active {
		background: darken($secondary, 15%);
		border-color: darken($secondary, 15%);
		color: $button-text-color-hover;
		background: $button-bg-color-hover;
		transition-duration: 0.3s;
		text-decoration: none;
	}
	@include media-breakpoint-up(md) {
		font-size: 1.5rem;
	}
	&[disabled] {
		pointer-events: none;
	}
}

.button, form input[type='submit'] {
	@extend %button;
}
// .button--light {
// 	@extend %button;
// }
.button--fluid {
	width: 100%;
	text-align: center;
	text-transform: none;
	font-size: 1.5rem;
	font-weight: bold;
}

.button--arrow {
	&::after {
		content: '';
		width: 14px;
		height: 14px;
		display: inline-block;
		position: relative;
		background-image: url("/public/img/svg/ic-arrow-right.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 9px 9px;
		left: 1px;
		top: 2px;
		transition: ease-in-out left 0.25s;
	}
	&:hover::after {
		left: 3px;
	}
	&.textOnlyCards__card__cta {
		&::after {
			top: 4px;
		}
	}
}
.button--download {
	i svg {
		margin-right: 8px;
	    position: relative;
	    top: 2px;
	    float: left;
	}
}
.button--more-padding {
	padding-left: 33px;
	padding-right: 33px;
}

.button--social {
	padding: 0;
	display: flex;
	align-items: center;
	width: 100%;
	border: none;

	.share__icon-wrap {
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 1px solid rgba(#fff, 0.5);
		margin-right: 16px;
	}
}

.button--facebook {
	background-color: #3b5998;
	&:hover {
		background-color: lighten(#3b5998, 10%);
	}
}

.button--twitter {
	background-color: #0084b4;
	&:hover {
		background-color: lighten(#0084b4, 10%);
	}
}

.button--linkedin {
	background-color: #0077b5;
	&:hover {
		background-color: lighten(#0077b5, 10%);
	}
}
