.footer__main {
	padding-top: 50px;
	@include media-breakpoint-up(md) {
		padding-top: 65px;
	}
	.button--arrow {
		display: none;
	}
	.navbar-nav.collapse {
		@include media-breakpoint-down(sm) {
			display: block;
			margin-top: 32px;
		}
	}
	.dropdown-item.active {
		background: transparent;
		//a {color: $light-purple;}
	}
	@include media-breakpoint-up(lg) {
		@include make-row();
		> nav {
			@include make-col-ready();
			@include make-col(9);
			ul.navbar-nav {
				@include make-row();
				flex-direction: row;
				> li {
					&:nth-last-of-type(1n + 2) {
						@include make-col-ready();
						@include make-col(2, 9);
					}
					&:nth-of-type(1n + 5) {
						@include make-col-ready();
						@include make-col(1, 9);
						padding-left: 0!important;
						padding-right: 0!important;
					}
					//top link
					> a, > a.has-submenu {
						padding: 0;
						margin-bottom: 16px;
						color: $color-switch;
						font-weight: bold;
						@include fluid-type($cta-text);
						&:hover {
							.menu-link-inner {
								color: $font-color-on-dark-bg;
							}
						}
					}
					//Secondary
					> ul {
						padding: 0;
						> li {
							padding: 0;
							margin-bottom: 6px;
							&:hover {
								background: transparent;
							}
							> a {
								padding-top: 0;
								padding-bottom: 0;
								&:hover {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
.footer__main__disclaimer {
	display: none;
	@include media-breakpoint-up(lg) {
		display: block;
		margin-bottom: 0;
		p {
			font-size: 1.2rem;
			line-height: 1.67;
			color: $link-color-on-dark-bg;
			margin-bottom: 0;
		}
	}
}
.footer__main__logo-disclaimer {
	@include media-breakpoint-up(lg) {
		display: block;
		@include make-col(3);
		@include make-col-ready();
		img {
			margin-bottom: 17px;
		}
	}
}

.footer__bottom {
	display: flex;
	flex-direction: column;
	padding-bottom: 48px;
	position: relative;
	@include media-breakpoint-up(md) {
		padding-top: 22px;
		margin-top: 22px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 62px;
		> div {
			@include make-row();
		}
	}
}
.footer__bottom__terms {
	width: 100%;
	order: 2;
	ul {
		display: flex;
		list-style: none;
		padding: 0;
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			justify-content: space-between;
		}
	}
	li {
		// float: left;
		margin-right: 10px;
		font-size: 1.2rem;
	}
	@include media-breakpoint-up(md) {
		order: 1;
		@include make-col(6);
		@include make-col-ready();
	}
}
.footer__social__wrap {
	display: flex;
	flex-direction: row;
	@include media-breakpoint-down(sm) {
		justify-content: space-between;
		width: 100%;
	}
	@include media-breakpoint-up(md) {
	}
}
.footer__bottom__social {
	display: flex;
	//follow us text
	.footer__social__wrap {
		display: flex;
		align-items: center;
	}
	.footer__social__icon-wrap {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 213px;
	}
	.footer__social__wrap > span {
		font-size: 1.3rem;
		line-height: 1.69;
		color: #ffffff;
		margin-right: 17px;
	}
	@include media-breakpoint-down(sm) {
		margin-top: 22px;
		margin-bottom: 14px;
		padding-bottom: 20px;
		order: 1;
		border-bottom: 2px solid $divider-on-dark;
	}
	@include media-breakpoint-up(md) {
		order: 2;
		justify-content: flex-end;
		@include make-col(6);
		@include make-col-ready();
	}
}
.footer__bottom__social-link {
	text-decoration: none;
	font-size: 2.4rem;
	line-height: 0;
	&:hover {
		i {
			color: darken($social-icon,10%);
		}
	}
	i {
		color: $social-icon;
	}
	@include media-breakpoint-up(md) {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

//footer menu
footer.section-bg-alt-dark {
	.nav-link {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 400;
		@include fluid-type($footer-menu-item);
		padding: 0;
		margin-bottom: 24px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}
	.menu-link-inner {
		font-weight: 700;
		font-size: 1.5rem;
		color: #fff;
	}
	.sub-arrow {
		display: none;
	}
}

//footer menu mobile only
@media #{$medium-down} {
	footer .nav-item.dropdown ul {
		display: none;
	}
}

#yump-credit-link {
	&:hover {
		text-decoration: none!important;
		img {
			opacity: 1;
		}
	}
	img {
		opacity: 0.9;
		position: relative;
		height: 10px;
		margin-left: 4px;
		top: 1px;
		transition: 0.25s ease-in-out opacity;
	}
}
