//TOP STRIP
$searchBarHeightDt: 40;
$searchBarHeightMob: 36;
.top-strip {
	@include clearfix;
	// @include fluid-property(padding-top, 16);
	// @include fluid-property(padding-bottom, 16);
	background: $white;
	// font-family: $roboto;
	.container {
		position: relative;
		//> div {
		//	display: inline-block;
		//}
	}

	.top-strip__extra {
		@include media-breakpoint-down(lg) {
			position: absolute;
			top: 145px; // updated from 70px, to add the space for the top two buttons
			left: 0;
			width: 100%;
			background-color: #f5f2f6;
		}
	}

	@media #{$bs-mobile} {
		.container {
			// padding: 0;
		}

		// .top-strip__logo-wrap {
		// 	img {
		// 		width: 169px;
		// 		height: auto;
		// 	}
		// }
		.top-strip__extra__utility {
			margin-right: 48px;
			li {
				margin-right: 14px;
			}
		}
	}
	@media #{$extra-small-only} {
		// .top-strip__logo-wrap {
		// 	img {
		// 		width: 120px;
		// 	}
		// }
	}
}

.top-strip .container .mobile-navigation {
	display: flex;
	align-items: center;
}

.searchform {
	width: calc(100% - 30px);
	@include media-breakpoint-up(xl) {
		width: auto;
	}
}

.search__wrap {
	position: relative;
	overflow: hidden;
	border: 1px solid #aeaeae;
	border-radius: 2px 8px 8px 2px;
	@include media-breakpoint-up(lg) {
		width: 189px;
		margin-top: 16px;
	}
	button {
		position: absolute;
		background-color: transparent;
		border: none;
		transform: rotate(270deg);
		line-height: 0;
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 28px;
		right:4px;
		top: -5px;
		border-top: 1px solid $light-grey;
		&::after {
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
			opacity: 1;
			transition: opacity ease-in-out 0.2s;
		}
		&:hover {
			&::after {
				opacity: 0.50;
			}
		}
		img {
			height: 18px;
			width: 18px;
			position: relative;
			z-index: 5;
		}
	}
}

.search-bar {
	width: 100%;
	position: relative;
	display: flex!important;
	align-items: center;
	justify-content: center;
	height: 70px;
	&__search_button {
		cursor: pointer;
	}
	input {
		height: 28px;
		padding-left: 12px;
		border: none;
		font-size: 1.2rem;
		font-weight: bold;
		width: 100%;
		color: #737473;
		::-webkit-input-placeholder { color: #737473 }
		input:-ms-input-placeholder { color: #737473 }
		::-ms-input-placeholder { color: #737473 }
		:-moz-placeholder { color: #737473 }
		::-moz-placeholder { color: #737473 }
		::placeholder { color: #737473 }
	}
}

.search-bar__toggle {
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
	line-height: 0;
	margin-right: 13px;
	svg {
		transform: rotateZ(270deg);

	}
}

//mobile style only
@media #{$large-down} {
	.top-strip__container {
		padding-right: 0px;
		border-bottom: 1px solid $mauve;
	}
}

.top-strip__logo-wrap {
	img {
		height: 39px;
		width: auto;
	}
	@include media-breakpoint-up(xl) {
		padding-top: 20px;
		padding-bottom: 20px;
		img {
			height: 56px;
		}
	}
}
.top-strip__logo-wrap {
	a {
		display: block;
		text-decoration: none;
	}
}
.top-strip__extra {
	text-align: right;
	position: relative;
	> * {
		display: inline-block;
	}
	@include media-breakpoint-up(xl) {
		display: block!important;
	}
}
.top-strip__extra__social, .top-strip__extra__utility {
	@include reset-list;
	float: left;
	z-index: 1;
	position: relative;
	li {
		@include fluid-property(height,$searchBarHeightMob,$searchBarHeightDt);
		float: left;
		margin-right: 32px;
		line-height: 40px;
		a {
			@include fluid-type($top-strip-menu-item);
			color: $color-switch;
			text-transform: uppercase;
			letter-spacing: 0.4px;
			margin-bottom: 7px;
	    	display: inline-block;
			&:hover, &:focus {
				// color: $color-switch;
				// opacity: 0.7;
				// text-decoration: none;
			}
		}
	}
}
.top-strip__extra__social {
	margin-right: 48px;
	li {
		.social-link {
			&:hover, &:focus {
				opacity: 0.7;
				path {
					fill: #fefefe;
				}
			}
		}
		@media #{$large-up} {
			display: flex;
			align-items: center;
			a {
				display: block;
				picture {
					display: flex;
			align-items: center;
				}
			}
		}
	}
}

//HEADER - MAIN
.header-main {
	width: 100%;
	position: absolute;
	height: 0px;
	overflow: visible;
	// top: 80px;
	z-index: 1030;
	.navbar {
		padding: 0;
	}
	&:not(.is-sticky) {
		border-top: 1px solid $mauve;
	}
	.is-sticky {
		border-bottom: 1px solid $mauve;
	}
}

.header-main__logo-wrap {
	// transition: none;
	display: none;
	align-items: center;
	margin-right: 48px;
	// justify-content: flex-start;
	width: 110px;
	height: 76px;
	&.logo-standard {

	}
	&.logo-long {

	}
	&.logo-high {

	}
}
.sticky-wrapper {
	transition: all 1s;
}
.is-sticky {
	.header-main__logo-wrap {
		display: inline-flex;
	}
	.sticky__site-logo-canvas {
		display: none;
		@media #{$extra-large-up} {
			@include fluid-property('margin-right',40,20);
			display: inline-block;
			width: 126px;
			height: 30.5px;
			background-repeat: no-repeat;
			background-position: 0 center;
			background-size: cover;
		}
	}
}
// .site-logo-canvas {
// 	flex: 0 0 auto;
// 	width: 100%;
// 	height: 100%;
// 	background-repeat: no-repeat;
// 	background-position: 0 center;
// 	background-size: contain;
// }

.navbar-expand-xl {
	.navbar-nav {
		width: 100%;
	}
	.button.button--arrow {
		width: 100%;
	}
	@include media-breakpoint-up(xl) {
		height: 60px;
		.navbar-collapse {
			justify-content: space-between;
		}
	}
}

.header-main__bg-wrap {
	background: rgba($light-mauve, 1);
	.button {
		min-height: 37px;
		padding:0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 192px;
		&::after {
			top: 0;
		}
	}
}

// ////////////////////// This bit comes from Wei for the mobile styling of the two integration buttons, feel free to put them somewhere else if necessary //////////////
@media #{$large-down} {
	.top-strip__container {
		flex-wrap: wrap;
		padding-left: 0;
		.top-strip__logo-wrap {
			order: 1;
			margin-left: 15px;
		}
		.top-strip__extra {
			order: 1;
		}
		.mobile-navigation {
			order: 1;
		}
		.top-strip__integrations {
			height: 64px; // otherwise, google translate was not initially displayed, so we wouldn't know the correct height of the top section
			order: 0;
			flex: 0 0 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $bg-main-menu;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
@media screen and (max-width: 350px) {
	.top-strip__container {
		.top-strip__integrations {
			justify-content: center;
			padding-left: 0;
			padding-right: 0;
		}
	}
}


.top-strip__integrations {
	#read-speaker-wrapper {
		margin-right: 24px;
	}

	.goog-te-gadget {
		.goog-te-combo {
			height: 28px;
			padding-left: 12px;
			// border: none;
			font-size: 1.2rem;
			border: 1px solid $color-greyish;
		    border-radius: 2px 8px 8px 2px;
		    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
			// font-weight: bold;
			margin: 0 0 4px;
		}
	}
}

// to make the two buttons appear to align right
@media #{$extra-large-up} {
	.top-strip__integrations {
		flex-grow: 1;
		display: flex;
		// align-items: center;
		justify-content: flex-end;
		padding: 0 24px;
		margin-top: 36px;
	}
}
// ////////////////////////////////////////////////////////////////////////////////////////////////
