.body-article.no-article {
  display: none;
}

.neo-article {
  margin: auto;
}

.body-article {
	.matrix-block-wrapper {
		&:not(:last-of-type) {
			.matrix-block {
				@include fluid-property(margin-bottom, 28, 16);
			}
			.matrix-block-iconsWithText {
				@include fluid-property(margin-bottom, 40, 16);
			}
		}
	}
}
.section-body {
	.matrix-block-wrapper {
		&:not(:last-of-type) {
			.matrix-block {
				@include fluid-property(margin-bottom, 32, 16);
			}
		}
	}
}

#main-content, footer {
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: none;
		transition: opacity 0.2s ease-in-out;
		opacity: 0;
		background-color: #000;
		z-index: 950;
	}
	&.darken {
		&::after {
			display: block;
			opacity: 0.5;
		}
	}
}

html.translated-rtl #mc_embed_signup {
	form {
		text-align: right;
	}
	.mc-field-group {
		margin-right: 0;
		float: right;
	}
} 
