.pagination {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	margin-bottom: 0px;
	@media #{$large-up} {
		margin-bottom: 32px;
	}
	.arrow {
		display: none;
		@media #{$medium-up} {
			display: block;
			position: absolute;
			background-color: $white;
			z-index: 1;
			span {
				transition: margin 0.3s;
			}
			&.prev {
				left: 0;
				padding-right: 24px;
				top: 4px;
				span {
					margin-left: 6px;
				}
				img {
					transform: scaleX(-1);
				}
				a {
					&:focus, &:hover, &:active {
						span {
							margin-left: 3px;
						}
					}
				}
			}
			&.next {
				right: 0;
				padding-left: 24px;
				top: 4px;
				span {
					margin-right: 6px;
				}
				a {
					&:focus, &:hover, &:active {
						span {
							margin-right: 3px;
						}
					}
				}
			}
			a {
				display: inline-block;
				color: $secondary;

				font-size: 1rem;
				line-height: 1;
				letter-spacing: 0.3px;
				font-weight: 700;
				text-decoration: none;
				&:focus, &:hover, &:active {
					text-decoration: none;
				}
				img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
	ol.pagers {
		padding: 0;
		@media #{$medium-up} {
			padding-left: 24px;
			padding-right: 24px;
			background-color: $white;
			z-index: 1;
			max-width: 340px;
		}
		margin: 0;
		display: inline-block;
		list-style: none;
		li {
			display: inline-block;
			&:not(:last-child) {
				margin-right: 8px;
			}
			a, span {

				font-size: 1rem;
				line-height: 32px;
				text-align: center;
				display: inline-block;
				font-weight: 700;
				color: $secondary;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				text-decoration: none;
				transition: all 0.3s;
				&.current {
					background-color: $primary;
					color: $white;
				}
			}
			a {
				&:focus, &:hover, &:active {
					color: $link-hover-color;
				}
			}
		}
	}
	.pagination-hr {
		display: none;
		@media #{$medium-up} {
			display: block;
		}
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 1px;
		background-color: $mauve;
		width: 50%;

		&.pagination-hr-left {
			left: 0;
		}
		&.pagination-hr-right {
			right: 0;
		}
	}
}
