.sidebar {
  width: 100%;
  &__heading {
    display: none;
    font-weight: 700;
  }
  &__wrap {
    @include media-breakpoint-down(sm) {
      position: static!important;
    }
  }
  &__current {
    cursor: pointer;
    .sidebar__dropdown {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light-purple;
      padding-right: 0px;
    }
    img {
      transition: 0.2s ease-in-out all;
    }
    &:not(.collapsed) {
      background-color: #fff;
      img {
        transform: rotate(180deg);
      }
    }
  }
  &__links .active {
    display: none;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  a, &__current {
    background-color: $light-mauve;
    transition: background-color 0.25s ease-in-out;
    height: 48px;
    width: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.54;
    color: $dark-purple;
    margin-bottom: 2px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .sidebar {
    @include make-col(12);
    padding-left: 15px;
    padding-right: 15px;
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    @include make-col(4);
    padding-left: 15px;
    padding-right: 15px;
    &__heading {
      margin-bottom: 16px;
      display: block;
      max-width: 210px;
    }
    &__links {
      display: block!important;
      height: auto!important;
    }
    .sidebar__current {
      display: none;
    }
    &__wrap {
      padding-top: 32px;
    }
    a {
      height: 38px;
      border-bottom: solid 1px rgba(194, 167, 207, 0.5);
      font-size: 1.4rem;
      padding-left: 0;
      background-color: transparent;
      width: 210px;
      &.active {
        color: $light-purple;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .sidebar {
    &__heading {
      max-width: 265px;
    }
    &__wrap {
      padding-top: 48px;
    }
    a {
      width: 265px;
    }
  }
}
