body {
	@media #{$small-up} {
	}
	@media #{$large-up} {
	}
}
h1, h2, h3, h4, h5, h6 {
}
p {
	@include fluid-type($p);
	&.large {
		@include fluid-type($large-body)
	}
}
h1 {
	@include fluid-type($h1);
}
h2 {
	@include fluid-type($h2);
	@include fluid-property('margin-bottom',14,14)
}
h3 {
	@include fluid-type($h3);
	@include fluid-property('margin-bottom',12,8)
}
h4 {
	@include fluid-type($h4);
}

html, body {
	@include font-smoothing(on);
}

html.translated-rtl body {
	text-align: right;
	ul,.matrix-block-textWithImageAside .text-div ul {
		direction: rtl;
		padding-right: 0;
		li {
			padding-left: 0;
			padding-right: 27px;
			&:after {
				left: unset;
				right: 6px;
			}
		}
	}
}

@mixin body-large {
	@include fluid-type($large-body);
}

//@include font-face(HelveticaNeue, "/public/fonts/HelveticaNeueLTStd-Roman", $weight: 400, $file-formats: 'otf'); //helvetica neue - regular

//@include font-face(HelveticaNeue, "/public/fonts/HelveticaNeueLTStd-Bd", $weight: 700, $file-formats: 'otf'); //helvetica neue - bold