
<nav class="{% if useDropdown %}navbar navbar-expand-xl{% endif %}">
	<a class="sticky__site-logo-canvas" href="/" style="background-image: url('/public/img/svg/logo/logo-mobile.svg')">
		<span class="sr-only">{{siteName}}</span>
	</a>
  {% set topMenu = craft.positivePartnerships.getMenu(entry is defined and entry ? entry : null) %}
  <div class="{% if useDropdown %}navbar-collapse {% endif %}main-menu">
  	{# <div class="d-xl-none top-strip__search-mobile search-bar"> #}
		{# {% include '_elements/_components/_search_bar.html' %} #}
	{# </div> #}
    <ul class="navbar-nav collapse" id="{{ navigationId }}" data-md-options="{ bootstrapHighlightClasses: '',{# subMenusSubOffsetX: -45,#} subMenusMinWidth: 200, collapsibleBehavior: 'accordion-link' }">
	{# collapsibleBehavior can be changed to 'accordion-link' if necessary #}
		{% for item in topMenu %}
			<li class="nav-item nav-item-first-level{% if item.active or item.inActivePath %} active{% endif %}{% if item.subMenu %} dropdown{% endif %}">
	        	<a class="nav-link{% if item.subMenu and useDropdown %} dropdown-toggle{% endif %}"
	        	   href="{{ item.url }}"
	        	   {% if item.subMenu %}
	        	   	id="{{ navigationId }}NavbarDropdownMenuLink{{ item.entryId }}"
				    data-toggle="dropdown"
				    aria-haspopup="true"
				    aria-expanded="false"
	        	   {% endif %}
	        	>
	        		<div class="menu-link-inner">
		        		{{ item.title }}{% if item.active or item.inActivePath %} <span class="sr-only">(current)</span>{% endif %}
		        	</div>
	        	</a>

	        	{% if item.subMenu %}
	        		<ul class="{% if useDropdown %}dropdown-menu dropdown-second-level-menu{% endif %}" aria-labelledby="{{ navigationId }}NavbarDropdownMenuLink{{ item.entryId }}">
	        			{% for subMenuItem in item.subMenu %}
	        				<li class="dropdown-item{% if subMenuItem.active or subMenuItem.inActivePath %} active{% endif %}{% if subMenuItem.subMenu %} dropdown{% endif %}">
		        				<a
		        					class="nav-link{% if subMenuItem.subMenu and useDropdown %} dropdown-toggle{% endif %}"
		        					href="{{ subMenuItem.url }}"
		        					{% if subMenuItem.subMenu %}
						        	   	id="{{ navigationId }}NavbarDropdownMenuLink{{ subMenuItem.entryId }}"
									    data-toggle="dropdown"
									    aria-haspopup="true"
									    aria-expanded="false"
					        	    {% endif %}
		        				>{{ subMenuItem.title }}{% if subMenuItem.active or subMenuItem.inActivePath %} <span class="sr-only">(current)</span>{% endif %}</a>

								{# {% if subMenuItem.subMenu %}
			        				<ul class="dropdown-menu dropdown-third-level-menu">
			        					{% for thirdLevelMenuItem in subMenuItem.subMenu %}
			        						<li class="dropdown-item{% if thirdLevelMenuItem.active or thirdLevelMenuItem.inActivePath %} active{% endif %}">
			        							<a class="nav-link" href="{{ thirdLevelMenuItem.url }}">{{ thirdLevelMenuItem.title }}{% if thirdLevelMenuItem.active or thirdLevelMenuItem.inActivePath %} <span class="sr-only">(current)</span>{% endif %}</a>
			        						</li>
			        					{% endfor %}
                                    </ul>
                                {% endif %} #}
		        			</li>
	        			{% endfor %}
			        </ul>
	        	{% endif %}
	        </li>
		{% endfor %}
		<li class="nav-item nav-item--button">
		<a href="http://learninghub.positivepartnerships.com.au/" target="_blank" class="button button--arrow">Online Learning Hub</a>
		</li>
    </ul>
	{# {% include '_elements/_components/_menu_extra.html' with { menuExtraClass: 'main-menu__extra--mobile d-xl-none' } %} #}
  </div>
</nav>
