{% set queryValue = query is defined and query ? query : '' %}
<form role="search" method="get" class="searchform group" action="{{ url('/search') }}">
	<label class="sr-only" for="search-input-header">
	 	Search:
	 </label>
	<div class="search__wrap">
		<input id="search-input-header" class="search-bar__search_text" type="search" name="q" placeholder="Search" value="{{queryValue}}" required>
		<button aria-label="Submit Search Query" class="search-bar__search_button hidden-collapse" type="submit">
			<img alt="" src="/public/img/svg/ic-search.svg">
		</button>
	</div>
	{#<div class="search-bar__search_submit_alt">#}
		{#<input type="submit" value="Search" class="button-emph">#}
	{#</div>#}
</form>
