{% extends "_layout" %}

{% block presignup %}
<section class="section-bg-light more-news">
	<div class="container">
		<h2>More News</h2>
		{% set moreNewsEntries = craft.entries.section('news')
		    .postDate('>= ' ~ entry.postDate.timestamp)
		    .id('not ' ~ entry.id)
			.limit(2)
		    .order('postDate asc')
		%}
		{% if moreNewsEntries | length < 2 %}
			{% set moreNewsEntries = craft.entries.section('news')
			    .postDate('<= ' ~ entry.postDate.timestamp)
			    .id('not ' ~ entry.id)
				.limit(2)
			    .order('postDate asc')
			%}
		{% endif %}
		<div class="more-news__cards news-page-news-list">
			{% for newsEntry in moreNewsEntries %}
				{% include '_elements/cards/profile_style_card.html' with {card: newsEntry, image: newsEntry.imageWithFocusPoint.first(), heading: newsEntry.title} %}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
{% block articleContentBottomLink %}
    <div class="cta cta--back">
    	{% set newsPage = craft.yump.getEntryByIdFix(craft.config.get('newsRootPageId')) %}
        <a class="cta__link"{% if newsPage %} href="{{ newsPage.url }}"{% endif %} title="Back to news">
            <span>Back to News</span>
        </a>
    </div>
{% endblock %}
