{% set messageType = messageType is defined and messageType ? messageType : 'danger' %}

<style>
.top-hint-banner {
	border-bottom: 1px solid #e8e8e8;
}
.top-hint-banner p {
    padding: 15px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
}
</style>

<div class="top-hint-banner">
	<p class="text-{{ messageType }} bg-{{ messageType }}">{{ hintMessage is defined ? hintMessage : '' }}</p>
</div>