<section class="banner-tabs">
    <div class="banner-tabs__background">
        <div class="banner-tabs__container">
            {% set bannerTabs = entry.bannerTabs %}
            <ul class="nav nav-tabs" id="bannerTabs" role="tablist">
                {% for tab in entry.bannerTabs %}
                    <li class="nav-item">
                        <a class="nav-link {{ loop.index == 1 ? 'active' : '' }}" id="tab-{{ tab.id }}" data-toggle="tab" href="#content-{{ tab.id }}" role="tab" aria-controls="content-{{ tab.id }}" aria-selected="false">
                            {% if tab.image is defined and tab.image %}
                                {#{% set imageUrl =  tab.image.first() | yumpimager(thumbSettings) %}#}
                                {#{% if imageUrl %}#}
                                <div class="nav-link__image" style="background-image:url({{tab.image.first().url}});"></div>
                                {#{% endif %}#}
                            {% endif %}
                            {% if tab.heading %}
                                <span>{{ tab.heading }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="banner-tabs__mauve-background">
        <div class="banner-tabs__container">
            <div class="tab-content" id="myTabContent">
                {% for tab in entry.bannerTabs %}
                    <div class="tab-pane fade {{ loop.index == 1 ? 'active show' : '' }}" id="content-{{ tab.id }}" role="tabpanel" aria-labelledby="tab-{{ tab.id }}">
                        <div class="tab__wrap">
                            {% for column in tab.tabColumns %}
                                <div class="tab-column">
                                    <h4 class="tab-column__heading">{{ column.heading }}</h4>
                                        <div class="tab-column__content">{{ column.tabContent|striptags('<br>')|raw }}</div>
                                    <a href="{{ craft.yump.generateValidUrl(column.button.url) }}" class="button button--arrow button--light w-100">{{ column.button.text }}</a>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
