{% if entry is defined and entry %}
	<section class="banner {% if entry.bannerImage is defined and entry.bannerImage|length > 0 %}banner--with-image{% endif %}
	{% if entry.bannerTabs is defined and entry.bannerTabs|length > 0 %}banner--with-tabs{% endif %}">
		<div class="banner__content-wrapper">
			<div class="container">
	            {% if entry.bannerImage is defined and entry.bannerImage %}
	                {% set thumbSettings = {
	                    width: 550,
	                    height: 550,
	                } %}
					<div class="banner__image-wrap">
	                    {% set image = entry.bannerImage.first() %}
	                    {% set posX = '50%' %}
	                    {% set posY = '50%' %}
	                    {% if image %}
	                    	{% set thumbSettings = thumbSettings | merge({
			                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'
			                }) %}
			                {% set posX = image.focusPctX ? image.focusPctX ~ '%' : '50%' %}
			                {% set posY = image.focusPctY ? image.focusPctY ~ '%' : '50%' %}
	                    {% endif %}
	                    {% set imageUrl =  image | yumpimager(thumbSettings) %}
	                    {% if imageUrl %}
							<div class="banner__image-wrap__image"  style=" background-image:url({{imageUrl}}); background-position:{{ posX ~ ' ' ~ posY }}">
							</div>
	                    {% endif %}
					</div>
	            {% endif %}
				<div class="banner__content">
	                {% set heading = entry.bannerHeading is defined and entry.bannerHeading ? entry.bannerHeading : entry.title %}
					<div class="banner__heading">
						<h1>{{ heading }}</h1>
					</div>
					{{ entry.bannerTextContent }}
	                {% if entry.bannerButton %}
						<a class="button button--light button--arrow button--more-padding" href="{{craft.yump.generateValidUrl(entry.bannerButton.url)}}">
	                        {{entry.bannerButton.text}}
						</a>
	                {% endif %}
				</div>
			</div>
		</div>
	</section>

	{% include '_elements/breadcrumbs.html' with {homeCrumb: true} %}

	{% if entry.bannerTabs is defined and entry.bannerTabs|length %}
		{% include '_elements/banner-tabs.html' %}
	{% endif %}
{% endif %}
