{% if craft.request.segments and entry is defined and entry %}
<nav class="crumbs-wrap">
    <div class="container">
        <div class="row">
            <ol class="breadcrumbs">
                {% if (homeCrumb is defined and homeCrumb) %}
                    <li><a href="/">Home</a><span class="separator">/</span></li>
                {% endif %}
                {% if custom is defined and custom %}
                    {% for crumb, key in custom %}
                        <li><a href="{{crumb}}">{{key}}</a><span class="separator">/</span></li>
                    {% endfor %}
                {% else %}
                    {% if entry.section.type == 'channel' %}
                        {% set length = craft.request.getSegments() | length %}
                        {% for index, segment in craft.request.getSegments() %}
                            {% set crumb = craft.entries.slug(craft.request.getSegment(index + 1)).first() %}
                            {% if(length > (index+1)) and crumb %}
                                <li>{{crumb.getLink()}}<span class="separator">/</span></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for crumb in entry.getAncestors() %}
                            <li>{{ crumb.getLink() }}<span class="separator">/</span></li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <li class="current">{{ entry.title() }}</li>
            </ol>
            {% include '/_elements/share.html' with {id: 'desktopShare'} %}

        </div>
    </div>
</nav>
{% endif %}
