{# please only allow one fb comments section on one page #}
<style>
	#fb-comments-section {
		display: none;
		margin-top: 45px;
		padding-top: 45px;
		border-top: 1px solid #ccc;
	}
</style>
<section id="fb-comments-section">
	<div class="container">
		<div class="fb-comments" colorscheme="dark" width="100%"></div>
	</div>
</section>

{% set fbCommentsControl %}
	$(function() {
		var fbLoadedChecker = setInterval(function() {
			if($('.fb-comments').attr('fb-xfbml-state') == 'rendered') {
				clearInterval(fbLoadedChecker);

				// show fb commnets section
				$('#fb-comments-section').show();
			}
		},200);
	});
{% endset %}
{% includeJs fbCommentsControl %}