<footer class="section-bg-alt-dark">
	<div class="container">
		<div class="footer__main">
			<div class="footer__main__logo-disclaimer">
				<img src="/public/img/svg/logo/logo-footer.svg" alt="Positive Partnerships Logo">
				{% if footer.contentUnderLogo is defined and footer.contentUnderLogo %}
					<div class="footer__main__disclaimer">
					{{footer.contentUnderLogo}}
					</div>
				{% endif %}
			</div>
			{% include '_elements/navigation/menu_main' with {useDropdown: false, navigationId: 'footerNav'}%}
		</div>
	</div>
	<div class="footer__bottom container">
		<div class="footer__bottom__terms">
			<ul>
			{% if footer.termsOfUseLinks is defined and footer.termsOfUseLinks %}
				{% for menuItem in footer.termsOfUseLinks %}
					<li><a href="{{menuItem.url}}">{{menuItem}}</a></li>
				{% endfor %}
			{% endif %}
				<li><a href="https://yump.com.au" id="yump-credit-link" target="_blank"><span>Site by</span><img src="/public/img/core/logo-yump-footer@2x.png"
																												 alt="Yump Logo"></a></li>
			</ul>
		</div>
		<div class="footer__bottom__social">
			{% if footer.social.socialMedia is defined and footer.social.socialMedia %}
				<div class="footer__social__wrap">
					<span>Follow us:</span>
                    <div class="footer__social__icon-wrap">
                        {% for social in footer.social.socialMedia %}
                            {% set title = social.iconTitle is defined ? social.iconTitle : '' %}
                            <a class="footer__bottom__social-link" href="{{social.socialMediaLink.url}}" target="_blank" title="{{title}}">
                                <i class="fab {{social.icon}}"></i>
								<span class="sr-only">Visit {{social.socialMediaLink.url}}</span>
							</a>
                        {% endfor %}
                    </div>
				</div>
			{% endif %}
		</div>
	</div>
</footer>
