{# <div class="google-translate-element">
	<div id="google_translate_element"></div>

		<script type="text/javascript">
			function googleTranslateElementInit() {
				var gaId = {{ externalScripts.googleAnalyticsId | json_encode | raw }};
				var gaTrack = false;
				if(gaId && gaId.trim() != '') {
					gaTrack = true;
				} else {
					gaId = null;
				}
			    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.TOP_LEFT, gaTrack: gaTrack, gaId: gaId}, 'google_translate_element');
			}
		</script>

		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div> #}

<div class="google-translate-element">
	<div id="google_translate_element"></div><script type="text/javascript">
	function googleTranslateElementInit() {
		var gaId = {{ craft.yump.getSiteIdentityAttribute('googleAnalyticsUID') | json_encode | raw }};
		var gaTrack = false;
		if(gaId && gaId.trim() != '') {
			gaTrack = true;
		} else {
			gaId = null;
		}
		// google.translate.TranslateElement.InlineLayout.SIMPLE uses iframe and the list is broken on mobile, so we will have to use TOP_LEFT layout, which we can style the dropdown box the way we want.
	    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.TOP_LEFT, gaTrack: gaTrack, gaId: gaId, autoDisplay: false}, 'google_translate_element');
	}
	</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
