{% set ppSiteUrl = craft.config.get('siteUrl') %}
<header class="">
	<div class="top-strip clearfix">
		<div class="top-strip__container container d-flex justify-content-between align-items-center">
			<div class="top-strip__logo-wrap">
				{% if ppSiteUrl %}<a href="{{ ppSiteUrl }}">{% endif %}
					<img class="d-none d-lg-block top-strip__logo-wrap__dt" src="/public/img/svg/logo/logo-desktop.svg" alt="Positive Partnerships Logo">
					<img class="d-lg-none top-strip__logo-wrap__mobile" src="/public/img/svg/logo/logo-mobile.svg" alt="Positive Partnerships Mobile Logo">
				{% if ppSiteUrl %}</a>{% endif %}
			</div>
			<div class="top-strip__integrations">
				{% include '_elements/read_speaker' %}
				{% include '_elements/google_translate' %}
			</div>
			<div class="top-strip__extra collapse" id="searchBar">
				{# {% include '_elements/navigation/_menu_extra.html' with {menuExtraClass: 'top-strip__extra__utility'} %} #}
				<div class="top-strip__extra__search search-bar">
					{% include '_elements/navigation/search_bar.html' %}
				</div>
			</div>
			<div class="mobile-navigation d-xl-none">
				<button class="search-bar__toggle collapsed" type="button" data-toggle="collapse" data-target="#searchBar" aria-controls="searchBar" aria-expanded="false" aria-label="Toggle search box">
                    {{ craft.inlin.er('/public/img/svg/ic-search.svg') | raw }}
				</button>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    {# <span class="navbar-toggler-text">Menu</span> #}
					<span class="hamburger">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</span>
				</button>
			</div>
		</div>
	</div>

	{# {% cache globally using key "main-menu:" ~ craft.request.url %} #}
	<div class="header-main" data-toggle="sticky-onscroll">
		<div class="header-main__bg-wrap">
			<div class="container">
				{% include '_elements/navigation/menu_main' with {useDropdown: true, navigationId: 'navbarNavDropdown'} %}
			</div>
		</div>
	</div>
	{# {% endcache %} #}
</header>
