<div id="read-speaker-wrapper">
	<div id="readspeaker_button" class="rs_skip rsbtn rs_preserve">
	    <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Listen to this page using ReadSpeaker" href="//app-oc.readspeaker.com/cgi-bin/rsent?customerid=8312&lang=en_au&readid=main-content&url={{ craft.request.url | url_encode }}">
	        <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Listen</span></span></span>
	        <span class="rsbtn_right rsimg rsplay rspart"></span>
	    </a>
	</div>
</div>