<div class="share">
    <a class="share__heading collapsed" data-toggle="collapse" href="#{{ id }}" role="button" aria-expanded="false" aria-controls="{{ id }}">
        <i class="fa fa-share-alt-square"></i>
        <span>Share this page on social media</span>
        <img src="/public/img/svg/navigation/ic-chevron-down.svg" alt="">
    </a>
    <div class="share__content share-buttons collapse" id="{{ id }}">
        <a href="#" class="st-custom-button button button--social button--facebook" data-network="facebook">
            <div class="share__icon-wrap">
                <img src="/public/img/svg/social/ic-facebook.svg" alt="">
            </div>
            <span>Share on Facebook</span>
        </a>
        <a href="#" class="st-custom-button button button--social button--twitter" data-network="twitter">
            <div class="share__icon-wrap">
                <img src="/public/img/svg/social/ic-twitter.svg" alt="">
            </div>
            <span>Share on Twitter</span>
        </a>
        <a href="#" class="st-custom-button button button--social button--linkedin" data-network="linkedin">
            <div class="share__icon-wrap">
                <img src="/public/img/svg/social/ic-linkedin.svg" alt="">
            </div>
            <span>Share on Linkedin</span>
        </a>
    </div>
</div>
