<div class="sidebar">
    <div class="sidebar__wrap">
        <h4 class="sidebar__heading">{{ entry.parent.title }}</h4>
        <a class="sidebar__current collapsed" data-toggle="collapse" href="#sidenav" role="button" aria-expanded="false" aria-controls="sidenav">
            <span>{{ entry.title }}</span>
            <div class="sidebar__dropdown">
                <img src="/public/img/svg/navigation/ic-chevron-down-white.svg" alt="">
            </div>
        </a>
        <ul class="collapse sidebar__links" id="sidenav">
            {% for sibling in entry.parent.children %}
                <li>
                    <a href="{{ sibling.url }}" class="{{ sibling.slug == entry.slug ? 'active' : '' }}">
                        {{ sibling.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
