.signup-newsletter-banner {
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $mauve;
	flex-wrap: wrap;
	@media #{$large-up} {
		h3 {
			margin-bottom: 0;
		}
	}

	#subForm {
		display: flex;
		.sign-up-block__form-group {
			&:not(:last-child) {
				margin-right: 12px;
			}
			input[type="text"], input[type="email"] {
				border: 1px solid $light-grey;
				padding-left: 16px;
				padding-right: 16px;
				min-width: 200px;
			}
			.js-cm-submit-button {
				margin-top: 26px;
				width: 100%;
			}
		}

		@media #{$medium-down} {
			flex-basis: 100%;
			width: 100%;
			max-width: 100%;
			.sign-up-block__form-group {
				.js-cm-submit-button {
					margin-top: 29px;
					width: 100%;
				}
			}
		}
		@media #{$bs-mobile} {
			flex-wrap: wrap;
			.sign-up-block__form-group {
				flex-basis: 100%;
				width: 100%;
				max-width: 100%;
				.js-cm-submit-button {
					margin-top: 8px;
				}
			}
		}
	}
}

.news-page-news-list {
	@media #{$extra-small-only} {
		margin-top: -32px;
	}
	.ps-cards__featured {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 48px;
		@media #{$large-up} {
			margin-bottom: 64px;
		}
	}
	.ps-cards__card {
		min-height: 1px;
		margin-bottom: 0;
	}

	.pp-card--ps__content__image {
		flex: 1 0 96px;
		width: 96px;
		max-width: 96px;
		height: 96px;
		align-self: flex-start;
		border-radius: 4px;
		@include media-breakpoint-up(md) {
			flex: 1 0 124px;
			width: 124px;
			max-width: 124px;
			height: 124px;
		}
		@include media-breakpoint-up(lg) {
			flex: 1 0 144px;
			width: 144px;
			max-width: 144px;
			height: 144px;
		}
		@include media-breakpoint-up(xl) {
			flex: 1 0 192px;
			width: 192px;
			max-width: 192px;
			height: 192px;
		}
	}
	.pp-card--ps__content__text {
		padding-left: 16px;
		padding-right: 0;
	}
	.pp-card {
		> div {
			border: none;
			box-shadow: none!important;
			height: auto;
		}
		&:not(:last-of-type) {
			> div {
				margin-bottom: 24px;
				@include media-breakpoint-up(md) {
					margin-bottom: 32px;
				}
			}
		}
	}
	h4 {
		padding-top: 0!important;
	}
	p:last-of-type {
		margin-bottom: 0;
	}

	.pagination {
		margin-top: 48px;
	}
}

.more-news {
	border-top: 1px solid $divider;
	@include fluid-property('padding-top',63);
	@include fluid-property('padding-bottom',80);
	h2 {
		@include fluid-property('margin-bottom',32);
	}
}
.more-news__cards {
	@include make-row();
	.ps-cards__card > div {
		background: transparent;
	}
}