.search-results-page {
	.search-results-page-content {
		margin-top: 48px;
		margin-bottom: 48px;
	}
	.header-main__bg-wrap {
		background-color: $bg-main-menu;
	}
	.crumbs-wrap {
		// margin-top: 60px;
	}
	#search-result-page-search-form-wrapper {
		background-image: url(/public/img/banner/dot-pattern-purple-banner@2x.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top right;
		background-color: $primary;
	    padding: 54px 0;
	    margin-top: 127px;
	    @media #{$extra-large-up} {
	    	margin-top: 60px;
	    }
		.search-form {
			position: relative;
			width: 100%;
		}
		#search-result-page-search-input {
			width: 100%;
			height: 48px;
			background-color: #fff;
			border-radius: 4px;
			padding-left: 16px;
			padding-right: 110px;
			border: none;
			color: $primary;
			font-size: 1.5rem;
			line-height: 24px;
			@include media-breakpoint-up(md) {
				padding-right: 218px;
			}
		}
		#search-result-page-search-submit {
			position: absolute;
			right: 4px;
			top: 4px;
			padding-top: 8px;
			padding-bottom: 8px;
			@include media-breakpoint-up(md) {
				padding-left: 72px;
				padding-right: 72px;
			}
		}
	}

	.sidebar-refine-search {
		@media #{$bs-mobile} {
			margin-bottom: 32px;
		}
		.sidebar-search-inner {
			border-radius: 4px;
			box-shadow: 0 15px 20px 0 rgba(113, 45, 144, 0.05);
			border: 1px solid $mauve;
			background-color: $white;
			padding: 24px;
			.sidebar-heading {
				font-size: 2.0rem;
				font-weight: bold;
				line-height: 1.2;
				color: $secondary;
				margin-bottom: 24px;
			}
			.refine-search-controls {
				.custom-control {
					&:not(:last-child) {
						margin-bottom: 19px;
					}
				}
			}
		}
	}

	.search-results {
		h1 {
			margin-bottom: 21px;
		}
		.results-count {
			margin-bottom: 32px;
			@media #{$medium-up} {
				margin-bottom: 41px;
			}
		}
		.search-results-list {
			list-style: none;
			padding-left: 0;
			& > li {
				&:not(:last-child) {
					margin-bottom: 42px;
				}
				.search-result-entry-title {
					a {
						color: $body-color;
						transition: all 0.3s;
						font-size: 1.7rem;
						line-height: 28px;
						font-weight: bold;
						&:focus, &:hover, &:active {
							color: $primary;
						}
					}
				}

				.excerpt {
					font-size: 1.5rem;
				}

				.highlight {
					color: $white;
					background-color: $secondary;
					padding: 4px 0;
				}

				.search-result-item-breadcrumb {
					@media #{$bs-mobile} {
						display: block;
					}
					background: none;
					margin-top: 16px;
					.breadcrumbs {
						display: flex;
						padding: 0;
						height: auto;
						li {
							color: $primary;
							&.current {
								color: $secondary;
								font-weight: bold;
							}
						}
						.separator {
							color: $text-light-grey;
						}
					}
				}
			}
		}
		.pagination {
			margin-top: 40px;
			@media #{$medium-up} {
				margin-top: 52px;
			}
		}
	}
}
