@import "base/_config";
.redactor-box .redactor-styles {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
body .redactor-dropdown {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.richtext-button a {
	display: inline-block;
    padding: 7px 16px;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.69;
    letter-spacing: 1.2px;
    color: #3d84cc !important;
    border: 3px solid #3d84cc;
}