.docs-nav-wrapper {
	padding: 25px;
	display: none;	
	background-color: #ebebeb;
}
.docs-nav-wrapper ul {
	padding-left: 20px;
	list-style: disc;
}
.docs-nav {
	margin-left: 18px;
}
.docs-nav-wrapper .docs-nav-submenu {
	/*list-style: circle;*/
}
.docs-nav-toggle {
	padding: 12px 18px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.docs-nav-toggle.expanded {
	background-color: #ccc;
	color: #555;
}
.docs-nav-toggle .glyphicon {
	float: right;
}
.docs-nav li a {
	color: #000;
}
.docs-nav li.active > a,
.docs-nav li.active > a:focus,
.docs-nav li.active > a:hover {
	color: #888;
}

.doc-content {
	// margin-top: 45px;
	/*margin-bottom: 45px;*/
}
.doc-title {
	margin-bottom: 0;
}
.docs-nav-section {
	margin-top: 45px;
}