{#######################################################################
https://harvesthq.github.io/chosen/
https://harvesthq.github.io/chosen/options.html

Critical args needs to pass in:
1. useOptgroups - boolean (default: false): define if we use optgroups or not. If set to false, even there are group titles given in options, it will be converted into '<option>' instead of '<optgroup>'
2. id: it's required, otherwise, chosen might not work properly here (not because of chosen, because of us)
3. cssWidth: width of chosen field.
4. chosenOptions: same as chosen plugin settings.
5. options: full list. format:
	options: [
		{
			isGroupTitle: optgroup only. Determine if this option is the group title or not. If yes, this option will be converted into <optgroup>, otherwise, <option>,
			optgroup: name of the optgroup,
			label: name of this option,
			value: usually id,
		},
		{
			...
		},
		...
	]
6. values: array of SELECTED options' value (usualy id). - array of string / integer
7. placeholder: placeholder of the chosen field

Example usage would be like this:

{{ craft.yumpForm.field('professionalSkills.', 'chosen', {
	options: skillOptions,
	values: skillValues,
	useOptgroups: true,
	cssWidth: '500px',
	id: 'skill-list',
	chosenOptions: {
	},
}) }}
#####################################################################}

{% includeCssFile "https://cdn.jsdelivr.net/chosen/1.1.0/chosen.min.css" %}
{% includeJsFile "https://cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js" %}

{%- set wrapperClass = [
	'chosen-select',
	'form-group',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'form-control',
	(class is defined ? class : null)
]|filter|join(' ') %}

{%- set labelClass = [
	'control-label',
	(labelClass is defined ? labelClass : null)
]|filter|join(' ') %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}

{%- set options = (options is defined ? options : []) %}
{%- set values = (values is defined ? values : []) -%}
{%- set useOptgroups = useOptgroups is defined ? useOptgroups : false -%}
{%- set hasOptgroups = false -%}
{% set chosenOptions = chosenOptions is defined ? chosenOptions : [] %}

{% set cssWidth = cssWidth is defined ? cssWidth : false %}
{% if id is defined and id %}
	{##### chosen makes its container id: this_format_chosen. #####
	##### e.g. we define id: skill-list, chosen make it 'skill_list_chosen' #####}
	{%- set chosenId = id | replace({'-': '_'}) -%}
	{%- set chosenId = chosenId ~ '_chosen' -%}
{% else %}
	{%- set chosenId = false -%}
{% endif %}

{% set multiselect = multiselect is defined ? multiselect : true %}

<div class="{{ wrapperClass }}">
	<input type="hidden" name="{{ name | replace({'[]' : ''}) }}">

	{% if label is defined and label %}
		<label for="{{ id }}" class="{{ labelClass }}">{{ label }}</label>
	{% endif %}

	{% if horizontal %}
		<div class="{{ hrInputWrapperClass }}">
	{% endif %}

	<select {{ multiselect ? 'multiple' : '' }}
		class="{{ class }}"
		{%- if placeholder is defined %} data-placeholder="{{ placeholder }}"{% endif %}
		{%- if id is defined %} id="{{ id }}"{% endif %}
		{%- if name is defined and name %} name="{{ name }}"{% endif %}
		{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
		{%- if disabled is defined and disabled %} disabled{% endif %}
		{%- if size is defined %} size="{{ size }}"{% endif %}>
		{%- for key, option in options %}
			{% if option.isGroupTitle is defined and option.isGroupTitle and useOptgroups %}
				{% if hasOptgroups %}
					</optgroup>
					{% set hasOptgroups = false %}
				{% else %}
					{% set hasOptgroups = true %}
				{% endif %}
				<optgroup label="{{ option.optgroup }}">
			{% else %}
				{% set optionLabel = (option.label is defined ? option.label : option) %}
				{% set optionValue = (option.value is defined ? option.value : key) %}
				{% set optionDisabled = (option.disabled is defined ? option.disabled : false) %}
				<option value="{{ optionValue }}"{% if optionValue in values %} selected{% endif %}{% if optionDisabled %} disabled{% endif %}>{{ optionLabel }}</option>
			{% endif %}
		{%- endfor %}
		{% if useOptgroups %}
			</optgroup>
		{% endif %}
	</select>

	{% if horizontal %}
		</div>
	{% endif %}
</div>

{% set chosenScript %}

$(function() {
  $('#' + {{ id | json_encode | raw }} ).chosen({{ chosenOptions | json_encode | raw }});

  var cssWidth = {{ cssWidth | json_encode | raw }};
  var chosenId = {{ chosenId | json_encode | raw }};
  if(cssWidth && chosenId) {
  	$('#' + chosenId).css('width', cssWidth);
  }
  
});

{% endset %}

{% includeJs chosenScript %}