{%- set class = [
	'yump-form',
	(class is defined ? class : null)
]|filter|join(' ') %}

{%- set method = (method is defined ? method : 'post') -%}
{%- set charset = (charset is defined ? charset : 'UTF-8') -%}
{%- set enctype = (enctype is defined ? enctype : 'application/x-www-form-urlencoded') -%}

{% includeCssResource "yumpform/css/yumpform.css" %}

<form class="{{ class }}"
      {%- if id is defined %} id="{{ id }}"{% endif %}
	  method="{{ method }}" 
	  {% if postTo is defined and postTo %} action="{{ postTo }}"{% endif %}
	  accept-charset="{{ charset }}"
	  enctype="{{ enctype }}"
	  preventdoublesubmit
	  {% if enableYumpValidation is defined and enableYumpValidation %} data-yumpvalidate="true"{% endif %}
>
	{{ getCsrfInput() }}

	{%- if saveEntry is defined and saveEntry and ((entryId is defined and entryId) or (sectionId is defined and sectionId)) %} 
		{%- set action = (action is defined ? action : 'entries/saveEntry') -%}
		<input type="hidden" name="action" value="{{ action }}">
		{%- if entryId is defined and entryId %} 
			<input type="hidden" name="entryId" value="{{ entryId }}">
		{% endif %}
		{%- if sectionId is defined and sectionId %} 
			<input type="hidden" name="sectionId" value="{{ sectionId }}">
		{% endif %}
	{% endif %}

	{%- if saveUser is defined and saveUser %} 
		{%- set action = (action is defined ? action : 'users/saveUser') -%}
		<input type="hidden" name="action" value="{{ action }}">
		{%- if userId is defined and userId %} 
    		<input type="hidden" name="userId" value="{{ userId }}">
    	{% endif %}
	{% endif %}

	{%- if redirect is defined and redirect %} 
		<input type="hidden" name="redirect" value="{{ redirect }}">
	{% endif %}

	{% if newUserId is defined and newUserId %}
		<input type="hidden" name="newUserId" value="{{ newUserId }}">
	{% endif %}

    {%- set enabled = (enabled is defined ? enabled : 1) -%}
    <input type="hidden" name="enabled" value="{{ enabled }}">

