{% from 'errorList' import errorList %}

{%- set wrapperClass = [
	'fileupload-field-wrapper',
	'form-group',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'form-control',
	(class is defined ? class : null),
	(errors is defined and errors ? 'form-field-error'),
]|filter|join(' ') %}

{%- set labelClass = [
	'control-label',
	(labelClass is defined ? labelClass : null)
]|filter|join(' ') %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}

{% if id is not defined or not id %}
	{% if name is defined and name %}
		{%- set idSuffix = name | replace({'\'': '', '"': '', '[': '', ']': ''}) -%}
		{%- set id = 'fileUploadField' ~ idSuffix -%}
	{% endif %}
{% endif %}

{% set name = name is defined ? name : '' %}

<div class="{{ wrapperClass }}"
>

{% if label is defined and label %}
	<label for="{{ name }}" class="{{ labelClass }}">{{ label }}</label>
{% endif %}

{% if horizontal %}
	<div class="{{ hrInputWrapperClass }}">
{% endif %}

	<input type="file"
		   id="{{ id }}"
		   class="{{ class }}"
		   name="{{ name }}"
		   {% if required is defined and required %} required{% endif %}
		   {% if value is defined and value is not iterable %} value="{{ value }}"{% endif %}
		   {% if accept is defined and accept %} accept="{{ accept }}"{% else %} accept="image/*"{% endif %}>

	{% if hint is defined and hint %}
		<p class="yump-form-field-hint">{{ hint }}</p>
	{% endif %}

	{% if errors is defined and errors %}
		{{ errorList(errors) }}
	{% endif %}

	{# {% set image = value is defined and value is iterable ? value.first() : null %}

	{% if image %}
	<div class="asset-image-wrapper">
		<img src="{{ image.url }}">
	</div>
	{% endif %} #}

{% if horizontal %}
	</div>
{% endif %}



</div>