{% includeCssFile "/src/css/yump-matrix.css" %}

{%- set wrapperClass = [
	'yump-matrix',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'yump-matrix-blocks',
	(class is defined ? class : null)
]|filter|join(' ') %}

{%- set labelClass = [
	'control-label',
	(labelClass is defined ? labelClass : null)
]|filter|join(' ') %}

{% set hrInputWrapperClass = hrInputWrapperClass is defined and hrInputWrapperClass ? hrInputWrapperClass : '' %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}

{% if id is not defined or not id %}
	{% if name is defined and name %}
		{%- set idSuffix = name | replace({'\'': '', '"': '', '[': '', ']': ''}) -%}
		{%- set id = 'matrixBlock' ~ idSuffix -%}
	{% endif %}
{% endif %}

{% if name is defined and name %}
	{%- set name = 'fields[' ~ name ~ ']' -%}
{% endif %}

<div class="{{ wrapperClass }}"
	 id="{{ id }}"
>

{% if heading is defined and heading %}
	<h3 class="yump-matrix-heading">{{ heading }}</h3>
{% endif %}

<input type="hidden" name="{{ name }}" value="">

<div class="{{ class }}">

	{% for blockId, block in value %}
		<div class="yump-matrix-block">
			<div class="yump-matrix-block-header">
				<span class="yump-matrix-block-delete glyphicon glyphicon-minus-sign"></span>
			</div>

			<div class="yump-matrix-block-body{% if(horizontal) %} form-horizontal{% endif %}">
				<input type="hidden" name="{{ name }}[{{ blockId }}][type]" value="{{ block.blockType }}">
				{% for fieldName, field in block.blockValue %}
					<div class="yump-matrix-field-wrapper form-group">

					{% switch fieldName %}
					    {% case "employmentRole" %}
					        {% set placeholder = 'Your role in this employment' %}
					    {% case "employmentTime" %}
					        {% set placeholder = 'E.g. 6/2013 - 5/2016' %}
					    {% case "employmentCompany" %}
					        {% set placeholder = 'Company' %}
					    {% case "employmentDescription" %}
					        {% set placeholder = 'Briefly describe what you do in this employment' %}
					    {% default %}
							{% set placeholder = '' %}
					{% endswitch %}

						{% if field.type == 'text' %}
							<label for="{{ name }}[{{ blockId }}][fields][{{ fieldName }}]"
								   class="{{ labelClass }}"
								   >{{ field.name }}{% if field.required %}<span class="required-asterisk">*</span>{% endif %}</label>
						    {% if horizontal %}
						   		<div class="{{ hrInputWrapperClass }}">
						    {% endif %}
								<input 
									class="yump-matrix-field form-control" 
									type="text" 
									name="{{ name }}[{{ blockId }}][fields][{{ fieldName }}]" 
									value="{{ field.value }}"{{ field.required ? ' required' : '' }}
									placeholder="{{ placeholder }}"
								>
							{% if horizontal %}
						   		</div>
						    {% endif %}
						{% else %}
							<label for="{{ name }}[{{ blockId }}][fields][{{ fieldName }}]"
								   class="{{ labelClass }}"
								   >{{ field.name }}{% if field.required %}<span class="required-asterisk">*</span>{% endif %}</label>
							{% if horizontal %}
						   		<div class="{{ hrInputWrapperClass }}">
						    {% endif %}
								<textarea 
									class="yump-matrix-field form-control" 
									name="{{ name }}[{{ blockId }}][fields][{{ fieldName }}]"
									placeholder="{{ placeholder }}"
								>{{ field.value }}</textarea>
							{% if horizontal %}
						   		</div>
						    {% endif %}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>

<div class="add-block-button-wrapper">
	<a style="cursor: pointer" class="vollie-btn" id="add-block-button-{{ id }}">{{ addBlockBtnText is defined ? addBlockBtnText : 'Add a new entry' }}</a>
</div>

{% set matrixScript %}

var newBlockNumber = 0;
$(function() {
	var $addBlockBtn = $('#add-block-button-' + {{ id | json_encode | raw }});
	var $matrixContainer = $('#' + {{ id | json_encode | raw }} + ' .yump-matrix-blocks');

	var name = {{ name | json_encode | raw }};

	var horizontal = {{ horizontal | json_encode | raw }};
	var labelClass = {{ labelClass | json_encode | raw }};
	var hrInputWrapperClass = {{ hrInputWrapperClass | json_encode | raw }};

	$addBlockBtn.click(function() {
		var newBlockHtml = '';
		newBlockNumber++;
		var blockId = 'new' + newBlockNumber;
		var blockType = 'employmentHistoryEntry';
		var fields = {
			employmentRole: {
				name: 'Role',
				type: 'text',
				required: true,
			},
			employmentTime: {
				name: 'Time',
				type: 'text',
				required: true,
			},
			employmentCompany: {
				name: 'Company',
				type: 'text',
				required: true,
			},
			employmentDescription: {
				name: 'Description',
				type: 'textarea',
				required: false,
			},
		};

		newBlockHtml += '<div class="yump-matrix-block">';
		newBlockHtml += '<div class="yump-matrix-block-header"><span class="yump-matrix-block-delete glyphicon glyphicon-minus-sign"></span></div>';
		newBlockHtml += '<div class="yump-matrix-block-body' + (horizontal ? ' form-horizontal' : '') + '">';
		newBlockHtml += '<input type="hidden" name="' + name + '[' + blockId + '][type]" value="' + blockType + '">';
		$.each(fields, function(field, settings) {
			newBlockHtml += '<div class="yump-matrix-field-wrapper form-group">';

			switch (field) {
				case "employmentRole": 
			        var placeholder = 'Your role in this employment';
			        break;
			    case "employmentTime": 
			        var placeholder = 'E.g. 6/2013 - 5/2016';
			        break;
			    case "employmentCompany": 
			        var placeholder = 'Company';
			        break;
			    case "employmentDescription": 
			        var placeholder = 'Briefly describe what you do in this employment';
			        break;
			    default:
					var placeholder = '';
					break;
			}    

			if(settings.type == 'text') {
				newBlockHtml += '<label for="' + name + '[' + blockId + '][fields][' + field + ']" class="' + labelClass + '">' + settings.name + (settings.required ? '<span class="required-asterisk">*</span>' : '') + '</label>';
				if(horizontal) {
					newBlockHtml += '<div class="' + hrInputWrapperClass + '">';
				}
				newBlockHtml += '<input class="yump-matrix-field form-control" type="text" name="' + name + '[' + blockId + '][fields][' + field + ']" value=""' + (settings.required ? ' required' : '') + ' placeholder="' + placeholder + '">';
				if(horizontal) {
					newBlockHtml += '</div>';
				}
			} else {
				newBlockHtml += '<label for="' + name + '[' + blockId + '][fields][' + field + ']" class="' + labelClass + '">' + settings.name + (settings.required ? '<span class="required-asterisk">*</span>' : '') + '</label>';
				if(horizontal) {
					newBlockHtml += '<div class="' + hrInputWrapperClass + '">';
				}
				newBlockHtml += '<textarea class="yump-matrix-field form-control" type="text" name="' + name + '[' + blockId + '][fields][' + field + ']"' + (settings.required ? ' required' : '') + ' placeholder="' + placeholder + '"></textarea>';
				if(horizontal) {
					newBlockHtml += '</div>';
				}
			}
			newBlockHtml += '</div>';
		});
		newBlockHtml += '</div></div>';

		$matrixContainer.append(newBlockHtml);
	});
	// end of add a block onclick function

	$(document).on('click', '.yump-matrix-block-delete', function() {
		$(this).closest('.yump-matrix-block').remove();
		<!-- deleteCurrentBlock($(this)); -->
	});

});

function deleteCurrentBlock($closeBtn) {
	console.log($closeBtn);
}

{% endset %}

{% includeJs matrixScript %}

</div> <!-- end of .yump-matrix -->

