{% from 'errorList' import errorList %}

{%- set wrapperClass = [
	'plaintextarea-field-wrapper',
	'form-group',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'form-control',
	(class is defined ? class : null),
	(errors is defined and errors ? 'form-field-error'),
]|filter|join(' ') %}

{%- set labelClass = [
	'control-label',
	(labelClass is defined ? labelClass : null)
]|filter|join(' ') %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}

{% if id is not defined or not id %}
	{% if name is defined and name %}
		{%- set idSuffix = name | replace({'\'': '', '"': '', '[': '', ']': ''}) -%}
		{%- set id = 'plainTextareaField' ~ idSuffix -%}
	{% endif %}
{% endif %}

{% set name = name is defined ? name : '' %}

<div class="{{ wrapperClass }}"
>

{% if label is defined and label %}
	<label for="{{ name }}" class="{{ labelClass }}">{{ label }}{% if required is defined and required %}<span class="required-asterisk">*</span>{% endif %}</label>
{% endif %}

{% if horizontal %}
	<div class="{{ hrInputWrapperClass }}">
{% endif %}

	<textarea id="{{ id }}" 
	          name="{{ name }}" 
	          class="{{ class }}" 
	          placeholder="{{ placeholder is defined ? placeholder : '' }}"
	          {{ required is defined and required ? 'required' : '' }}
	          {{ rows is defined and rows ? 'rows=' ~ rows : '' }}
	          {%- if maxlength is defined and maxlength %} maxlength="{{ maxlength }}"{% endif %}
	          {%- if showCharsLeft is defined and showCharsLeft %} data-show-chars-left{% endif %}
	          {%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
	          {%- if disabled is defined and disabled %} disabled{% endif %}
	    >{{ value is defined ? value : '' }}</textarea>

	{% if hint is defined and hint %}
		<p class="yump-form-field-hint">{{ hint }}</p>
	{% endif %}

	{% if errors is defined and errors %}
		{{ errorList(errors) }}
	{% endif %}
	
{% if horizontal %}
	</div>
{% endif %}

</div>