{#######################################################################
http://rateyo.fundoocode.ninja/

Critical args needs to pass in:
1. id / name - if neither of these are provided, and manualTrigger is set to true, then we will display 'error message' to user indicating this field does not work that way.
2. value - rating value, ranging from 0-5, with decimal precision 1
3. manualTrigger

if 'manualTrigger' variable is set to true, we don't go through the following codes and expect js codes somewhere else to render this plugin. 

This is often used because of we have some custom callback functions we need to set in plugin options and that wouldn't be rendered properly if passed in Twig

Example usage would be like this:

craft.yumpForm.input('rating', {
	id: 'customId',
	manualTrigger: true,
})
#####################################################################}

{% includeCssFile "https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css" %}
{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js" %}

{%- set wrapperClass = [
	'yump-rating-wrapper',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'select',
	'rating',
	(class is defined ? class : null)
]|filter|join(' ') %}

{% if id is not defined or not id %}
	{% if name is defined and name %}
		{%- set idSuffix = name | replace({'\'': '', '"': '', '[': '', ']': ''}) -%}
		{%- set id = 'ratingType' ~ idSuffix -%}
	{% endif %}
{% endif %}

<div class="{{ wrapperClass }}">
{% if manualTrigger is defined and manualTrigger %}
	{% if name is defined and name %}
	<input type="hidden" name="{{name}}" value="{{value}}">
	{% endif %}
	<div class="{{ class }}"{{ id is defined and id ? 'id=' ~ id : '' }}></div>
{% elseif id is not defined or not id %}
	<p style="padding: 8px 12px; background-color: #ebebeb; font-weight: 700; text-align: center; border: 1px solid #ddd; border-radius: 5px; margin-top: 10px; margin-bottom: 10px;">Sorry, you have to provide an 'id', or a unique 'name' in order to use this star rating form field</p>
{% else %}
	{% set value = value is defined ? value : 5 %}
	{% set selector = '#' ~ id %}

	{% if name is defined and name %}
	<input id="hidden-{{ id }}" type="hidden" name="{{name}}" value="{{value}}">
	{% endif %}

	<div class="{{ class }}" id="{{ id }}"></div>

	{# options['rating'] does not work here, because we set rating value by 'value' variable above #}
	{% set options = options is defined ? options : [] %}

	{# set some default / custom options for star rating plugin #}
	{% set options = options | merge({
		'rating': value,
		'spacing': options.spacing is defined and options.spacing ? options.spacing : '10px',
		'ratedFill': '#88cdd3',
	}) %}

	{% set ratingScript %}

	$(function() {
	  $( {{ selector | json_encode | raw }} ).rateYo({{ options | json_encode | raw }})
	  .on("rateyo.set", function (e, data) {
        var newRating = data.rating;
        $('#hidden-{{ id }}').val(newRating);
      });
	});

	{% endset %}

	{% includeJs ratingScript %}
{% endif %}
</div>
