{% from 'errorList' import errorList %}

{# {% includeJsResource "lib/redactor/redactor.js" %}
{% includeCssResource "lib/redactor/redactor.css" %} #}
{# {% includeJsFile "//cdn.tinymce.com/4/tinymce.min.js" %} #}
{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/tinymce.min.js" %}
{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/plugins/link/plugin.min.js" %}

{%- set wrapperClass = [
	'richtext-field-wrapper',
	'form-group',
	(wrapperClass is defined ? wrapperClass : null),
	(errors is defined and errors ? 'form-field-error'),
]|filter|join(' ') %}

{%- set class = [
	'form-control',
	(class is defined ? class : null),
]|filter|join(' ') %}

{%- set labelClass = [
	'control-label',
	(labelClass is defined ? labelClass : null)
]|filter|join(' ') %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}

{% if id is not defined or not id %}
	{% if name is defined and name %}
		{%- set idSuffix = name | replace({'\'': '', '"': '', '[': '', ']': ''}) -%}
		{%- set id = 'richTextField' ~ idSuffix -%}
	{% endif %}
{% endif %}

{% set name = name is defined ? name : '' %}

<div class="{{ wrapperClass }}"
	 {% if wrapperId is defined and wrapperId %} id="{{ wrapperId }}"{% endif %}
	 {% if required is defined and required %} data-required="true"{% endif %}
>

{% if label is defined and label %}
	<label for="{{ name }}" class="{{ labelClass }}">{{ label }}{% if required is defined and required %}<span class="required-asterisk">*</span>{% endif %}</label>
{% endif %}

{% if horizontal %}
	<div class="{{ hrInputWrapperClass }}">
{% endif %}

<textarea id="{{ id }}" name="{{ name }}" class="{{ class }}">{{ value is defined ? value | escape : '' }}</textarea>

{% if hint is defined and hint %}
	<p class="yump-form-field-hint">{{ hint }}</p>
{% endif %}

{% if errors is defined and errors %}
	{{ errorList(errors) }}
{% endif %}

{% if horizontal %}
	</div>
{% endif %}

</div>

{% set selector = '#' ~ id %}

{# {% if not craft.yump.ieVersion() or craft.yump.ieVersion() >= 11 %} #}
	{% set richTextScript %}

	var settings = {};

	var minHeight = {{ minHeight is defined ? minHeight : null | json_encode | raw }};
	if(minHeight) {
		settings.minHeight = minHeight;
	}

	$(function() {
	  // $( {{ selector | json_encode | raw }} ).redactor(settings);
	  tinymce.init({ 
	  	selector: {{ selector | json_encode | raw }},
	  	content_css: [
	  		'/src/vendor/nexa_web_fonts/nexa_regular/stylesheet.css', 
	  		'/src/vendor/nexa_web_fonts/nexa_bold/stylesheet.css',
	  		'/src/css/vollie-fundamental.css',
	  		'/src/css/tinymce_fix.css',
	  	],

	  	plugins: !isMobile ? "link" : '',
	  	menubar: false,
	  	//menu: {
		//    edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall'},
		//    insert: {title: 'Insert', items: 'link'},
		//    view: {title: 'View', items: 'visualaid'},
		//    format: {title: 'Format', items: 'bold italic underline strikethrough superscript //subscript | formats | removeformat'},
		//},
		toolbar: 'undo redo | styleselect removeformat | bold italic | link fontsizeselect | bullist numlist',
		style_formats: [
		    {title: 'Headers', items: [
		      {title: 'Header 1', format: 'h1'},
		      {title: 'Header 2', format: 'h2'},
		      {title: 'Header 3', format: 'h3'},
		      {title: 'Header 4', format: 'h4'},
		      {title: 'Header 5', format: 'h5'},
		      {title: 'Header 6', format: 'h6'}
		    ]},
		    {title: 'Inline', items: [
		      {title: 'Bold', icon: 'bold', format: 'bold'},
		      {title: 'Italic', icon: 'italic', format: 'italic'},
		      {title: 'Underline', icon: 'underline', format: 'underline'},
		      {title: 'Strikethrough', icon: 'strikethrough', format: 'strikethrough'},
		      {title: 'Superscript', icon: 'superscript', format: 'superscript'},
		      {title: 'Subscript', icon: 'subscript', format: 'subscript'},
		      {title: 'Code', icon: 'code', format: 'code'}
		    ]},
		    {title: 'Blocks', items: [
		      {title: 'Paragraph', format: 'p'},
		      {title: 'Blockquote', format: 'blockquote'},
		      {title: 'Div', format: 'div'},
		      {title: 'Pre', format: 'pre'}
		    ]},
		],
		elementpath: false,
		invalid_elements: 'iframe',
		height: {{ height is defined ? height : null | json_encode | raw }},
	  });

	});

	{% endset %}

	{% includeJs richTextScript %}
{# {% endif %} #}