{% from 'errorList' import errorList %}

{% includeCssFile "//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.min.css" %}
{% includeCssFile "//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.bootstrap3.min.css" %}
{% includeJsFile "//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/js/standalone/selectize.min.js" %}

{%- set wrapperClass = [
	'selectize-select',
	'form-group',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'form-control',
	(class is defined ? class : null),
	(errors is defined and errors ? 'form-field-error'),
]|filter|join(' ') %}

{%- set labelClass = [
	'control-label',
	(labelClass is defined ? labelClass : null)
]|filter|join(' ') %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}

{%- set options = (options is defined ? options : []) %}
{%- set values = (values is defined ? values : []) -%}
{%- set useOptgroups = useOptgroups is defined ? useOptgroups : false -%}
{%- set hasOptgroups = false -%}
{% set selectizeOptions = selectizeOptions is defined ? selectizeOptions : [] %}
{% set selectizeOptions = selectizeOptions | merge({
	plugins: ['remove_button'],
}) %}

{% set cssWidth = cssWidth is defined ? cssWidth : false %}

{% set multiselect = multiselect is defined ? multiselect : true %}

<div class="{{ wrapperClass }}">
	<input type="hidden" name="{{ name | replace({'[]' : ''}) }}">

	{% if label is defined and label %}
		<label for="{{ id }}" class="{{ labelClass }}">{{ label }} {% if required is defined and required %}<span class="required-asterisk">*</span>{% endif %}</label>
	{% endif %}

	{% if horizontal %}
		<div class="{{ hrInputWrapperClass }}">
	{% endif %}

	<select {{ multiselect ? 'multiple' : '' }}
		class="{{ class }}"
		{%- if placeholder is defined %} data-placeholder="{{ placeholder }}"{% endif %}
		{%- if id is defined %} id="{{ id }}"{% endif %}
		{%- if name is defined and name %} name="{{ name }}"{% endif %}
		{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
		{%- if disabled is defined and disabled %} disabled{% endif %}
		{%- if size is defined %} size="{{ size }}"{% endif %}>
		{%- for key, option in options %}
			{% if option.isGroupTitle is defined and option.isGroupTitle and useOptgroups %}
				{% if hasOptgroups %}
					</optgroup>
					{% set hasOptgroups = false %}
				{% else %}
					{% set hasOptgroups = true %}
				{% endif %}
				<optgroup label="{{ option.optgroup }}">
			{% else %}
				{% set optionLabel = (option.label is defined ? option.label : option) %}
				{% set optionValue = (option.value is defined ? option.value : key) %}
				{% set optionDisabled = (option.disabled is defined ? option.disabled : false) %}
				<option value="{{ optionValue }}"{% if optionValue in values %} selected{% endif %}{% if optionDisabled %} disabled{% endif %}>{{ optionLabel }}</option>
			{% endif %}
		{%- endfor %}
		{% if useOptgroups %}
			</optgroup>
		{% endif %}
	</select>

	{% if errors is defined and errors %}
		{{ errorList(errors) }}
	{% endif %}

	{% if horizontal %}
		</div>
	{% endif %}
</div>

{% set selectizeScript %}

$(function() {
	var selectizeOptions = {{ selectizeOptions | json_encode | raw }};
	selectizeOptions.onItemAdd = function() {
		this.blur();
	};
	$('#' + {{ id | json_encode | raw }} ).selectize(selectizeOptions);
  
});

{% endset %}

{% includeJs selectizeScript %}