{%- set class = [
	'yump-form-submit',
	(class is defined ? class : null)
]|filter|join(' ') %}

{%- set wrapperClass = [
	'yump-form-submit-wrapper form-group',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}
{%- set hrSubmitClass = hrSubmitClass is defined ? hrSubmitClass : 'col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10' -%}

{%- set value = (value is defined ? value : 'Submit') -%}

<div class="{{ wrapperClass }}" {%- if wrapperId is defined %} id="{{ wrapperId }}"{% endif %}>

{% if horizontal %}
	<div class="{{ hrSubmitClass }}">
{% endif %}

	<input type="submit"
		  class="{{ class }}"
	      {%- if id is defined %} id="{{ id }}"{% endif %}
		  value="{{ value }}"
	>

{% if horizontal %}
	</div>
{% endif %}

</div>