{# id is required for js #}

{% from 'errorList' import errorList %}

{% includeCssFile "https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css" %}
{% includeJsFile "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" %}

{%- set wrapperClass = [
	'yump-date-wrapper',
	'form-group',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'form-control',
	'yump-date-field',
	(class is defined ? class : null),
	(errors is defined and errors ? 'form-field-error'),
]|filter|join(' ') %}

{%- set labelClass = [
	'control-label',
	(labelClass is defined ? labelClass : null)
]|filter|join(' ') %}

{%- set horizontal = horizontal is defined ? horizontal : false -%}

<div class="{{ wrapperClass }}">

	{% if label is defined and label %}
		<label for="{{ id }}" class="{{ labelClass }}">{{ label }}{% if required is defined and required %}<span class="required-asterisk">*</span>{% endif %}</label>
	{% endif %}

	{% if horizontal %}
		<div class="{{ hrInputWrapperClass }}">
	{% endif %}

	<input type="text"
		class="{{ class }}"
		autocomplete="off"
		value="{{ value is defined ? value | date('d/m/Y') : '' }}"
		{%- if placeholder is defined %} data-placeholder="{{ placeholder }}"{% endif %}
		{%- if id is defined %} id="{{ id }}"{% endif %}
		{%- if name is defined and name %} name="{{ name ~ '[date]' }}"{% endif %}
		{%- if disabled is defined and disabled %} disabled{% endif %}
		{%- if required is defined and required %} required{% endif %}
	>

	{% if errors is defined and errors %}
		{{ errorList(errors) }}
	{% endif %}

	{% if horizontal %}
		</div>
	{% endif %}
</div>


{% set yumpDateControlScript %}

$(function() {
	//$('.yump-date-field').datepicker({
	//	dateFormat: "dd/mm/yy"
	//});

	var $field = $('#' + {{ id | json_encode | raw }});
	$field.datepicker({
		dateFormat: "dd/mm/yy"
	});
	if(!{{ value | json_encode | raw }}) {
		$field.val('');
	}
});

{% endset %}

{% includeJs yumpDateControlScript %}