{% from 'errorList' import errorList %}

{%- set wrapperClass = [
	'checkbox-field-wrapper',
	'',
	(wrapperClass is defined ? wrapperClass : null)
]|filter|join(' ') %}

{%- set class = [
	'yump-checkbox',
	(class is defined ? class : null),
	(errors is defined and errors ? 'form-field-error'),
]|filter|join(' ') %}

{% if id is not defined or not id %}
	{% if name is defined and name %}
		{%- set idSuffix = name | replace({'\'': '', '"': '', '[': '', ']': ''}) -%}
		{%- set id = 'plainCheckboxField' ~ idSuffix -%}
	{% endif %}
{% endif %}

{% set name = name is defined ? name : '' %}

<div class="{{ wrapperClass }}"
>

	<div class="checkbox">
		<label>
			<input id="{{ id }}" 
				   class="{{ class }}"
				   {% if checked is defined and checked %}checked{% endif %}
				   {{ required is defined and required ? 'required' : '' }}
				   {%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
				   {%- if autocomplete is not defined or not autocomplete %} autocomplete="off"{% endif %}
				   {%- if disabled is defined and disabled %} disabled {% endif %}
				   type="checkbox"
			>
			{% if label is defined and label %}{{ label }}{% endif %}
			
		</label>
	</div>

	<input type="hidden" id="{{ id }}-hidden" name="{{ name }}" value="{{ checked is defined and checked ? 1 : 0 }}">

	{% if errors is defined and errors %}
		{{ errorList(errors) }}
	{% endif %}

</div>

{% set checkboxScript %}

$(function() {
	$('#' + {{ id | json_encode | raw }} ).change(function() {
		if(this.checked) {
			$('#' + {{ id | json_encode | raw }} + '-hidden').val(1);
		} else {
			$('#' + {{ id | json_encode | raw }} + '-hidden').val(0);
		}
	});  
});

{% endset %}

{% includeJs checkboxScript %}