{#
/**
 * Yump plugin for Craft CMS
 *
 * Yump Settings.twig
 *
 * @author    Yump
 * @copyright Copyright (c) 2017 Yump
 * @link      https://yump.com.au/
 * @package   Yump
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% includeCssResource "yump/css/Yump_Style.css" %}
{% includeJsResource "yump/js/Yump_Script.js" %}

{{ forms.textField({
    label: 'Some Setting',
    instructions: 'Enter some setting here.',
    id: 'someSetting',
    name: 'someSetting', 
    value: settings['someSetting']})
}}
