//Base Colours
$color-darkgrey: 			#333333; //body text colour
$color-darkergrey:			#1f1f1f; //footer background
$text-light-grey:           #717067; // Tab colour

//BOOTSRAP COLOUR VARIABLES OVERRIDES AND PROJECT COLOURS (override the defaults from \node_modules\bootstrap\scss\_variables.scss):
//Positive Partnerships Colours
$white:						#ffffff;
$dark-purple:					#330044;
$light-purple:				#712d90;
$mauve:				        #e0d3e7;
$light-mauve:				#f5f2f6;
$dark-yellow:				#f7941e;
$light-grey:				#cccccc;
$mid-dark-grey:				#33333c;
$off-white:                 #f4f4f4;
$dark-grey: 				#333333;

$red:						#dc2d27;
$almost-white:				#f7fafd;
$blue:    					#2f5989;
$light-blue: 				#3d84cc;
$med-blue:					#597ba1;
$pale-med-blue:				#7A95B4;
$pale-blue:					#F7FAFD;
$other-pale-blue: 			#639cd6;
$color-tile-border:			#e6e6e6;
$color-midlightgrey:		#99999d;
$ghost-grey:				#e6e6e6;
$color-greyish:             #aeaeae;

$primary:   	    		$dark-purple;
$secondary:	    			$light-purple;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;

$color-switch: 					$white;
$text-muted: 					$color-midlightgrey;
// $body-bg:                   	$white;

//Typography and Links
$body-color:        			$dark-grey;
$font-color-on-light-bg: 		$body-color;
$font-color-on-dark-bg:			#fff;
$search-placeholder:			$light-grey;
$link-color:					$secondary;
$link-hover-color:          	darken($link-color, 15%);
$menu-link-dark-grey:			$mid-dark-grey;
$social-icon:					$dark-yellow;

//Menu
$menu-link-color:				$primary;
$sticky-menu-link-color: 		$white;
$mobile-menu-lvl1-bg-active: 	$primary;
$mobile-menu-lvl1-active-link:	$white;
$nav-link:						$primary;
$sub-arrow-mobile-menu: 		$secondary;
$border-mobile-menu-item:		$white;
$second-level-menu-item:		$primary;
$bg-second-level-menu-item:		$almost-white;
$bg-main-menu:					$light-mauve;

//Backgrounds and borders
$bg-white-color: 				$white;
$bg-pale-color:					$pale-blue;
$bg-quote-color:				$mid-dark-grey;
$bg-light-color: 				$light-mauve;
$bg-mid-color:					$mauve;
$bg-dark-color: 				$primary;
$bg-alt-dark-color:				$color-darkergrey;
$divider-on-dark:				$mid-dark-grey;
$divider:						$mauve;

//banners
$default-banner-bg-color: $dark-purple;
$default-banner-text-color: #fff;
