/*
 * FONT: Roboto and Raleway
 */

// Font Variables
// $roboto: 'Roboto', serif;
// $raleway: 'Raleway', sans-serif;

// BS Font Variables
$font-family-sans-serif: "Arial", Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-family:        "Helvetica Neue", sans-serif;
$font-family-base:            $font-family-sans-serif;
