// BS-Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1158px
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
// $grid-columns:                12;
// $grid-gutter-width:           30px;

//To be Deprecated / Settings used alongside BS settings:
$section-padding-large: 56px;
$section-padding-medium: 48px;
$section-padding-small: 32px;

$gutter-super-large: 45px;
$gutter-large: 30px;
$gutter-standard: 20px;
$gutter-small: 15px;
$gutter-super-small: 10px;

/* Bootstrap breakpoints */
$extra-small-breakpoint: 576px; // Extra small <576px
$small-breakpoint: 768px; //Small  ≥576px
$medium-breakpoint: 992px; //Medium ≥768px
$large-breakpoint: 1200px; //Large  ≥992px
$extra-large-breakpoint: 1600px; //Extra large ≥1200px

$extra-small-range: (0, $extra-small-breakpoint - 1); //0 - 575
$small-range: ($extra-small-breakpoint, $small-breakpoint - 1); //576 - 767
$medium-range: ($small-breakpoint, $medium-breakpoint - 1); //768 - 991
$large-range: ($medium-breakpoint, $large-breakpoint - 1); //992 - 1199
$extra-large-range: ($large-breakpoint, 9999px); //1600 - 9999

$mq-extra-small-max: nth($extra-small-range, 2); //576
$mq-small-min: nth($small-range, 1); //576
$mq-small-max: nth($small-range, 2); //991
$mq-medium-min: nth($medium-range, 1); //768
$mq-medium-max: nth($medium-range, 2); //1199
$mq-large-min: nth($large-range, 1); //1200
$mq-large-max: nth($large-range, 2); //1599
$mq-extra-large-min: nth($extra-large-range, 1); //1600
$mq-extra-large-max: nth($extra-large-range, 2); //9999

// Usage Media Queries:
//@media #{$medium-down}{}
$screen: "only screen";
$extra-small-only: "#{$screen} and (max-width: #{$mq-extra-small-max})"; //max 576
$small-up: "#{$screen} and (min-width:#{$mq-small-min})"; //min 576
$bs-mobile: "#{$screen} and (max-width:#{$mq-small-max})"; //max 767
$medium-up: "#{$screen} and (min-width:#{$mq-medium-min})"; //min 768
$medium-down: "#{$screen} and (max-width:#{$mq-medium-max})"; //max 991
$medium-only: "#{$screen} and (min-width:#{$mq-medium-min}) and (max-width: #{$mq-medium-max})"; //between 768 and 991
$large-up: "#{$screen} and (min-width:#{$mq-large-min})"; //992 up
$large-down: "#{$screen} and (max-width:#{$mq-large-max})"; //1199 down
$large-only: "#{$screen} and (min-width:#{$mq-large-min}) and (max-width:#{$mq-large-max})"; //between 992 and 1199
$extra-large-up: "#{$screen} and (min-width:#{$mq-extra-large-min})"; //1200 up
$extra-large-only: "#{$screen} and (min-width:#{$mq-extra-large-min}) and (max-width:#{$mq-extra-large-max})"; //between 1200 and 1599
