html {
	font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

// Font, line-height, and color for body text, headings, and more.
$font-size-base:              1.6rem; // Assumes the browser default, typically `16px`

//font, buttons and links
$darken: 10%;
$transition-duration: 0.3s;

//Headings:
$headings-font-weight:      400;
$headings-line-height:      1.1;
$headings-color:            $light-purple;
$headings-color-on-dark:	$white;
// $link-color-hover: #23527c;
$link-color-on-light-bg: $link-color;
// $link-color-hover-on-light-bg: $link-color-hover;
$link-color-on-dark-bg: #ccc;
$link-color-hover-on-dark-bg: #fff;

//COLOURS
$muted-text: $color-midlightgrey; //muted text in bottom footer

$mobile-default-spacer: 24px;

//Headings Font Sizes
//Fluid Typography - adapated from https://css-tricks.com/snippets/css/fluid-typography/
//the widths to shrink/grow between default to Bootstrap SM and XL
//Set min (mobile - bs-sm) and max (desktop bs-xl) font-sizes/line-heights like the below:
$typography_min_width: map-get($grid-breakpoints,sm);
$typography_max_width: map-get($grid-breakpoints,xl);
$h1: (
	font-size-dt: 40px,
	line-height-dt: 48px,
	font-size-mobile: 32px,
	line-height-mobile: 40px
);
$h2: (
	font-size-dt: 34px,
	line-height-dt: 40px,
	font-size-mobile: 24px,
	line-height-mobile: 32px
);
$h3: (
	font-size-dt: 28px,
	line-height-dt: 35px,
	font-size-mobile: 20px,
	line-height-mobile: 28px
);
$block-heading: (
	font-size-dt: 28px,
	line-height-dt: 35px,
	font-size-mobile: 24px,
	line-height-mobile: 32px
);
$h4: (
	font-size-dt: 20px,
	line-height-dt: 24px,
	font-size-mobile: 15px,
	line-height-mobile: 20px
);
$lead: (
	font-size-dt: 22px,
	line-height-dt: 32px,
	font-size-mobile: 20px,
	line-height-mobile: 26px
);
$large-body: (
	font-size-dt: 17px,
	line-height-dt: 28px,
	font-size-mobile: 15px,
	line-height-mobile: 24px
);
$rich-text: (
	font-size-dt: 17px,
	line-height-dt: 28px,
	font-size-mobile: 13px,
	line-height-mobile: 20px
);
$p: (
	font-size-dt: 17px,
	line-height-dt: 28px,
	font-size-mobile: 13px,
	line-height-mobile: 20px
);
$card-body: (
	font-size-dt: 15px,
	line-height-dt: 24px,
	font-size-mobile: 13px,
	line-height-mobile: 20px
);
$cta-text: (
	font-size-dt: 16px,
	line-height-dt: 23px,
	font-size-mobile: 15px,
	line-height-mobile: 22px
);
$emph-body-text: (
	font-size-dt: 18px,
	line-height-dt: 32px,
	font-size-mobile: 16px,
	line-height-mobile: 24px
);
$small-text: (
	font-size-dt: 12px,
	line-height-dt: 16px,
	font-size-mobile: 11px,
	line-height-mobile: 15px
);
$main-menu-item: (
	font-size-dt: 14px,
	line-height-dt: 24px,
	font-size-mobile: 13px,
	line-height-mobile: 24px
);
$resources: (
	font-size-dt: 14px,
	line-height-dt: 24px,
	font-size-mobile: 15px,
	line-height-mobile: 27px
);
$footer-menu-item: (
	font-size-dt: 14px,
	line-height-dt: 22px,
	font-size-mobile: 13px,
	line-height-mobile: 22px
);
$form-label: (
	font-size-dt: 14px,
	line-height-dt: 21px,
	font-size-mobile: 12px,
	line-height-mobile: 20px
);
$top-strip-menu-item: (
	font-size-dt: 11px,
	line-height-dt: 1.43,
	font-size-mobile: 10px,
	line-height-mobile: 1.43
);
$lead-heading: (
	font-size-dt: 11px,
	line-height-dt: 16px,
	font-size-mobile: 10px,
	line-height-mobile: 14px
);
