<div class="news-page-news-list">
	{% set limitPerPage = entry.limit ? entry.limit : 8 %}
	{% paginate craft.entries.section('news').limit(limitPerPage) as pageInfo, newsItems %}

	<div class="row">
		{% for index, newsEntry in newsItems %}
			{% if index == 0 or index == 1 %}
				{% include '_elements/cards/card' with {
					card: newsEntry,
					class: 'ps-cards__featured',
					image: newsEntry.imageWithFocusPoint.first(),
					thumbWidth: 1104, 
					thumbHeight: 692, 
					excerptLength: 320,
					buttonLabel: 'Read More',
				} %}
			{% else %}
				{% include '_elements/cards/profile_style_card.html' with {card: newsEntry, image: newsEntry.imageWithFocusPoint.first(), heading: newsEntry.title} %}
			{% endif %}
		{% endfor %}	
	</div>

	{% include '_matrix-blocks/elements/_pagination' with {pageInfo: pageInfo} %}
</div>