{% set heading = heading is defined ? heading : card.title  %}
{% set summary = summary is defined ? summary : card.summary %}
{% set class = class is defined ? class : 'col-md-6' %}
{% set link = link is defined ? link : card.url %}
{% set target = target is defined ? target : '' %}
{% set image = image is defined ? image : card.image.first() %}
{% set thumbWidth = thumbWidth is defined ? thumbWidth : 520 %}
{% set thumbHeight = thumbHeight is defined ? thumbHeight : 288 %}
{% set excerptLength = excerptLength is defined ? excerptLength : 165 %}
{% if image %}
    {% set thumbSettings = {
        width: thumbWidth,
        height: thumbHeight,
        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'
    } %}
    {% set imageUrl = image | yumpimager(thumbSettings) %}
{% endif %}

<a href="{{craft.yump.generateValidUrl(link)}}" target="{{target}}" class="{{class}} pp-cards__stripped">
	{% if imageUrl is defined and imageUrl %}
		<div class="pp-cards__stripped__image" style="background-image:url({{imageUrl}});background-size: cover;background-position: center;">
		</div>
	{% endif %}
	<h4 class="pp-card__heading">{{heading}}</h4>
	<p class="pp-card__summary">{{summary | excerpt(excerptLength) }}</p>
	{% if buttonLabel is defined and buttonLabel %}
		<div class="button button--arrow w-100">{{buttonLabel}}</div>
	{% endif %}
</a>
