<div class="pp-card pp-card--event">
	<div>
		<div class="pp-card__date">
			<div class="pp-card__date__day">{{ card.startDate ? card.startDate.day() : '' }}{% if card.endDate %}-{{ card.endDate.day() }}{% endif %}</div>
			<div class="pp-card__date__month">{{card.startDate | date("F")}}</div>
			<div class="pp-card__date__year">{{card.startDate.year()}}</div>
		</div>
		<div class="pp-card__content">
			<div class="pp-card__content__top">
				<span class="pp-card__location">
				{{ craft.inlin.er('/public/img/svg/ic-location.svg') | raw }} <span>{{ craft.positivePartnerships.formatSimplemapLocationAddress(card.location) }}</span>
			</span>
				<h4>{{card.title}}</h4>
			</div>
			<div class="pp-card__content__buttons">
				<a class="button" href="{{card.workshopEventLink.value}}" target="_blank">Register Now</a>
				{% if card.flyer and card.flyer|length %}
					{% set flyer = card.flyer.first() %}
					<a href="{{flyer.url}}" target="_blank" class="button button--download">
						<i>{{ craft.inlin.er('/public/img/svg/ic-download.svg') | raw }}</i>View Flyer</a>
					{# <a class="button" href="{{card.flyer}}" target="_blank">View Flyer</a> #}
				{% endif %}
			</div>
		</div>
	</div>
</div>
