{% set class = class is defined and class ? class : '' %}
{% if imageUrl is defined %}
	{% set image = imageUrl %}
{% else %}
	{% set image = image is defined and image ? image : (card['thumbnail'] is defined ? card.thumbnail : false) %}
	{% set imageUrl = image.url is defined and image.url ? image.url : image %}
{% endif %}
{% set heading = heading is defined and heading ? heading : card.name %}
{% set subText = subText is defined ? subText : card.summary is defined ? card.summary : false %}
{% set target = target is defined and target ? target : '' %}
{% set link = link is defined and link ? link : card.url %}
{% set isVideo = link | videoHost() in craft.config.supportedVideoUrls ? true : false %}

{% if isVideo %}
	{% includeCssFile "/vendor/lity/lity.min.css" %}
	{% includeJsFile "/vendor/lity/lity.min.js" %}
{% endif %}

{% if image is defined and image %}
	{# if image is object. Otherwise, if it's a string, which means it's probably already a thumbnail #}
	{% if image is iterable %}
		{% set thumbSettings = {
	        width: 456,
	        position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'
	    } %}
	    {% set imageUrl = image | yumpimager(thumbSettings) %}
	{% endif %}

	<a href="{{craft.yump.generateValidUrl(link)}}" target="{{target}}" class="pp-card ps-cards__card {{class}}" {% if isVideo %}data-lity{% endif %}>
		<div class="pp-card--ps__content">
	    	<div class="pp-card--ps__content__image" style="background-image:url({{imageUrl}}); background-size: cover;{% if image is iterable %} background-position: {{ image.focusPctX is defined ? image.focusPctX : 50 }}% {{ image.focusPctY is defined ? image.focusPctY : 50 }}%{% endif %}">
	    		{% if isVideo %}
	    			<img src="/public/img/core/ic-fancy-play-button@2x.png" alt="Play video">
	    		{% endif %}
			</div>
			<div class="pp-card--ps__content__text">
				<h4>{{heading}}</h4>
				{% if subText is defined and subText %}
					<p>{{subText | excerpt()}}</p>
				{% endif %}
			</div>
		</div>
	</a>
{% endif %}
