{# deprecated - should not be being used anywhere #}
<a href="{{craft.yump.generateValidUrl(card.url)}}" class="pp-card pp-card--ps {% if class is defined and class %}{{ class }}{% endif %}">
    <div class="pp-card--ps__content {% if row is defined and row %}row{% endif %}">
        <div class="pp-card--ps__content__image">
            {% if image %}
                {{ image.focusPctX }}
                {{ image.focusPctY }}
                {% set thumbSettings = {
                    width: 422,
                    height: 422,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'
                } %}
                {% set imageUrl = image | yumpimager(thumbSettings) %}
                {% if imageUrl %}
                    <div class="resource-filter__resource-image" style="height:{{thumbSettings.height * 0.5}}px; background-image:url({{imageUrl}}); background-size: cover;">
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="pp-card--ps__content__text">
            <h4>{{heading}}</h4>
            <p>{{subText | excerpt()}}</p>
        </div>
    </div>
</a>
