{% set class = class is defined and class ? class : '' %}
<div class="ps-cards {{class}}">
	{% for item in entries %}
		{% if loop.first %}
			{% include '_elements/cards/card.html' with {card: item, image: item.imageWithFocusPoint.first(), class: 'ps-cards__featured', thumbWidth: 1104, thumbHeight: 692, buttonLabel: 'Read More', excerptLength: 320 } %}
			<div class="ps-cards__supplementary">
		{% else %}
			{% include '_elements/cards/profile_style_card.html' with {card: item, image: item.imageWithFocusPoint.first(), heading: item.title, subText: item.summary, row: true} %}
		{% endif %}
		{% if loop.last %}
			</div>
		{% endif %}
	{% endfor %}
</div>
