{% set subText = subText is defined and subText ? subText : '' %}
{% set assetTitle = link.type == 'asset' ? link.asset.title : '' %}

<a href="{{craft.yump.generateValidUrl(link.url)}}" class="pp-card textOnlyCards__card" target="{{ link.target }}" data-title="{{assetTitle}}">
	<div>
		<div class="textOnlyCards__card__desc">
			<h4>{{heading}}</h4>
			{% if subText %}
				<h5>{{subText}}</h5>
			{% else %}
				{% if link.type == 'asset' %}
				<p>{{link.asset}}</p>
				{% endif %}
			{% endif %}
		</div>
		{% if link.type == 'asset' %}
		<span class="button textOnlyCards__card__cta">
			<i>{{ craft.inlin.er('/public/img/svg/ic-download.svg') | raw }}</i> Download
		</span>
		{% elseif link.text|length > 0 %}
			<span class="button button--arrow textOnlyCards__card__cta">{{ link.text }}</span>
        {% endif %}
	</div>
</a>
