.accordion__heading {
  padding: 20px 15px;
  border-radius: 4px;
  box-shadow: 0 15px 20px 0 rgba(113, 45, 144, 0.05);
  background-color: #ffffff;
  border: solid 1px #e0d3e7;
  font-weight: 700;
  margin-bottom: 0;
  min-height: 64px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &::after, &::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: $light-purple;
    right: 15px;
    top: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    background-size: 13px;
  }
  &::before {
    background-image: url("/public/img/svg/navigation/ic-minimize.svg");
    transition: 0.25s linear opacity;
    opacity: 1;
  }
  &::after {
    background-image: url("/public/img/svg/navigation/ic-expand.svg");
    transition: 0.25s linear opacity;
    opacity: 1;
    z-index: 5;
  }
  &.collapsed {
    transition: border ease-in-out 0s 0.25s;
  }
  &:not(.collapsed) {
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    &::after {
      opacity: 0;
    }

    + div {
    }
  }
}
.accordion__content {
  padding: 0 15px;
  color: $body-color;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  border: solid 1px #e0d3e7;
  border-top: none;
  z-index: 4;
  position: relative;
  box-shadow: 0 15px 20px 0 rgba(113, 45, 144, 0.05);
  p {
    margin-bottom: 15px;
  }
  img {
    max-width: 100%;
    border-radius: 4px;
    height: auto;
    margin-bottom: 8px;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
}

@include media-breakpoint-up(md) {
  .accordion__heading {
    padding: 34px 23px;
    &::after, &::before {
      height: 45px;
      width: 45px;
      right: 25px;
      top: 24px;
      background-size: 18px;
      background-position: center;
    }
  }
  .accordion__content {
    padding-left: 24px;
    padding-right: 24px;
    p {
      max-width: 696px;
      margin-left: 0;
      &:last-of-type {
        margin-bottom: 24px;
      }
    }
  }
}
