.banner-tabs {
  padding-bottom: 12px;
  border-bottom: 1px solid $mauve;
  position: relative;
  z-index: 900;
  &__background {
    background-color: $dark-purple;
  }
  &__container {
    @extend .container;
  }
  &__mauve-background {
    position: relative;
  }
  .nav {
    flex-wrap: nowrap;
  }
  .nav-item {
    flex: 0 0 50%;
  }
  .nav-tabs {
    position: relative;
    //bottom: 5px;
  }
  .nav-link {
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluid-type((
      font-size-dt: 22px,
      line-height-dt: 24px,
      font-size-mobile: 13px,
      line-height-mobile: 17px
    ));
    line-height: 1.31;
    text-align: center;
    color: $text-light-grey;
    position: relative;
    border: none;
    padding: 20px 5px 20px;
    background-color: $off-white;
    border-radius: 0;
    transition: 0.25s ease-in-out all;
    &__image {
      display: none;
    }
    &::before {
      border-radius: 1px 1px 0px 0px;
      background-color: transparent;
      content: '';
      height: 5px;
      width: 100%;
      position: absolute;
      left: 0;
      top: -5px;
      transition: 0.25s ease-in-out all;
    }
    &.active {
      background: white;
      color: $light-purple!important;
      font-weight: 700;
      &::before {
        background-color: $dark-yellow;
      }
    }
  }
}

.tab-column {
  padding: 24px 0 12px;
  @extend .col-lg-4;
  &:not(:last-of-type) {
    border-bottom: solid 1px $mauve;
  }
  &__heading {
    margin-bottom: 8px;
    font-weight: 700;
  }
  &__content {
    margin-bottom: 16px;
    font-size: 1.3rem;
    color: #333;
    line-height: 1.54;
    @include fluid-type((
      font-size-dt: 15px,
      font-size-mobile: 13px,
      line-height-dt: 24px,
      line-height-mobile: 20px
    ))
  }
}

@include media-breakpoint-up(sm) {
  .banner-tabs {
    padding-bottom: 0;
    border-bottom: 0;
    &__mauve-background {
      background-color: $light-mauve;
    }
  }
  .tab-content {
    background-color: #fff;
    padding-bottom: 12px;
  }
  .tab-column {
    padding: 20px 30px;
  }
}

@include media-breakpoint-up(md) {
  .banner-tabs__background {
    background-color: transparent;
  }
}

@include media-breakpoint-up(lg) {
  .banner-tabs {
    .nav-link {
      height: 95px;
      position: relative;
      padding: 42px 20px 26px 200px!important;
      margin-top: 5px;
      &::before {
        background-color: transparent;
      }
      &:hover {
        .nav-link__image {
          bottom: 0;
        }
      }
      &__image {
        width: 200px;
        height: 123px;
        position: absolute;
        left: 20px;
        display: block!important;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        bottom: -4px;
        transition: all ease-in-out 0.22s;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        margin-left: 20px;
        margin-right: 20px;
        height: 1px;
        width: calc(100% - 40px);
        background-color: transparent;
        transition: 0.25s ease-in-out all;
        left: 0;
      }
      &.active {
        &::after {
          background-color: rgba(194, 167, 207, 0.5);
        }
      }
    }
    .tab-content {
      padding: 20px 15px;
    }
    .tab-column {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      border-bottom: none!important;
      &:not(:last-of-type) {
        border-right: solid 1px $mauve;
      }
      &__content {
        flex-grow: 1;
      }
      &__heading {
        margin-bottom: 11px;
      }
      &__column {
        margin-bottom: 24px;
      }
    }
    .tab__wrap {
      @include make-row();
    }
  }
}

@include media-breakpoint-up(xl) {
  .banner-tabs {
    .nav-link {
      padding-left: 230px;
      padding-right: 40px;
      span {
        right: 80px;
      }
      &__image {
        left: 40px;
      }
      &::after {
        margin-left: 40px;
        margin-right: 40px;
        width: calc(100% - 80px);
      }
    }
    .tab-column {
      padding-left: 40px;
      padding-right: 40px;
    }
    .tab-content {
      padding: 40px 15px;
    }
  }
}
