.block {
  &__title {
    color: $light-purple;
    @include fluid-property('margin-bottom', 32, 16)
  }
}

.matrix-block-columnCards {
  .pp-cards__stripped {
    @include media-breakpoint-down(xs) {
      border-bottom: 4px solid $mauve;
    }
    p:last-of-type {
      @include media-breakpoint-down(sm) {
        padding-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        padding-bottom: 36px;
      }
    }
  }
}

// // Why do we have this here?
// .matrix-block:empty {
//   height: 400px;
//   display: block;
//   width: 100%;
//   background: blue;
// }
