//standard CTA
.cta {
	position: relative;
	&.button {
		width: 100%;
		display: flex;
		justify-content: center;
		height: 40px;
		align-items: center;
		&::after {
			top: -1px;
		}
		@include media-breakpoint-up(md) {
			height: 48px;
		}
		.cta__link {
			border-bottom: none;
			margin-top: 0;
			padding-bottom: 0;
			span {
				background-color: transparent;
				color: #fff;
			}
			&::after {
				display: none;

			}
		}
	}
	&:not(.button) {
		@include media-breakpoint-up(md) {
			&::after {
				z-index: 50;
				content: '';
				width: 100%;
				height: 1px;
				background: $divider;
				position: absolute;
				left: 0;
				top: 50%;
			}
		}
	}
	&--back {
		.cta__link {
			padding-left: 20px;
			span {
				display: inline-block;
				background-color: #fff;
				padding-right: 24px;
			}
			&::after {
				position: absolute;
				transform: rotate(180deg);
				left: 0;
				padding: 0 0 0 20px;
				background-position: 9px;
				transition: 0.25s ease-in-out all;
			}
			&:hover, &:focus, &:active {
				text-decoration: none;
				cursor: pointer;
				&::after {
					background-position: 11px;
					left: 0;
				}
			}
		}
	}
}
.featured-resources__cta, .video-transcript, .matrix-block-callToAction {
	.cta__link::after {
		top: 0;
	}
}

.cta__link {
	display: flex;
	align-items: center;
	position: relative;
	width: auto;
	z-index: 100;
	font-weight: bold;
	color: $secondary;
	margin-top: 24px;
	padding-bottom: 16px;
	border-bottom: 1px solid $mauve;
	@include media-breakpoint-up(md) {
		border-bottom: none;
		padding-bottom: 0;
	}
	i {
		padding-right: 18px;
	}
	i, span, &::after {
		background-color: $white;
	}
	> span {
		color: $secondary;
	}
	&::after {
		content: '';
		width: 14px;
		height: 14px;
		display: inline-block;
		position: relative;
		transition: ease-in-out left 0.25s;
		background-image: url("/public/img/svg/ic-arrow-right-purple.svg");
		background-position: 30% 50%;
		background-repeat: no-repeat;
		background-size: 9px 9px;
		padding-right: 32px;
		left: 0;
		align-self: center;
		top: 5px;
	}
	&:hover, &:focus, &:active {
		text-decoration: none;
		cursor: pointer;
		&::after {
			left: 3px;
		}
	}
}

//Bold CTA
.bold-cta {
	background: $primary;
	border-radius: 4px;
	a {
		display: flex;
		flex-direction: column;
		padding: 24px;
		align-items: center;
		&:hover {
			text-decoration: none;
		}
		@include media-breakpoint-up(md) {
			justify-content: space-between;
			flex-direction: row;
		}
	}
	.button {
		width: 100%;
		@include media-breakpoint-up(md) {
			width: auto;
		}
	}
}
.bold-cta__content {
	color: $white;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	@include media-breakpoint-up(md) {
		margin-right: 20px;
		margin-bottom: 0;
	}
	span {
		@include fluid-type($p);
		font-weight: bold;
	}
	svg {
		display: inline-block;
		margin-right: 24px;
		width: 115px;
		@include media-breakpoint-up(md) {
			width: auto; // is there a particular reason why we would need this? It's been causing some issues in IE. Will override using the following rules. Feel free to tweak it if this change is problematic.
			flex: 0 0 52px;
			max-width: 52px;
		}
	}
}
