//with background:
.pp-card {
  @extend .col-12;
  p {
    transition: color ease-in-out 0.25s;
  }
  &:hover {
    text-decoration: none;
    //p {
    //  color: $light-purple;
    //}
    //> div {
    //  box-shadow: 0 15px 20px 0 rgba(113, 45, 144, 0.1);
    //  .pp-card__content h4 {
    //    color: #330044;
    //  }
    //}
  }
  > div {
    border-radius: 4px;
    box-shadow: 0 15px 20px 0 rgba(113, 45, 144, 0.05);
    background-color: #ffffff;
    border: solid 1px $mauve;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    transition: box-shadow ease-in-out 0.2s;
  }
  &--event {
    h4 {
      max-width: 350px;
    }
    .button {
      float: left;
    }
    .button--download {
      float: left;
      @media only screen and (min-width: 520px) {
        float: right;
      }
      @include media-breakpoint-up(lg) {
        float: left;
      }
      @include media-breakpoint-up(xl) {
          float: right;
      }
    }
  }
  &__date {
    padding: 30px 13px 22px 13px;
    text-align: center;
    border-right: 1px solid $mauve;
    width: 94px;
    flex: 0 0 94px;
    &__day {
      font-size: 4.0rem;
      font-weight: 700;
      line-height: 1;
      color: $secondary;
    }
    &__month {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.46;
      color: #333333;
      position: relative;
      top: 3px;
    }
    &__year {
      font-size: 1.2rem;
      line-height: 1.6;
      color: #333333;
      position: relative;
      top: 3px;
    }
  }
  &__content {
    padding: 17px 16px 15px;
    border-left: 1px solid $mauve;
    margin-left: -1px;
    width: 100%;
    &__buttons {
      margin-top: 8px;
      a {
        padding-top: 6px;
        padding-bottom: 6px;
        width: 130px;
        &:not(:last-of-type) {
          margin-bottom: 8px;
        }
      }
      a:first-of-type {
        margin-right: 16px;
      }
    }
    h4 {
      transition: color ease-in-out 0.2s;
      font-weight: bold;
      line-height: 1.34;
      color: $secondary;
      margin-bottom: 0;
    }
  }
  &__location {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #333333;
    span {
      position: relative;
      top: 3px;
    }
    svg {
      margin-right: 9px;
      position: relative;
      top: 1px;
      flex: 0 0 20px;
    }
    margin-bottom: 8px;
  }
}

@include media-breakpoint-up(xs) {
  .pp-card {
    &__date {
      padding: 20px 10px 20px 10px;
      width: 138px;
      flex: 0 0 138px;
    }
    &__content {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      &__buttons {
        margin-top: 12px;
        a {
          width: 153px;
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
        }
        a:first-of-type {
          margin-right: 24px;
        }
      }
    }
  }
}


@include media-breakpoint-up(md) {
  .pp-card:not(.pp-card--event) {
    @include make-col(6);
    @include make-col-ready();
    &__wrap {
      @include make-row();
      margin-left: -12px;
      margin-right: -12px;
      > div, > a {
        padding-left: 12px;
        padding-right: 12px;
      }
      &--related-resources {
        @include fluid-property('margin-bottom', 50);
        .pp-card--ps__content {
          margin-bottom: 0;
          height: 100%;
        }
      }
    }
    > div {
      margin-bottom: 24px;
    }
    &__date {
      padding: 20px 10px 20px 10px;
      width: 94px;
      flex: 0 0 94px;
      &__day {
        font-size: 4.5rem;
      }
      &__month {
        top: 0;
      }
      &__year {
        top: 1px;
      }
    }
    &__content {
      padding: 24px 24px 20px 24px;
    }
    &__location {
      margin-bottom: 8px;
      span, svg {
        top: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .pp-card {
    @include make-col(6);
    @include make-col-ready();
    &__wrap {
      @include make-row();
      margin-left: -12px;
      margin-right: -12px;
      > div, > a {
        padding-left: 12px;
        padding-right: 12px;
      }
      &--related-resources {
        @include fluid-property('margin-bottom', 50);
        .pp-card--ps__content {
          margin-bottom: 0;
          height: 100%;
        }
      }
    }
    > div {
      margin-bottom: 24px;
      height: calc(100% - 24px);
    }
    &__date {
      &__day {
        font-size: 4.5rem;
      }
      &__month {
        top: 0;
      }
      &__year {
        top: 1px;
      }
    }
    &__content {
      padding: 24px 24px 20px 24px;
    }
    &__location {
      margin-bottom: 8px;
      span, svg {
        top: 0;
      }
    }
  }
}

.pp-card__wrap--related-resources {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

//no background:
.pp-cards__stripped, .ps-cards__stripped {
	color: $body-color;
	display: inline-block;

	h4 {
		font-weight: bold;
		@include fluid-type($cta-text);
	}
  p {
    transition: color ease-in-out 0.25s;
  }
  p:last-of-type {
     margin-bottom: 0;
  }
	&:hover {
		text-decoration: none;
      p {
        color: $light-purple;
      }
	}
}
.pp-cards__stripped__image {
  @include fluid-property('margin-bottom',16,24);
  @include fluid-property('height', 280, 174, 320, 510);
  border-radius: 4px;
  @include media-breakpoint-down(xs) {
    margin-left: -15px;
    margin-right: -15px;
  }
  @media #{$extra-small-only} {
    border-radius: 0;
  }
  @include media-breakpoint-up(md) {
    height: 174px;
  }
  @include media-breakpoint-up(lg) {
    height: 124px;
  }
  @include media-breakpoint-up(xl) {
    height: 144px;
  }
}

.pp-cards.pp-card__wrap {
  h4 {
    @include fluid-type($h4);
  }
  p {
    @include fluid-type($card-body)
  }
}

.pp-card--with-image {
  .col-5 {
    padding-left: 0!important;
    padding-right: 9px!important;
    border-radius: 4px;
    overflow: hidden;
  }
  .col-7 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  h4 {
    margin-bottom: 6px;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}
