.contact-form {
  &__wrap {
    @extend .row;
    margin-left: -12px;
    margin-right: -12px;
  }
  &__field-wrap {
    @include make-col(12);
    padding-left: 12px;
    padding-right: 12px;
    input, textarea, select {
      width: 100%;
      border-radius: 4px;
      background-color: #ffffff;
      height: 48px!important;
      padding: 11px 20px;
      margin-bottom: 24px;
    }
    textarea {
      height: 80px!important;
      resize: none;
    }
    label {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.14;
      color: #333333;
    }
    &--captcha {
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-up(md) {
  .contact-form {
    @include make-col(12);
    padding-left: 0;
    padding-right: 0;
    .contact-form__field-wrap {
      @include make-col(6);
      &--full-width {
        @include make-col(12)
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .contact-form {
    @include make-col(10);
  }
}

@include media-breakpoint-up(xl) {
  .contact-form {
    @include make-col(8);
  }
}
