.featured-resources {
	background-color: $bg-light-color;
}
.featured-resources__header {
	@include fluid-property('padding-top',47,15);
	@include fluid-property('margin-bottom',32,15);
	@include media-breakpoint-down(sm) {
		display: flex;
		flex-direction: column;
	}
	.cta {
		@include media-breakpoint-up(sm) {
			display: inline-block;
			float: right;		
		}
		@include media-breakpoint-down(sm) {
			order: 1;
		}
		&:after {
			display: none;
		}
	}
	h2 {
		@include media-breakpoint-up(sm) {
			display: inline-block;
		}
		@include media-breakpoint-down(sm) {
			order: 2;
			@include fluid-property('margin-top', 32);
		}
	}
	.cta__link {
		margin-top: 0;
		text-align: center;
		i, span, &:after {
			background-color: transparent;
		}
		&:after {
		}
	}
}
.featured-resources__resources {
	@include make-row();
	// @include media-breakpoint-up(md) {
	// 	> a {
	// 		@include make-col(6);
	// 	    @include make-col-ready();
	// 	}
	// }
}
