.iconsWithText__item {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	> img {
		margin-right: 25px;
		min-width: 56px;
	}
	p {
		margin-bottom: 0;
		max-width: 224px;
	}
}

.matrix-block-iconsWithText > .row .col-md-6:nth-last-of-type(-n+1) .iconsWithText__item {
	margin-bottom: 0;
}

@include media-breakpoint-up(md) {
	.matrix-block-iconsWithText > .row .col-md-6:nth-last-of-type(-n+1) .iconsWithText__item {
		margin-bottom: 0;
	}
}
