//Note: Apply pp-card as well
.ps-cards {
	display: flex;
	flex-wrap: wrap;
	@include media-breakpoint-up(lg) {
		@include make-row();
	}
}
a.ps-cards__card {
	@include make-col(12);
  	@include fluid-property('margin-bottom',28,24);
  	min-height: 162px;
  	> div {
  		height: 100%;
  	}
	@include media-breakpoint-up(lg) {
		@include make-col(6);
	    @include make-col-ready();
	}
  	@include media-breakpoint-up(sm) {
  		min-height: 217px;
  	}
}

.profile-style-cards__heading {
	@include fluid-property('margin-bottom', 24, 16);
}

//Home Page News Block
.ps-cards__featured {
	margin-bottom: 32px;
	@include media-breakpoint-up(lg) {
		@include make-col-ready();
		@include make-col(6);
	}
	&.pp-cards__stripped > h4 {
		@include fluid-type($h3);
		font-weight: 400;
	}
	&.pp-cards__stripped p {
		@include fluid-type($card-body);
	}
	.button {
		@include fluid-property('margin-top', 24, 16);
	}
	&:hover {
		button {
			cursor: pointer;
			background: darken($secondary, 15%);
			border-color: darken($secondary, 15%);
			color: $button-text-color-hover;
			background: $button-bg-color-hover;
			transition-duration: 0.3s;
			text-decoration: none;
			&::after {
				left: 3px;
			}
		}
	}
	.pp-cards__stripped__image {
		@include fluid-property('height', 346, 200);
	}
}
.ps-cards__supplementary {
	@include make-col-ready();
	@include make-col(12);
	@include media-breakpoint-up(lg) {
		@include make-col-ready();
		@include make-col(6);
		padding-left: 33px;
	}
	a {
		padding-left: 0;
		padding-right: 0;
	}
	.pp-card--ps__content {
	}
	.pp-card--ps__content__image {
		flex: 0 0 96px;
		width: 96px;
		max-width: 96px;
		height: 96px;
		align-self: flex-start;
		border-radius: 4px;
		@include media-breakpoint-up(md) {
			flex: 0 0 124px;
			width: 124px;
			max-width: 124px;
			height: 124px;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 144px;
			width: 144px;
			max-width: 144px;
			height: 144px;
		}
		@include media-breakpoint-up(xl) {
			flex: 0 0 192px;
			width: 192px;
			max-width: 192px;
			height: 192px;
		}
	}
	.pp-card--ps__content__text {
		padding-left: 16px;
		padding-right: 0;
		p {
			@include fluid-type($card-body);
		}
	}
	.pp-card {
		> div {
			border: none;
			box-shadow: none!important;
			height: auto;
		}
		&:not(:last-of-type) {
			> div {
				margin-bottom: 24px;
				@include media-breakpoint-up(md) {
					margin-bottom: 40px;
				}
			}
		}
	}
	h4 {
		padding-top: 0!important;
	}
	p:last-of-type {
		margin-bottom: 0;
	}
}
//E.g Resource Filter Cards
.pp-card--ps {
	@include media-breakpoint-up(lg) {
		@include make-col-ready();
		@include make-col(6);
	}
}
.pp-card--ps__content {
	display: flex;
	position: relative;
}
.pp-card--ps__content__image {
	// display: none;
	height: 100%;
	//play button for videos
	img {
		position: absolute;
		bottom: 0;
		right: 0;
		opacity: 0.7;
		width: 32px;
		height: 24px;
		@include media-breakpoint-up(sm) {
			left: 0;
			right: unset;
			width: 68px;
			height: 48px;
			opacity: 1;
		}
	}
	@include media-breakpoint-up(sm) {
		display: flex;
		flex: 1 0 218px;
		width: 218px;
		max-width: 218px;
		height: 100%;
	}
	@include media-breakpoint-up(lg) {
		flex: 1 0 186px;
		width: 186px;
		max-width: 186px;
		height: 100%;
	}
	@include media-breakpoint-up(xl) {
		flex: 1 0 228px;
		width: 228px;
		max-width: 228px;
		height: 100%;
	}
}
.pp-card--ps__content__text {
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 20px;
	color: $body-color;
	h4 {
		padding-top: 18px;
		transition: color ease-in-out 0.2s;
		font-weight: bold;
		color: $secondary;
	}
}
