.sign-up-block {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  &::after {
    content: '';
    width: 85%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/public/img/banner/dot-pattern-newsletter-m@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    @include media-breakpoint-up(md) {
      background-image: url("/public/img/banner/dot-pattern-newsletter@2x.png");
      height: 100%;
      width: 60%;
    }
  }
  &__heading {
    margin-bottom: 20px;
  }
  .button {
    width: 100%;
  }
  .js-cm-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    z-index: 5;
    @include media-breakpoint-up(md) {
      max-width: 554px;
    }
  }
  &__form-group {
    width: 100%;
    margin-bottom: 16px;
    label {
      margin-bottom: 8px;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.14;
      width: 100%;
      text-align: left;
    }
    input {
      width: 100%;
      height: 40px;
      background-color: #fff;
      border-radius: 4px;
      padding-left: 16px;
      border: none;
    }
  }
  &__social__wrap {
    display: none;
    position: relative;
    z-index: 5;
  }
}

@include media-breakpoint-up(md) {
  .sign-up-block {
    padding-top: 80px;
    padding-bottom: 84px;
    .js-cm-form {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
      :nth-child(2) {
        margin-left: 12px;
        margin-right: 12px;
      }
    }
    &__heading {
      margin-bottom: 48px;
    }
    &__form-group {
      margin-bottom: 0;
      input {
        height: 48px;
      }
    }
    .button {
      align-self: flex-end;
      height: 48px;
      width: 119px;
      flex: 1 0 119px;
      padding: 0;
    }
    &__social__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      .sign-up-block__social__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 11px;
          margin-left: 11px;
          text-decoration: none;
        }
      }
      span {
        font-size: 1.6rem;
        font-weight: bold;
        color: #ffffff;
        margin-right: 4px;
      }
      i {
        font-size: 2.5rem;
        color: rgba(255,255,255,0.9);
        transition: color ease-in-out 0.25s;
        line-height: 0;
        &:hover {
          color: rgba(255,255,255,1);
        }
      }
    }
  }
}
