.matrix-block-textWithImageAside {
	@include fluid-property('margin-top', 28);
	@include fluid-property('margin-bottom', 28);
	margin-top: 28px;
	margin-bottom: 28px;
	padding-top: 0;
	position: relative;
	//@media #{$bs-mobile} {
	//	margin-bottom: 0;
	//}
	.text-div {
		// display: flex;
		// align-items: flex-start;
		// flex-direction: column;
		h2, h3, h4 {
			text-align: left;
		}
		h2, h3 {
			@include fluid-type($h3);
			margin-bottom: 8px;
		}
		:last-child {
			margin-bottom: 0;
		}
		p {
			@include fluid-type($rich-text);
			&:last-child {
				margin-bottom: 0;
			}
			& + h1, & + h2, & + h3, & + h4 {
				margin-top: 32px;
			}
		}
		ul {
			padding-left: 0;
			list-style: none;
			margin-bottom: 22px;
		}
		ul li {
			margin-bottom: 8px;
			padding-left: 25px;
			position: relative;
			@include fluid-type($rich-text);
			&::after {
				content: "";
				height: 7px;
				width: 7px;
				background-color: $light-purple;
				border-radius: 100%;
				position: absolute;
				left: 6px;
				top: 7px;
				@include media-breakpoint-up(md) {
					top: 8px;
				}
				@include media-breakpoint-up(md) {
					top: 9px;
				}
			}
			@include media-breakpoint-up(md) {
				padding-left: 27px;
			}
		}
	}
	.image-div {
		// display: flex;
		// align-items: flex-start;
		// flex-direction: column;
		margin-top: 0px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 16px;
		}
		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
			font-size: 1.3rem;
			line-height: 1.54;
			@include media-breakpoint-up(md) {
				font-size: 1.4rem;
				line-height: 1.71;
				letter-spacing: 0.1px;
			}
		}
		img {
			max-width: 100%;
			vertical-align: middle;
			margin-bottom: 8px;
			border-radius: 4px;
			background-color: transparent;
			//@media #{$medium-up} {
			//	display: none;
			//}
		}
		.image-div__bg {
			display: none;
			@media #{$medium-up} {
				display: block;
				height: 100%;
			}
		}
	}
	.image-text-columns-wrapper {
		position: relative;
	}
	.image-div--left {
	    padding-left: 0;
		@media #{$medium-up} {
			// position: absolute;
		 //    left: 0;
		 //    top: 0;
		 //    height: 100%;
		}
	}
	.image-div--right {
		order: 3;
		padding-right: 0;
		@media #{$medium-up} {
			// position: absolute;
		 //    right: 0;
		 //    top: 0;
		 //    height: 100%;
		}
		@media #{$bs-mobile} {
			order: 1;
		}
	}
	@media #{$bs-mobile} {
		.dv-richtext-button {
			width: 100%;
			margin-top: $mobile-default-spacer;
			a {
				width: 100%;
				text-align: center;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.matrix-block-textWithImageAside {
		.text-div {
			order: 2;
		}
	}
}

html.translated-rtl .matrix-block-textWithImageAside {
	.text-div {
		h2, h3, h4 {
			text-align: right;
		}
	}
}
