//mostly uses the pp-card class
.textOnlyCards__card {
	margin-bottom: 16px;
	@include media-breakpoint-down(sm) {
		&:last-child {
			margin-bottom: 0;
		}
	}
	> div {
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		color: $body-color;
		padding: 16px;
		margin-bottom: 0;
		.button {
			margin-top: 8px;
		}
		@include media-breakpoint-up(sm) {
			flex-direction: row;
			align-items: center;
			.button {
				margin-top: 0;
			}
		}
		@include media-breakpoint-up(md) {
			flex-direction: column;
			align-items: flex-start;
			.button {
				margin-top: 8px;
			}
		}
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			align-items: center;
			.button {
				margin-top: 0;
			}
		}
	}
	h5 {
		margin-bottom: 0;
	}
	&__cta {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: 16px;
		@include media-breakpoint-up(sm) {
			width: auto;
			margin-top: 0;
		}
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-top: 16px;
		}
		@include media-breakpoint-up(lg) {
			width: auto;
			margin-top: 0;
		}
		svg {
			margin-right: 8px;
			position: relative;
			top: 2px;
		}
	}
}
.textOnlyCards__card__desc {
	p {
		margin-bottom: 0;
	}
	h5 {
		color: $body-color;
		font-size: 1.5rem;
		line-height: 1.31;
	}
}

@include media-breakpoint-up(sm) {
	.textOnlyCards__card__desc {
		h4 {
			font-weight: 700;
		}
	}
	.textOnlyCards__card {
		> div {
			padding: 24px;
		}
	}
}
