.matrix-block-upcomingWorkshops {
  .pp-card {
    padding-left: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-up(lg) {
  .matrix-block-upcomingWorkshops {
    .pp-card {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
