{% extends "pages/_templates/_default" %}
{% if craft.config.devMode %}
	{% includeJsFile "/public/js/project/vue.js" %}
{% else %}
	{% includeJsFile "/public/js/project/vue.min.js" %}
{% endif %}

{% block content %}
	<script>
	{% set showing = craft.request.getParam('showing') %}
	{% if showing %}
		var urlShowingParam = {{ showing | json_encode | raw}};
	{% else %}
		var urlShowingParam = '';
	{% endif %}
	</script>
	<section class="featured-resources">
		<div class="container">
			<div class="featured-resources__header">
			<h2>Featured Resources</h2>
			{% include '_matrix-blocks/callToAction' with {link: '/resources/in-other-languages', title: 'Resources in other languages', icon: true, iconLink: 'arrow-link', linkType: 'featured-resources__cta'} %}
			</div>
			{% set featured = craft.positivepartnerships.getFeaturedResources(entry, 2) %}
			<div class="featured-resources__resources">
			{% for featuredEntry in featured.resources %}
				{# {{ dd(featuredEntry) }} #}
				{% include '_elements/cards/profile_style_card' with {card: featuredEntry, image: featuredEntry.thumbnail} %}
			{% endfor %}
			</div>
		</div>
	</section>
	<script>
		var entryID = {{ entry.id | json_encode | raw}};
	</script>
	<section id="resources-filter-vue" class="resources-filter">

		<div class="container">
			<h3>Refine Resources</h3>
			<template v-if="!rawResourceEntries && !ajaxFail">
				{% include '_elements/snippets/spinner' with {showLoadingText: true} %}
			</template>
			<div class="resources-filter__filters">
				<button class="resources-filter__filters__mobile-active active" data-toggle="collapse" href="#resourcesFilterMobile">
					{* activeCategoryName *}
					<span>
						{{ craft.inlin.er('/public/img/svg/navigation/ic-chevron-down.svg') | raw }}
					</span>
				</button>
				<ul id="resourcesFilterMobile" class="collapse">
					<li v-bind:class="{ active: activeCategory == 'All Resources'}"><button v-on:click="filterResources('All Resources')" data-toggle="collapse" data-target="#resourcesFilterMobile">All Resources</button>
					</li>
					<li v-for="(category, index) in resourceCategories" v-bind:class="{ active: activeCategory == index}">
						<button v-on:click="filterResources(index)" data-toggle="collapse" data-target="#resourcesFilterMobile">{* category *}</button>
					</li>
				</ul>
				<ul id="resourceFilterDesktop">
					<li v-bind:class="{ active: activeCategory == 'All Resources'}"><button v-on:click="filterResources('All Resources')" >All Resources</button>
					</li>
					<li v-for="(category, index) in resourceCategories" v-bind:class="{ active: activeCategory == index}">
						<button v-on:click="filterResources(index)">{* category *}</button>
					</li>
				</ul>
			</div>
			<div class="ps-cards">
				<a v-bind:href="resource.url" v-for="resource in cappedFilterdResources" class="pp-card ps-cards__card">
					<div class="pp-card--ps__content">
						<div class="pp-card--ps__content__image resources-filter__resource-image" v-bind:style="{ 'background-image': 'url(' + resource.thumbnail + ')' }"></div>
						<div class="pp-card--ps__content__text">
							<h4>{* resource.name *}</h4>
							<p>{* resource.summary *}</p>
						</div>
					</div>
				</a>
			</div>
			<button class="load-more-button button button--light button--arrow mt-2 mt-md-0 w-100"
					v-on:click="loadMore()"
					v-if="showLoadMore"
				>
					Load more
			</button>
		</div>
		<section class="neo-section section-bg-light section-padding-no-bottom d-md-none">
			<div class="container mt-4">
                {% include '/_elements/share.html' with {id: 'mobileShare'} %}
			</div>
		</section>
	</section>
{% includeJsFile "/public/js/project/resources-filter.min.js" %}
{% endblock %}
