.neo-section {
    padding: $section-padding-medium 0;
    @media (max-width: 991px) {
        padding-top: $section-padding-small;
        padding-bottom: $section-padding-small;
    }
    .matrix-block-wrapper:first-of-type .matrix-block {
        margin-top: 0;
    }
    .matrix-block-wrapper:last-of-type .matrix-block {
        margin-bottom: 0;
    }
}
.neo-section.section-padding-no-top {
    padding-top: 0;
}
.neo-section.section-padding-no-bottom {
    padding-bottom: 0;
}
.neo-section.section-padding-no-top-no-bottom {
    padding-top: 0;
    padding-bottom: 0;
}

/* Section Base Styles */
.neo-section__heading {
    @include fluid-property('margin-bottom',32,16);
}

/* Section Backgrounds */
.section-bg-white {
    background-color: $bg-white-color;
    color: $body-color;
    // a:not(.button) {
    //     color: $link-color;
    //     &:hover, &:focus {
    //         color: $link-hover-color;
    //     }
    // }
}
.section-bg-light {
    background-color: $bg-light-color;
    color: $font-color-on-light-bg;
    // a:not(.button) {
    //     color: $link-color-on-light-bg;
    //     &:hover, &:focus {
    //         // color: $link-color-hover-on-light-bg;
    //     }
    // }
}
.section-bg-dark, .section-bg-alt-dark {
    background-color: $bg-dark-color;
    color: $font-color-on-dark-bg;
    h2 {
        color: $font-color-on-dark-bg;
    }
    a:not(.button) {
        color: $link-color-on-dark-bg;
        &:hover, &:focus {
            color: $link-color-hover-on-dark-bg;
        }
    }
    .table-hover>tbody>tr:hover, .table-striped>tbody>tr:nth-of-type(odd) {
        color: $bg-dark-color;
    }
    .file-attachment a {
        color: $bg-dark-color;
        &:hover {
            color: darken($bg-dark-color, 20%);
        }
    }
}
.section-bg-alt-dark {
    background-color: $bg-alt-dark-color;
}

.section-bg-dark--background-image {
    position: relative;
    background-color: $dark-purple;
    &::after {
        content: '';
        width: 90%;
        height: 55%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("/public/img/banner/dot-pattern-stats-m@2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
        @include media-breakpoint-up(md) {
        height: 100%;
        width: 50%;
        background-image: url("/public/img/banner/dot-pattern-stats@2x.png");
        }
    }
}

/* Border above a light section but only when its full width and the last block of the page*/
.matrix-block-wrapper:last-child .matrix-block-fullWidthSection > .section-bg-light:first-child {
    border-top: 1px solid $divider;
    border-bottom: none;
}

/* Block Base Styles */
.block__heading {
    @include fluid-type($block-heading);
    @include fluid-property('margin-bottom',32,16);
}

/** images slider */
.image-slider-wrap {
    position: absolute;
    visibility: hidden;
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }
    .slider-caption {
        margin-bottom: 0;
        margin-top: 8px;
        font-size: 1.3rem;
        line-height: 1.54;
        font-style: italic;
        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
            line-height: 1.71;
            letter-spacing: 0.1px;
        }
    }
}
.image-slider-wrap .slider-arrow {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    opacity: 0.6;
}
.image-slider-wrap .slider-arrow:hover {
    opacity: 1;
}
.image-slider-wrap .slider-arrow img {
    width: 59px;
    height: auto;
}
.image-slider-wrap .arrow-previous {
    left: 0;
}
.image-slider-wrap .arrow-next {
    right: 0;
}
/** to fix non-adaptive height styling issue */
.image-slider-wrap .slick-slide {
    overflow: hidden;
}


.file-attachment.alert {
    background-color: #ffffff;
    border-color: #dedede;
    color: #6d6d6d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.file-attachment .button {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    svg {
        margin-right: 8px;
        position: relative;
        top: 2px;
    }
}

.rich-text img {
    max-width: 100%;
    border-radius: 4px;
    height: auto !important;
    margin-bottom: 8px;
}
.matrix-block-twoColumns {
    h1, h2, h3 {
        &:not(:first-of-type) {
            @include fluid-property('margin-top', 28, 16);
        }
    }
    .rich-text .col-md-6:first-of-type {
        @include media-breakpoint-down(sm) {
            margin-bottom: 24px;
        }
    }
    img {
        width: 100%;
        border-radius: 4px;
    }
    em {
        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }
    }
}

.rich-text {
    h1, h2, h3 {
        @include fluid-property('margin-bottom', 30, 16)
    }
    h1, h2, h3, h4 {
        &:last-child {
            margin-bottom: 0;
        }
    }
    h3 {
        font-weight: 700;
        margin-bottom: 8px;
        @include media-breakpoint-up(md) {
            font-weight: 400;
        }
    }

    p {
        @include fluid-type($rich-text);
        &:last-child {
            margin-bottom: 0;
        }
        & + h1, & + h2, & + h3, & + h4 {
            margin-top: 32px;
        }
    }
    ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 22px;
    }
    ul li {
        margin-bottom: 8px;
        padding-left: 25px;
        position: relative;
        @include fluid-type($rich-text);
        &::after {
            content: "";
            height: 7px;
            width: 7px;
            background-color: $light-purple;
            border-radius: 100%;
            position: absolute;
            left: 6px;
            top: 7px;
            @include media-breakpoint-up(md) {
                top: 8px;
            }
            @include media-breakpoint-up(md) {
                top: 9px;
            }
        }
        @include media-breakpoint-up(md) {
            padding-left: 27px;
        }
    }
    blockquote {
        margin-left: 45px;
        position: relative;
        border-left: 4px #eee solid;
        padding-left: 16px;
        @include fluid-property('margin-top', 40, 24);
        @include fluid-property('margin-bottom', 40, 24);
        @include fluid-type($rich-text);
        @include media-breakpoint-up(md) {
            padding-left: 23px;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 31px;
            height: 25px;
            background-image: url('/public/img/svg/ic-quote.svg');
            background-size: cover;
            background-repeat: no-repeat;
            left: -49px;
            top: 0;
        }
        @include media-breakpoint-up(md) {
            margin-left: 68px;
            &::before {
                width: 48px;
                height: 37px;
                background-image: url('/public/img/svg/ic-quote.svg');
                background-size: cover;
                background-repeat: no-repeat;
                left: -72px;
                top: 0;
            }
        }
        br {
            line-height: 32px;
        }
    }
    .small-text {
        @include fluid-type($card-body);
        opacity: 0.8;
        & + ul {
            li {
                @include fluid-type($card-body);
                opacity: 0.8;
                &::after {
                    background-color: #333;
                }
            }
        }
    }
}
.body-article .matrix-block.matrix-block-video {
    @include fluid-property('margin-top', 40, 24);
    @include fluid-property('margin-bottom', 40, 24);
}

/* Dividing Line */
.dividing-line {
    margin-left: 15px;
    margin-right: 15px;
}
.neo-section .dividing-line {
    margin-left: 0;
    margin-right: 0;
}

.matrix-block-notice .alert p:last-child {
    margin-bottom: 0;
}
.alert-primary {
    background-color: $light-mauve;
    border: none;
}
.table {
    margin-bottom: 0;
}
.matrix-block-boldCallToAction {
    @include fluid-property('margin-top', 32, 16);
    @include fluid-property('margin-bottom', 32, 16);
}

$profile-text: (
    font-size-dt: 15px,
    line-height-dt: 24px,
    font-size-mobile: 13px,
    line-height-mobile: 20px
);

.yump-profile {
    @include fluid-property('margin-top', 48, 16);
    @include fluid-property('margin-bottom', 32, 16);
    p {
        @include fluid-type($profile-text);
        margin-bottom: 24px;
    }
    h1, h2, h3, h4 {
        margin-bottom: 8px;
    }
    .img-fluid {
        margin-bottom: 8px;
        width: 285px;
        height: 285px;
        @include media-breakpoint-up(sm) {
            height: auto;
        }
    }
    .image-wrap {
        text-align: center;
        width: 100%;
    }
    .button {
        width: 100%;
        @include media-breakpoint-up(sm) {
            width: auto;
        }
        @include media-breakpoint-up(md) {
            width: 240px;
        }
    }
    @include media-breakpoint-up(lg) {
        .circle-text-column-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .yump-profile-summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

th[align="center"] {
    text-align: center;
}

th[align="left"] {
    text-align: left;
}

th[align="right"] {
    text-align: right;
}

.matrix-block-inside-section {
    max-width: 100%;
}

.neo-two-columns {
    @include media-breakpoint-up(md) {
        .row > .matrix-block-wrapper {
            display: flex;
            .matrix-block-column {
                max-width: 100%;
            }
            .matrix-block-wrapper {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                .matrix-block {
                    max-width: 100%;
                }
            }
        }
        &--bottom {
            .row > .matrix-block-wrapper {
                align-items: flex-end;
            }
        }
        &--center {
            .row > .matrix-block-wrapper {
                align-items: center;
            }
        }
        &--top {
            .row > .matrix-block-wrapper {
                align-items: flex-start;
            }
        }
    }

    .matrix-block-column {
        @include media-breakpoint-up(md) {
            width: 100%;
            margin-bottom: 0!important;
            .matrix-block-images, .matrix-block-video {
                margin-bottom: 0!important;
                display: block!important;
                flex: 0 0 100%;
                width: 100%;
            }
        }
        .neo-column-inner {
            width: 100%; // need this to fix the video not showing issue
            .rich-text {
                display: block;
            }
            .matrix-block-richText {
                margin-bottom: 16px!important;
            }
            figure {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 24px;
                }
            }
        }
    }
    .row {
        > .col-md-6:first-of-type {
            @include media-breakpoint-down(md) {
                order: 2;
            }
        }
        > .col-md-6:last-of-type {
            @include media-breakpoint-down(md) {
                order: 0;
            }
        }
    }
}

// Hack fix for getting rid of unwanted margin on videos inside columns
.neo-two-columns .matrix-block-wrapper + .matrix-block-wrapper > .matrix-block-video {
    margin-top: 0;
}