.yump-carousel-outer {
	padding: 0 57px;

	/** Hide before slick initialized */
	position: absolute;
	visibility: hidden;
}
.yump-carousel-item {
	padding: 0 0;
	@include media-breakpoint-up(xl) {
		width: 228px;
	}
	> a {
		display: inline-block;
	}
}
.yump-carousel-item:focus,
.yump-carousel-cell:focus {
	outline: 0;
}
.yump-carousel-cell-multi-items .yump-carousel-item:not(:last-child) {
	@include fluid-property('margin-bottom', 55, 42);
}

.yump-carousel-item-img-container {
	@include fluid-property('height', 175, 135);
	@include fluid-property('width', 175, 135);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	@include fluid-property('margin-bottom', 16, 8);
	margin-bottom: 30px;
	overflow: hidden;
	img {
		transform: scale(1.00);
		transition: $transition-base;
	}
	&:hover {
		img {
			transform: scale(1.05);
		}
	}
	&::after {
		position: absolute;
		content: "";
		@include fluid-property('height', 175, 135);
		@include fluid-property('width', 175, 135);
		top: 0;
		left: 0;
		right: 3px;
		bottom: 0;
		background-image: url("/public/img/svg/team-member-swirl.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.yump-carousel .yump-carousel-cell {
	margin-left: 12px;
	margin-right: 12px;
	@include media-breakpoint-up(xl) {
		width: 228px!important;
	}
}
.yump-carousel-item-img-container img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	position: absolute;
	border-radius: 100%;
	@include fluid-property('top', 11, 7);
	right: 0;
	left: -1px;
	bottom: 0;
	@include fluid-property('height', 155, 120);
	@include fluid-property('width', 155, 120);

}
.ie .yump-carousel-item-img-container {
	display: block;
	text-align: center;
}
.ie .yump-carousel-item-img-container img {
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-arrow {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background-color: #712d90;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 22px;
		position: relative;
		transition: $transition-base;
	}
	.slick-prev {
		left: 0;
		&:hover {
			left: 3px;
		}
	}
	.slick-next {
		right: 0;
		&:hover {
			right: 3px;
		}
	}
}
.slick-arrow:hover {
  opacity: 1;
}
.slick-arrow:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #09F;
}
.slick-arrow:active {
  opacity: 1;
}
// .slick-track {
// 	@include media-breakpoint-up(xl) {
// 		width: 1014px!important;
// 	}
// }
.yump-carousel-outer {
	.slick-prev {
		left: 0;
		-webkit-appearance: none;
	}
	.slick-next {
		right: 0;
		-webkit-appearance: none;
	}
}

.yump-carousel-item p {
	margin-bottom: 0px;
	line-height: 17px;
	font-size: 1.4rem;
}
.yump-carousel-item .yump-carousel-item-text-heading {
	@include fluid-property('font-size', 24, 18);
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.46;
	letter-spacing: normal;
	text-align: center;
	color: #330044;
	@include media-breakpoint-up(xl) {
		width: 228px;
	}
}
.yump-carousel-item .yump-carousel-item-text-subheading {
	@include fluid-property('font-size', 15, 13);
	font-weight: bold;
	font-style: normal;
	margin-top: 4px;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #712d90;
	@include media-breakpoint-up(xs) {
		min-height: 36px;
	}
	@include media-breakpoint-up(xl) {
		width: 228px;
	}
}
.yump-carousel-item-text-container {
	margin-top: 10px;
	text-align: center;
	@include media-breakpoint-up(xl) {
		width: 228px;
	}
}

.carousel-modal {
	.modal-close {
		position: absolute;
		right: 25px;
		top: 25px;
		cursor: pointer;
		opacity: 1;
		transition: $transition-base;
		&:hover {
			opacity: 0.8;
		}
	}
	.modal-dialog {
		border-radius: 4px;
		box-shadow: 0 15px 20px 0 rgba(113, 45, 144, 0.05);
		border: solid 1px #e0d3e7;
		background-clip: border-box;
		margin: 16px;
		@include media-breakpoint-up(sm) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__text-subheading {
		@include fluid-property('font-size', 15, 13);
		font-weight: bold;
		font-style: normal;
		margin-top: 4px;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: normal;
		color: #712d90;
		margin-bottom: 24px;
	}
	&__text-heading {
		@include fluid-property('font-size', 24, 18);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.46;
		letter-spacing: normal;
		color: #330044;
	}
	.modal-content {
		padding: 60px 24px 40px;
		border: none;
	}
	.modal__image img {
		@include fluid-property('height', 235, 175);
		@include fluid-property('width', 235, 175);
		border-radius: 100%;
	}
	.modal__image {
		margin: 0 0 16px;
		position: relative;
		flex: 0 0;
		margin-right: 24px;
		@include fluid-property('flex-basis', 255, 200);
		@include fluid-property('height', 255, 200);
		@include fluid-property('width', 255, 200);
		display: flex;
		align-items: center;
		justify-content: center;
		&::after {
			position: absolute;
			content: "";
			@include fluid-property('height', 255, 200);
			@include fluid-property('width', 255, 200);
			top: 0;
			left: 0;
			right: 3px;
			bottom: 0;
			background-image: url("/public/img/svg/team-member-swirl.svg");
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	p:last-of-type {
		margin-bottom: 0;
	}
}

@include media-breakpoint-up(lg) {
	.carousel-modal {
		.modal-dialog {
			max-width: 1128px;
			margin: 85px 30px;
			width: calc(100% - 60px);
		}
		.modal-content {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding-top: 65px;
			padding-bottom: 65px;
		}
		.modal__text-content {
			max-width: 552px;
			margin-top: 15px;
		}
		.modal__image {
			margin-left: 0;
		}
		&__text-subheading {
			margin-bottom: 14px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.carousel-modal {
		.modal-dialog {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.modal-backdrop.show {
	opacity: 0.7;
}
