/** Box page global settings */
.box-page-content-wrapper {
  background-size: cover;
  padding: 300px 15px;
  position: relative;
  background-color: $dark-purple;
  /*margin-top: -61px;
  margin-bottom: -90px;*/
  &::before {
    content: '';
    width: 50%;
    height: 55%;
    position: absolute;
    right: 0;
    top: 70px + 56px;
    background-image: url("/public/img/banner/dot-pattern-404-top-right@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    @include media-breakpoint-up(xl) {
      top: 60px;
    }
  }
  &::after {
    content: '';
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("/public/img/banner/dot-pattern-404-bottom-left@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}

.box-page-bg-overlay {
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.box-icon {
  margin-bottom: 24px;
  width: 73.6px;
  height: 55.2px;
}

.alert-box-page-wrapper {
  padding-top: 300px;
  padding-bottom: 300px;
}

.box-wrapper {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 456px;
  width: 100%;
  text-align: left;
  background-color: transparent;
  #email-sign-in-form-wrapper {
    label {
      color: white;
    }
  }
}

.box-wrapper .box-heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: $font-color-on-dark-bg;
}
.box-wrapper .box-subheading {
  line-height: 1.5;
  color: $font-color-on-dark-bg;
  margin-bottom: 24px;
}

.alert-box-wrapper {
  text-align: center;
}

.alert-box-wrapper .box-heading {
  margin-bottom: 0;
}

.alert-box-wrapper .alert-box-text {
  margin-top: 30px;
}

.alert-box-wrapper .box-content-button {
  margin-top: 20px;
}



@media (max-width: 1500px) and (min-width: 1200px) {
  .box-page-content-wrapper {
    padding-top: 150px + 40px;
    padding-bottom: 150px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .box-page-content-wrapper {
    padding-top: 150px + 70px;
    padding-bottom: 150px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .box-page-content-wrapper {
    padding-top: 100px + 70px;
    padding-bottom: 100px;
  }
  .alert-box-page-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 767px) {
  .box-page-content-wrapper {
    padding-top: 30px + 70px + 56px;
    padding-bottom: 30px;
  }
  .alert-box-page-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.compact-page-center-element-wrapper {
  text-align: center;
}

.errors {
  margin-top: 15px;
  color: #d44950;
  background-color: #f2dede;
  padding: 12px;
  list-style: none;
}
.forgot-password-link-wrapper {
   color: #ddd;
   text-decoration: underline;
   /*margin-top: 8px;*/
   margin-bottom: 15px;
}

.compact-page-btn {
  border: 2px solid black;
    background: white;
    color: black;
    font-weight: 700;
    padding: 13px 35px;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    text-decoration: none;
}
.compact-page-btn:hover, .compact-page-btn:focus {
    background: black;
    color: white;
    text-decoration: none;
    outline: 0;
}
