.share {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 150;
  &__heading {
    display: flex;
    padding: 15px;
    border-radius: 4px 4px 0px 0px;
    background-color: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0);
    border-bottom: none;
    transition: all ease-in-out 0.15s 0.15s, color 0.2s ease-in-out;
    &:hover {
      text-decoration: none;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      background-color: #fff;
      border: 1px solid #cccccc;
      border-radius: 4px;
    }
    span {
      transition: color 0.2s ease-in-out;
    }
    img {
      transition: 0.25s ease-in-out all;
      margin-left: auto;
      width: 12px;
      height: 8px;
      max-width: 12px;
      flex-basis: 12px;
      align-self: center;
    }
    span:hover {
      color: $light-purple;
    }
    span {
      margin: 0 12px 0 8px;
      font-size: 1.3rem;
      font-weight: bold;
      color: $dark-grey;
    }
    &:not(.collapsed) {
      background-color: #fff;
      border-color: $light-grey;
      transition-duration: 0s;
      transition-delay: 0s;
      border-radius: 4px 4px 0 0;
      img {
        transform: rotate(180deg);
      }
    }
  }
  .fa-share-alt-square {
    font-size: 2.0rem;
    background-color: #fff;
    color: $light-purple;
  }
  &__content {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid $light-grey;
    border-top: none;
    position: absolute!important;
    top: 51px;
    left: 0;
    width: 100%;
    padding: 0 16px 0px;
    .button:not(:last-of-type) {
      margin-bottom: 6px;
    }
    .button:last-of-type {
      margin-bottom: 16px;
    }
  }
}

.crumbs-wrap {
  .share {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.neo-article-content {
  .share {
    margin-top: 24px;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
