.stats-counter {
  padding: 0 20px;
  @include media-breakpoint-up(sm) {
    padding: 20px 0;
  }
  @include fluid-property('padding-top', 52, 24);
  @include fluid-property('padding-bottom', 52, 24);
  text-align: center;
  color: #555555;
  position: relative;
  .stats-counter-heading {
      margin-bottom: 34px;
  }
  .stats-counter-subheading {
      margin-bottom: 35px;
  }
  &__icon {
    width: 51px;
    height: 51px;
    margin-right: 23px;
  }
  &__text-wrap {
    text-align: left;
    width: 180px;
  }
  .stats-counter-text {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.18;
    font-family: $headings-font-family;
    display: block;
  }
  &__sub-text {
    font-size: 1.3rem;
    line-height: 1.54;
  }
  &__logo {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -76px;
    // margin-left: -44px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
.stats-counter-content {
  justify-content: center;
}
.stats-counter-item {
  display: flex;
  justify-content: center;
  &:not(:last-of-type) {
    margin-bottom: 48px;
  }
  .stats-counter-number {
    font-size: 4.0rem;
    font-weight: bold;
    display: block;
    line-height: 1;
    margin-bottom: 6px;
  }
  &:not(:first-child) {
    @media (max-width: 767px) {
      border-left: none;
    }
  }
}
.section-bg-dark .stats-counter, .section-bg-dark--background-image {
  color: $font-color-on-dark-bg;
  .stats-counter-heading, .stats-counter-number, .stats-counter-text, .stats-counter__sub-text {
    color: $font-color-on-dark-bg;
  }
}

@include media-breakpoint-up(md) {
  .stats-counter-item {
    margin-bottom: 0!important;
  }
  .stats-counter-heading {
    margin-bottom: 40px!important;
    font-size: 3.6rem;
  }
  .stats-counter__text-wrap {
    width: auto;
  }
  .stats-counter-block {
    padding-top: 50px;
    background-color: $light-mauve;
  }
}

@include media-breakpoint-up(lg) {
  .stats-counter__logo {
    top: -92px;
  }
  .stats-counter-item {
    .stats-counter-text {
      font-size: 2.4rem;
    }
    .stats-counter-number {
      font-size: 4.8rem;
    }
  }
  .stats-counter__sub-text {
    font-size: 1.5rem;
  }
  .stats-counter-heading {
    font-size: 4.0rem;
    margin-bottom: 54px!important;
  }
}
@include media-breakpoint-up(xl) {
  .stats-counter__text-wrap {
    width: auto;
    min-width: 245px;
    max-width: 260px;
  }
}

// This now applies to all "dark-background image" blocks - see blocks-basic.scss
// .stats-counter-block {
//   position: relative;
//   .neo-section {
//     background-color: $dark-purple;
//     position: relative;
//     &::after {
//       content: '';
//       width: 90%;
//       height: 55%;
//       position: absolute;
//       top: 0;
//       right: 0;
//       background-image: url("/public/img/banner/dot-pattern-stats-m@2x.png");
//       background-size: contain;
//       background-repeat: no-repeat;
//       background-position: top right;
//       @include media-breakpoint-up(md) {
//         height: 100%;
//         width: 50%;
//         background-image: url("/public/img/banner/dot-pattern-stats@2x.png");
//       }
//     }
//   }
// }
