.video-iframe-wrapper {
    // max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 4px;
}
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}
.matrix-block-video {
    margin: 30px 0;
}
.video-transcript__link {
    margin-top: 16px;
    margin-bottom: 8px;
    span {
        font-size: 1.5rem;
    }
}
