/*
http://www.adrenalinmedia.com.au/blog/january-2016/this-changes-everything-css-%E2%80%98fluid-properties%E2%80%99
example:
h1 {
  @include fluid-type(font-size, 100, 50); //100px at 1920, 50px at 320;
}
*/
@mixin fluid-type($map, $min-vw:$typography_min_width, $max-vw:$typography_max_width) {
  $min-font-size: map-get($map, font-size-mobile);
  $max-font-size: map-get($map, font-size-dt);
  $min-line-height: map-get($map, line-height-mobile);
  $max-line-height: map-get($map, line-height-dt);
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit(50px);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: strip-unit($min-font-size) * 0.1rem;
      line-height: $min-line-height;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{strip-unit($min-font-size) * 0.1rem} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        line-height: calc(#{$min-line-height} + #{strip-unit($max-line-height - $min-line-height)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: strip-unit($max-font-size) * 0.1rem;
        line-height: $max-line-height;
      }
    }
  }
}

/*
Use this one for non-typography units
*/
$typography_min_width_val: strip-unit($typography_min_width);
$typography_max_width_val: strip-unit($typography_max_width);
@mixin fluid-property($property, $max, $min: 0, $start: $typography_min_width_val, $end: $typography_max_width_val, $clip: true, $clipAtStart: true, $clipAtEnd: true) {
  @if $min == 0 {
    $min: round($max * 0.78);
  }
  $multiplier: (($max - $min) / ($end - $start)) * 100;
  $adder: ($min * $end - $max * $start) / ($end - $start);
  $formula: calc(#{$multiplier + 0vw} + #{$adder + 0px});
  @if $clip and $clipAtStart {
    @media (max-width: #{$start + 0px}) {
      #{$property}: $min + 0px;
    }
  }
  @if $clip and $clipAtEnd {
    @media (min-width: #{$end + 0px}) {
      #{$property}: $max + 0px;
    }
  }
  #{$property}: $formula;
}
