{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
        	{% if errors is iterable %}
        		{% for error in errors %}
	                <li class="error">{{ error }}</li>
	            {% endfor %}
        	{% else %}
        		<li class="error">{{ errors }}</li>
        	{% endif %}
        </ul>
    {% endif %}
{% endmacro %}