{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

{% macro create(config) %}
	{% include "form_fields/create" with config only %}
{% endmacro %}

{% macro submit(config) %}
	{% include "form_fields/submit" with config only %}
{% endmacro %}

{% macro chosen(config) %}
	{% include "form_fields/chosen" with config only %}
{% endmacro %}

{% macro rating(config) %}
    {% include "form_fields/rating" with config only %}
{% endmacro %}

{% macro matrix(config) %}
    {% include "form_fields/matrix" with config only %}
{% endmacro %}

{% macro richtext(config) %}
    {% include "form_fields/richtext" with config only %}
{% endmacro %}

{% macro fileupload(config) %}
    {% include "form_fields/fileupload" with config only %}
{% endmacro %}

{% macro plaintext(config) %}
    {% include "form_fields/plaintext" with config only %}
{% endmacro %}
{% macro plaintextarea(config) %}
    {% include "form_fields/plaintextarea" with config only %}
{% endmacro %}

{% macro selectize(config) %}
    {% include "form_fields/selectize" with config only %}
{% endmacro %}

{% macro yumpdate(config) %}
    {% include "form_fields/yumpdate" with config only %}
{% endmacro %}

{% macro yumpcheckbox(config) %}
    {% include "form_fields/yumpcheckbox" with config only %}
{% endmacro %}