/** File Upload field */
.asset-image-wrapper {
	margin-top: 15px;
	max-width: 270px;
}
.asset-image-wrapper img {
	width: 100%;
}

/** User Info form */
/*.user-form-change-password-section {
    display: none;
}
#change-password-toggle {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}*/