{#
variables passed into this template:

user (UserModel) - dev users
server (String)  - current server
message (String) - $message
request (array)  - HTTP request data, including header. Array of strings
vars (array)     - custom vars. Array of strings
#}

<p>Hi {{ user.firstName }},</p>

<p>Something's wrong with your site: {{ server }}</p>

<p>Here's the message: {{ message }}</p>

<hr>

<h4>The followings are the custom variables dev defined:</h4>
{% for key, item in vars %}
	<div><strong style="font-size: 16px; color: #000">{{ key }}: </strong>{{ item }}</div>
{% endfor %}

{% if request is defined and request %}
	<hr>

	<h4>The followings are HTTP request variables, including header parameters:</h4>

	{% for key, item in request %}
		<div><strong style="font-size: 16px; color: #000">{{ key }}: </strong>{{ item }}</div>
	{% endfor %}
{% endif %}

<hr>

<h3>Good luck!</h3>