{% if user is defined and user is not null %}
  <section class="craft-visor craft-visor--override" data-craft-visor-overlay>
    <button
      class="craft-visor__toggle"
      title="Opens the Visor panel to administrate the site"
      data-craft-visor-toggle
    >
      <svg class="craft-visor__open-icon" width="51" height="30" viewBox="105 197 51 30" xmlns="http://www.w3.org/2000/svg" style="filter: drop-shadow(0px 2px 0px #222);"><path d="M133.6 227h-7.7c-.67-.06-1.17-.62-1.17-1.28s.5-1.22 1.16-1.28h7.7c.65.06 1.16.62 1.16 1.28s-.5 1.22-1.17 1.28zm6.26-8.8h-20.22c-.66-.07-1.16-.62-1.16-1.28 0-.67.5-1.22 1.16-1.28h20.22c.66.06 1.16.6 1.16 1.28 0 .66-.5 1.2-1.16 1.28zm6.95-9.37h-34.1c-.5.05-.96-.2-1.22-.6-.26-.42-.26-.95 0-1.36.26-.42.73-.65 1.22-.6h34.1c.5-.05.97.18 1.23.6.25.4.25.94 0 1.36-.26.4-.73.65-1.22.6zm7.27-9.26H106.4c-.48.04-.95-.2-1.2-.6-.26-.42-.26-.95 0-1.36.25-.4.72-.63 1.2-.6h47.66c.66.08 1.16.63 1.16 1.3 0 .66-.5 1.2-1.16 1.28z" fill-rule="evenodd"/></svg>
    </button>

    <div class="craft-visor__modal">
      <button class="craft-visor__close" data-craft-visor-close>
        <svg width="13" height="13" viewBox="390 301 13 13" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M390.56 312.1l1.26 1.27 4.76-4.76 4.73 4.78 1.27-1.26-4.73-4.74 4.7-4.7-1.25-1.26-4.7 4.7-4.75-4.7-1.25 1.25 4.72 4.7"/></svg>
      </button>
      <div class="craft-visor__entry">
        <div class="craft-visor__entry-content">
          <h1 class="craft-visor__entry-title">
            {% if entry.title is defined %}
              {{entry.title}}
            {% else %}
              Visor
            {% endif %}
          </h1>

          <p class="craft-visor__entry-section">
            {% if entry %}
              Posted in

              {% if currentUser.can('editEntries:' ~ entry.getSection().id) %}
                {% if entry.getSection().type == "single" %}
                  <a href="/{{craft.config.cpTrigger}}/entries/singles/" title="View all the entries posted in 'Singles'" target="_blank">
                {% else %}
                  <a href="/{{craft.config.cpTrigger}}/entries/{{entry.getSection().handle}}/" title="View all the entries posted in '{{entry.section}}'" target="_blank">
                {% endif %}
              {% endif %}

                {% if entry.getSection().type == "single" %}
                  <strong>Singles</strong>
                {% else %}
                  <strong>{{entry.section}}</strong>
                {% endif %}

              {% if currentUser.can('editEntries:' ~ entry.getSection().id) %}
                </a>
              {% endif %}
            {% else %}
              A Craft CMS dashboard companion
            {% endif %}
          </p>
        </div>

        <svg class="craft-visor__entry-bg" width="42" height="50" viewBox="7 3 42 50" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M46 3.3H15.4c-1.26 0-2.3.97-2.4 2.2h-.15v2.93h-3c-1.34 0-2.4 1.07-2.4 2.4v39.7c0 1.34 1.06 2.4 2.4 2.4h30.6c.63 0 1.24-.24 1.7-.7.44-.44.7-1.05.7-1.7v-2.7H46c1.32 0 2.4-1.1 2.4-2.4V5.7c0-.63-.25-1.24-.7-1.7-.45-.44-1.06-.7-1.7-.7zM14.78 5.7h.3c0-.17.14-.3.32-.3H46c.18 0 .33.13.33.3v39.72c0 .17-.15.3-.32.3h-3.1v-34.9c0-.63-.2-1.24-.7-1.7-.4-.44-1-.7-1.7-.7H14.8V5.7zm26 44.84c0 .18-.16.32-.33.32H9.85c-.1 0-.18-.04-.24-.1V10.84c0-.1.1-.18.1-.24l.2-.1h30.6c.2 0 .4.15.4.33v39.7z"/><path d="M35.06 16.45h-22.1c-.3.16-.52.5-.52.86 0 .4.2.7.53.9h22.1c.34-.1.56-.5.56-.8s-.22-.7-.57-.8zM14.63 29.58H25.2c.42-.1.73-.47.73-.9 0-.44-.3-.82-.74-.9H12.9c-.33.15-.53.48-.53.84 0 .37.2.7.53.86h1.66l.02.1zm20.43-7.86h-22.1c-.3.17-.52.5-.52.86s.2.7.53.86h22.1c.34-.15.56-.48.56-.86 0-.37-.22-.7-.57-.86zM25.2 41.9H12.94c-.33.17-.53.5-.53.87 0 .36.2.7.6.85h12.2c.4-.14.6-.48.6-.85 0-.38-.2-.72-.6-.86zm9.86-4.97h-22.1c-.3.16-.52.5-.52.86 0 .3.2.6.53.8h22.1c.34-.2.56-.5.56-.9s-.22-.8-.57-.9z"/></g></svg>
      </div>
      <nav class="craft-visor__nav">
        {% if entry and currentUser.can('editEntries:' ~ entry.getSection().id) %}
          <a href="/{{craft.config.cpTrigger}}/entries/{{entry.getSection().handle}}/{{entry.id}}-{{entry.slug}}" title="Edit this entry in Craft" target="_blank">
            <p class="craft-visor__nav-wrap">
              <svg width="67" height="50" viewBox="5 10 67 50" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M69.47 14.86L66.1 12.1c-1.73-1.37-4.27-1.1-5.7.6L32.14 47.14c-.16.2-.26.44-.3.7l-1.13 9.43c0 .47.18.94.5 1.24.4.3.9.4 1.37.27l8.8-3.22c.24-.07.44-.2.6-.4L70.1 20.68c1.42-1.76 1.16-4.35-.6-5.78zm-13.1 7.04l5.47 4.47L42.56 50l-5.5-4.47 19.3-23.63zm-22.7 33.5l.9-6.83.77-.96 5.5 4.5-.8 1-6.37 2.33zm34.3-36.5l-4.4 5.4-5.48-4.5 4.32-5.33c.5-.55 1.33-.63 1.93-.18L67.7 17c.55.5.63 1.3.2 1.87h.03z"/><path d="M41.9 44.5c.76.33 1.65.02 2.06-.7l12.6-15.43c.63-.54.76-1.47.3-2.17-.78-.32-1.67 0-2.07.73l-12.7 15.4c-.63.57-.74 1.5-.26 2.18zm11.04-26.56l2.5-3.03H7.26v.1c-.8 0-1.43.68-1.43 1.47 0 .8.64 1.43 1.43 1.43v.07h45.7-.02zm-7.64 9.3l2.5-3.04H7.25v.1c-.8 0-1.43.63-1.43 1.4 0 .8.64 1.44 1.43 1.44v.1H45.3zm-7.44 9.4l2.5-3.04H7.26v.1c-.8 0-1.43.63-1.43 1.4 0 .8.64 1.44 1.43 1.44v.1h30.6zm-8.46 9.4L31.9 43H7.27v.1c-.8 0-1.43.63-1.43 1.4 0 .8.64 1.44 1.43 1.44v.1H29.4z"/></g></svg>
              Edit entry
            </p>
          </a>
        {% endif %}
        <a href="/{{craft.config.cpTrigger}}/entries/" title="Browse all entries in Craft" target="_blank">
          <p class="craft-visor__nav-wrap">
            <svg width="42" height="50" viewBox="7 3 42 50" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M46 3.3H15.4c-1.26 0-2.3.97-2.4 2.2h-.15v2.93h-3c-1.34 0-2.4 1.07-2.4 2.4v39.7c0 1.34 1.06 2.4 2.4 2.4h30.6c.63 0 1.24-.24 1.7-.7.44-.44.7-1.05.7-1.7v-2.7H46c1.32 0 2.4-1.1 2.4-2.4V5.7c0-.63-.25-1.24-.7-1.7-.45-.44-1.06-.7-1.7-.7zM14.78 5.7h.3c0-.17.14-.3.32-.3H46c.18 0 .33.13.33.3v39.72c0 .17-.15.3-.32.3h-3.1v-34.9c0-.63-.2-1.24-.7-1.7-.4-.44-1-.7-1.7-.7H14.8V5.7zm26 44.84c0 .18-.16.32-.33.32H9.85c-.1 0-.18-.04-.24-.1V10.84c0-.1.1-.18.1-.24l.2-.1h30.6c.2 0 .4.15.4.33v39.7z"/><path d="M35.06 16.45h-22.1c-.3.16-.52.5-.52.86 0 .4.2.7.53.9h22.1c.34-.1.56-.5.56-.8s-.22-.7-.57-.8zM14.63 29.58H25.2c.42-.1.73-.47.73-.9 0-.44-.3-.82-.74-.9H12.9c-.33.15-.53.48-.53.84 0 .37.2.7.53.86h1.66l.02.1zm20.43-7.86h-22.1c-.3.17-.52.5-.52.86s.2.7.53.86h22.1c.34-.15.56-.48.56-.86 0-.37-.22-.7-.57-.86zM25.2 41.9H12.94c-.33.17-.53.5-.53.87 0 .36.2.7.6.85h12.2c.4-.14.6-.48.6-.85 0-.38-.2-.72-.6-.86zm9.86-4.97h-22.1c-.3.16-.52.5-.52.86 0 .3.2.6.53.8h22.1c.34-.2.56-.5.56-.9s-.22-.8-.57-.9z"/></g></svg>
            All entries
          </p>
        </a>
        <a href="/{{craft.config.cpTrigger}}/" title="Go to the Craft dashboard" target="_blank">
          <p class="craft-visor__nav-wrap">
            <svg width="54" height="50" viewBox="11 14 54 50" xmlns="http://www.w3.org/2000/svg"><path d="M62.9 55.58H45.34c-.56-3.48-3.58-6.03-7.1-6-3.53.04-6.5 2.64-7 6.13-.16 0-.33-.1-.5-.1H12.6c-.66 0-1.2.6-1.2 1.2 0 .7.54 1.2 1.2 1.2h18.13c.18 0 .35 0 .5-.1.5 3.5 3.48 6.1 7 6.2 3.53.07 6.55-2.5 7.1-6H62.9c.67 0 1.2-.5 1.2-1.2 0-.64-.53-1.2-1.2-1.2zm-24.6 5.95c-1.93 0-3.66-1.15-4.4-2.93-.72-1.77-.32-3.8 1.04-5.16 1.35-1.36 3.4-1.76 5.16-1.03 1.78.8 2.93 2.5 2.93 4.4 0 2.6-2.12 4.8-4.74 4.8zm24.6-23.5h-8.75c-.55-3.5-3.6-6.1-7.14-6.04-3.5 0-6.5 2.6-6.9 6.2-.1-.1-.3-.2-.5-.2h-27c-.6 0-1.2.5-1.2 1.2s.6 1.2 1.2 1.2h27c.2 0 .36-.1.5-.2.5 3.5 3.48 6.1 7 6.12 3.5.03 6.55-2.5 7.1-6h8.75c.66 0 1.22-.53 1.22-1.2 0-.67-.5-1.2-1.2-1.23zm-15.8 5.94c-2.6 0-4.73-2.13-4.73-4.74 0-2.62 2.12-4.75 4.74-4.75 2.7 0 4.8 2.13 4.8 4.75 0 1.26-.5 2.47-1.4 3.36-.9.8-2.1 1.3-3.3 1.3zm-34.78-21h4.84c.18 0 .36-.05.52-.13.5 3.5 3.47 6.1 7 6.12 3.52.04 6.53-2.5 7.1-6H62.6c.68 0 1.22-.53 1.22-1.2 0-.67-.54-1.2-1.2-1.2H31.84c-.58-3.47-3.6-6-7.1-5.96-3.5.04-6.46 2.6-6.98 6.08-.16-.08-.33-.13-.5-.13H12.4c-.43-.02-.84.2-1.07.56-.23.4-.25.9-.05 1.3s.6.68 1.02.7zm12.5-5.94c2.6 0 4.73 2.13 4.73 4.74 0 2.62-2.12 4.75-4.74 4.75-2.6 0-4.7-2.13-4.7-4.75 0-2.6 2.2-4.74 4.8-4.74z" fill-rule="evenodd"/></svg>
            Dashboard
          </p>
        </a>
        <a href="{{logoutUrl}}" title="Sign out of Craft">
          <p class="craft-visor__nav-wrap">
            <svg width="34" height="50" viewBox="10 5 34 50" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M12.96 49.26V10.28c0-1.48 1.2-2.7 2.7-2.7h23V5.55h-23c-2.62 0-4.74 2.13-4.75 4.74v38.9c.1 2.6 2.2 4.7 4.8 4.7h23v-2h-23c-1.5 0-2.7-1.23-2.7-2.7z"/><path d="M43.37 29.36v-.25c-.04-.1-.15-.3-.3-.4l-10.02-6.5-.3-.12-.1.14c-.24.05-.45.2-.6.4-.13.2-.18.45-.13.7l-.1.16 8.6 5.54H20.5c-.3.14-.5.44-.5.8 0 .3.2.6.5.76h19.28l-6.95 5.93-.26.25.1.13c-.02.23.05.5.22.7.1.2.3.3.6.3l.1.14 9.5-7.93c.1-.14.2-.36.2-.58l-.05-.05z"/></g></svg>
            Sign out
          </p>
        </a>
      </nav>
    </div>
  </section>
{% endif %}
