{% if craft.config.get('enableLoginWallOnDocs') %}
	{% requireLogin %}
{% endif %}

{% extends "_layout" %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="/public/styles/docs.css" type="text/css">
{% endblock %}

{% block scriptAtBodyBeginning %}
	{% if craft.config.get('enableFacebookCommentsOnDocs') %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=310355329026677";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block content %}
	{% include '_elements/components/_docs_nav' with { currentEntry: entry } %}

	<div class="doc-content">
		{# <h1 class="doc-title container">{{ entry.title }}</h1> #}

		{{ parent() }}
	</div>

	{% if craft.config.get('enableFacebookCommentsOnDocs') %}
		{% include "_elements/facebook_comments" %}
	{% endif %}

	{# {% include '_elements/_components/_docs_nav' with { currentEntry: entry } %} #}

	{% set docNavsControl %}
		$(function() {
			$('.docs-nav-toggle').click(function() {
				var self = this;
				$(this).siblings('.docs-nav-wrapper').slideToggle({
					start: function() {
						$(self).toggleClass('expanded');
					},
				});
			});
		});
	{% endset %}
	{% includeJs docNavsControl %}
{% endblock %}