{% if block.heading is defined and block.heading %}
	<h3 class="block__heading">{{block.heading}}</h3>
{% endif %}
{% if block.accordionHeading is defined and block.accordionHeading and block.richText is defined and block.richText %}
	<div class="accordion">
		<h4 class="accordion__heading collapsed" data-accordion-trigger="trigger-{{block.id}}" data-toggle="collapse" data-target="#content-{{ block.id }}">{{block.accordionHeading}}</h4>
		<div data-accordion-content="content-{{block.id}}" id="content-{{ block.id }}" class="accordion__content collapse multi-collapse">
            {{block.richText}}
		</div>
	</div>
{% endif %}
