{% set assetTitle = block.linkTo.type == 'asset' ? block.linkTo.asset.title : block.textLine1 %}
<div class="bold-cta">
	<a href="{{craft.yump.generateValidUrl(block.linkTo.url)}}" title="{{block.linkTo.text}}" target="{{ block.linkTo.target }}" data-title="{{assetTitle}}">
		<span class="bold-cta__content">
			{{ craft.inlin.er('/public/img/svg/ic-learn-how-to.svg') | raw }}
			<span>{{block.textLine1}}</span>
		</span>
		<span class="button button--arrow button--more-padding">
			{{block.linkTo.text}}
		</span>
	</a>
</div>
