{% set link = link is defined and link ? link : block.linkTo.url %}
{% set linkTarget = block.linkTo.target is defined and block.linkTo.target ? block.linkTo.target : false %}
{% set title = title is defined and title ? title : block.linkTo.text %}
{% set icon = icon is defined and icon ? icon : block.toggle %}
{% set linkType = linkType is defined and linkType ? linkType : block.linkType %}
<div class="cta {{ linkType }} {{ linkType }}--arrow">
	<a class="cta__link" href="{{craft.yump.generateValidUrl(link)}}" target="{{linkTarget}}" title="{{title}}" data-title="{{title}}">
		{% if icon %}
			<i>{{ craft.inlin.er('/public/img/svg/ic-resources-in-other-languages.svg') | raw }}</i>
		{% endif %}
		<span>{{title}}</span>
	</a>
</div>
