{% includeCssFile "/vendor/slick/slick.css" %}
{# {% includeCssFile "/vendor/slick/slick-theme.css" %} #}
{% includeJsFile "/vendor/slick/slick.min.js" %}

{# {% includeCssFile "/src/css/core/carousel.css" %} #}
{# {% includeCssFile "/src/scss/core/carousel.scss" | yumpsass(true) %} #}
{% includeJsFile "/public/js/core/carousel.min.js" %}

{% set rows = block.numberOfRows %}

<div class="content-wrapper">
	<div class="yump-carousel-outer" id="yump-carousel-block-{{ block.id is defined and block.id ? block.id : craft.yump.getMicrotimeAsId() }}">
		<div class="yump-carousel">
			{# used to be like this, but .type is causing issues in Live Preview, and carousel only has 'carouselItem' type children, so we exclude the .type criteria for now. If in the future we are adding another block type, then this will be broken #}
			{# {% for index, item in block.carousel.type('carouselItem') %} #}
			{% for index, item in block.carousel %}
				{% if index % rows == 0 %}
					<div class="yump-carousel-cell{{ rows > 1 ? ' yump-carousel-cell-multi-items' : '' }}">
				{% endif %}
						
				{% include "_matrix-blocks/elements/_carousel_item" with {
					item: item,
					customHeight: block.customThumbnailHeight ? block.customThumbnailHeight : false,
				} %}

				{% if index % rows == rows - 1 or loop.last %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

{# <script>
$('#yump-carousel-block-' + {{ block.id | json_encode | raw }}).on('init', function(event, slick){
	$(this).css({"position": "relative", "visibility": "visible"});
});
</script> #}