<div class="neo-column-inner">
    {% for childBlock in block.children %}
        <div class="matrix-block-wrapper{{ customClass is defined and customClass|trim ? ' ' ~ customClass|trim : '' }}">

            {% if childBlock['customCss'] is defined and childBlock.customCss|trim %}
                {% include "_matrix-blocks/customCss" with {customCss: childBlock.customCss|trim} %}
            {% endif %}

            <div class="matrix-block matrix-block-{{ childBlock.type }}{{ childBlock.customWrapperClass|trim ? ' ' ~ childBlock.customWrapperClass|trim : '' }}
"
                    {% if childBlock.customBlockId|trim %}
                        id="{{ childBlock.customBlockId|trim }}"
                    {% else %}
                        id="matrix-block-{{ childBlock.id }}"
                    {% endif %}
            >{% include '_matrix-blocks/' ~ childBlock.type ignore missing with {'block': childBlock} %}</div>

        </div>

    {% endfor %}
</div>
