{% if block.heading %}
	<h3 class="block__heading">{{block.heading}}</h3>
{% endif %}
{% if block.columnCards is defined and block.columnCards %}
    <div class="row pp-cards pp-card__wrap">
        {% for card in block.columnCards %}
            {% set relatedEntry = card.relatedEntry.first() %}
            {% set heading = card.heading is defined and card.heading ? card.heading : relatedEntry.title %}
            {% set image = card.image.first() %}
            {% set target = relatedEntry ? '' : card.cardDestination.target %}
            {% include '_elements/cards/card.html' with {card: card, heading: heading, summary: card.text, link: relatedEntry ? relatedEntry.url : '', class: 'col-md-6 col-lg-3', target: target } %}
        {% endfor %}
    </div>
{% endif %}
