{% includeJsFile "//www.google.com/recaptcha/api.js" %}
{% if block.heading %}
    <h3 class="block__heading">{{block.heading}}</h3>
{% endif %}
{% if block.subHeading %}
    <div class="block__sub-heading">{{block.subHeading}}</div>
{% endif %}

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

{% set randomId = random() %}

<form class="contact-form" action="/" id="contact-form-{{ randomId }}">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="contactForm/sendMessage">
    {% set workshopsForParentsAndCarers = 'parentcarer@autismspectrum.org.au' %}
    {% set professionalLeaningForTeachersAndCarers = 'professionallearning@autismspectrum.org.au' %}
    {% set other = 'positivepartnerships@autismspectrum.org.au' %}
    <input id="toEmail" type="hidden" name="toEmail" value="{{ other | hash | replace({'@': '&#64;'}) | raw }}">
    <div class="contact-form__wrap">
        <div class="contact-form__field-wrap">
                <label for="from-name-{{ randomId }}">First name<span class="req">*</span></label>
            <input id="from-name-{{ randomId }}" class="form-control" required type="text" name="message[fromName]" value="{{ message.fromName ?? '' }}" placeholder="i.e. John">
            {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        </div>
        <div class="contact-form__field-wrap">
            <label class="" for="last-name-{{ randomId }}">Last name<span class="req">*</span></label>
            <input id="last-name-{{ randomId }}" class="form-control" required type="text" name="message[lastName]" value="{{ message.lastName ?? '' }}" placeholder="i.e. Smith">
            {{ message is defined and message ? errorList(message.getErrors('lastName')) }}
        </div>
        <div class="contact-form__field-wrap">
            <label for="from-email-{{ randomId }}">Your Email<span class="req">*</span></label>
            <input id="from-email-{{ randomId }}" class="form-control" type="email" required name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="i.e. john@gmail.com">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div>
        <div class="contact-form__field-wrap">
            <label for="enquiryType-{{ randomId }}">Enquiry type<span class="req">*</span></label>
            {% set selectId = 'enquiryType-' ~ randomId %}
            <select id="{{ selectId }}" class="form-control enquiry-type" name="message[enquiryType]" onchange="onSelectChange('{{ selectId }}')" required>
                <option value="" disabled selected>—</option>
                <option value="{{ workshopsForParentsAndCarers | hash | replace({'@': '&#64;'}) | raw }}">Workshops for parents and carers</option>
                <option value="{{ professionalLeaningForTeachersAndCarers | hash | replace({'@': '&#64;'}) | raw }}">Professional learning for teachers & schools</option>
                <option value="{{ other | hash | replace({'@': '&#64;'}) | raw }}">Other</option>
            </select>
        </div>
        <div class="contact-form__field-wrap contact-form__field-wrap--full-width">
            <h4><label for="message-{{ randomId }}">Comments<span class="req">*</span></label></h4>
            <textarea id="message-{{ randomId }}" class="form-control" name="message[body]" placeholder="Enter a comment" required>{{ message.message ?? '' }}</textarea>
            {{ message is defined and message ? errorList(message.getErrors('message')) }}
        </div>

        <div class="contact-form__field-wrap contact-form__field-wrap--full-width contact-form__field-wrap--captcha">
          <div class="g-recaptcha" data-sitekey="6LfWA6wUAAAAAJodhcjABRPSXFpZvAuqvnSeYOa1"></div>
        </div>

        <div class="contact-form__field-wrap contact-form__field-wrap--full-width">
            <button type="submit" class="button button--arrow w-100">Submit</button>
        </div>
    </div>
</form>
<div class="message-list text-center col-md-8 mt-3"></div>

<script>

$('#contact-form-{{ randomId }}').submit(function(ev) {

  ev.preventDefault();

  $('.message-list').empty();

  $('#hidden-from-email').val($('#from-email').val());

  var enquiryType = $('.enquiry-type').val();
  var newSelectVal;

  if (enquiryType === '5803bcf28b972c2142ce405ef0d48f52e8a8aac4parentcarer@autismspectrum.org.au') {
      newSelectVal = 'Workshops for parents and carers';
  } else if (enquiryType === '78731f675da116055fce7b5a6032d4eddaa22fadprofessionallearning@autismspectrum.org.au') {
      newSelectVal = 'Professional learning for teachers & schools';
  } else if (enquiryType === 'e8d7cc54b36cdeae0caaf7df54bed63b73d22d5cpositivepartnerships@autismspectrum.org.au') {
      newSelectVal = 'Other';
  }

  $('.enquiry-type').val(newSelectVal);

  var sendingData = $(this).serialize();

  disableContactForm();

  // Send it to the server
  $.post({
    url: 'contactForm/sendMessage',
    data: sendingData,
    dataType: 'json',
    success: function(response) {
      // console.log(response);
      if (response.success) {
        $('.message-list').append('<p class="form-message text-success">Sent successfully! Thank you!</p>');

        $('#contact-form-{{ randomId }}').find('input:not([type="hidden"]):not([type="submit"]), textarea').val('');
      } else {
        if(response.error) {
          $.each(response.error, function(field, errMessage) {
            $('.message-list').append('<p class="form-message text-danger">' + errMessage + '</p>');
          });
        }
      }
    },
    error: function() {
      $('.message-list').append('<p class="form-message text-danger">We are having an issue submitting the message, please try again later.</p>');
    },
    complete: function() {
      // console.log(response.error);
      enableContactForm();
    },
  });
});

  function disableContactForm() {
    var f = document.forms['contact-form-{{ randomId }}'].getElementsByTagName('input');
    for (var i=0;i<f.length;i++)
      f[i].disabled=true
    var f = document.forms['contact-form-{{ randomId }}'].getElementsByTagName('textarea');
    for (var i=0;i<f.length;i++)
      f[i].disabled=true

    $('#contact-form-{{ randomId }} button[type="submit"]')[0].innerText = 'Submitting...';
  }

  function enableContactForm() {
    var f = document.forms['contact-form-{{ randomId }}'].getElementsByTagName('input');
    for (var i=0;i<f.length;i++)
      f[i].disabled=false
    var f = document.forms['contact-form-{{ randomId }}'].getElementsByTagName('textarea');
    for (var i=0;i<f.length;i++)
      f[i].disabled=false

    $('#contact-form-{{ randomId }} button[type="submit"]')[0].innerText = 'Submit';
  }

  function onSelectChange(selectId) {
      var toEmail = $('#' + selectId).val();
      $('#toEmail').val(toEmail);
  }
</script>


