<div class="file-attachment alert alert-success">

	<div class="file-attachment__details">
	{# TODO: An icon that represents the type of attachment could go here #}
	{{ block.fileAttachment.htmlLink({target: '_blank'}) }}
	{% if block.fileAttachment.type == 'asset' %}
		{# TODO: If the attachment is a local file, we'll display the type and filesize here #}
		({{ block.fileAttachment.asset.size | filesize | lower }} {{ block.fileAttachment.asset.extension | upper }})
	{% endif %}
	</div>
	<a href="{{block.fileAttachment.url}}" class="button">
		<i>{{ craft.inlin.er('/public/img/svg/ic-download.svg') | raw }}</i> Download
	</a>
</div>