{#
 # This is the root element for matrix/neo blocks
 # It loops through each block and renders it via /_matrix-blocks/BLOCK-NAME.html
 # By default it includes a wrapper DIV, but this can be disabled by passing {wrapperDiv: false}
 # or a class can be added by adding {wrapperDiv: '[classname]'}
 #}

{% if block is not empty %}
	<section class="body-neo-wrapper body-neo-wrapper--full-width{% if wrapperClass is defined and wrapperClass %} {{ wrapperClass }}{% endif %}">

		{% include "_matrix-blocks/elements/_neo_child_block" with { blockSet: block.children } %}

		{% set backgroundColour = block.children|last['backgroundColour'] is defined and block.children|last.backgroundColour ? 'section-bg-' ~ block.children|last.backgroundColour.value : '' %}

        {% if craft.request.segments and entry is defined and entry and not articleContent %}
			<section class="neo-section d-md-none section-padding-no-top share-bottom {{ backgroundColour }}">
				<div class="container">
                    {% include '/_elements/share.html' with {id: 'mobileShare'} %}
				</div>
			</section>
        {% endif %}
	</section>
{% endif %}
