{% set topBottomPaddingClass = craft.yump.getSectionTopBottomPaddingClass(block) %}

<section class="neo-section{% if block['backgroundColour'] is defined and block.backgroundColour %} section-bg-{{ block.backgroundColour.value }}{% endif %}{% if topBottomPaddingClass %} {{ topBottomPaddingClass }}{% endif %}">

	<div class="neo-section-inner container">
		{% if block.heading|trim %}
			<h2 class="neo-section__heading">{{ block.heading|trim }}</h2>
		{% endif %}
		<div class="section-body">
			{% include "_matrix-blocks/elements/_neo_child_block" with {blockSet: block.children, customClass: 'matrix-block-inside-section'} %}
		</div>
	</div>

</section>
