{% if block.heading %}
	<h3 class="block__heading">{{block.heading}}</h3>
{% endif %}

{% if block.iconsWithText is defined and block.iconsWithText %}
	<div class="row">
	{% for item in block.iconsWithText %}
		<div class="col-md-6">
			<div class="iconsWithText__item">
				{% if item.icon and item.icon|length %}
					<img src="{{ item.icon[0].url }}" alt="{{ item.icon[0].title }}">
				{% endif %}
				<p>{{item.text}}</p>
			</div>
		</div>
	{% endfor %}
	</div>
{% endif %}
