{% includeCssFile "/vendor/slick/slick.css" %}
{# {% includeCssFile "/vendor/slick/slick-theme.css" %} #}
{% includeJsFile "/vendor/slick/slick.min.js" %}
{% includeJsFile "/public/js/core/images.min.js" %}

{% if block.images | length %}

	{% set thumbSettings = {
		width: 1500
	} %}

	<div class="image-slider-wrap" aria-hidden="true">

	{% for image in block.images %}
	    {% set imageUrl = image | yumpimager(thumbSettings) %}

	    {% if imageUrl %}
	    	<a class="slider-item" {% if image.linkTo %}href="{{ image.linkTo.url }}"{% endif %} target="_blank">
		  		<img class="img-responsive" src="{{ imageUrl }}" alt="{{ image.title is defined and image.title ? image.title : 'image' }}">
                {% if image.imageCaption is defined and image.imageCaption %}
					<div class="slider-caption">{{ image.imageCaption }}</div>
                {% endif %}
	    	</a>
	    {% endif %}

	{% endfor %}

	</div>
{% endif %}

