{#
 # This is the root element for matrix/neo blocks
 # It loops through each block and renders it via /_matrix-blocks/BLOCK-NAME.html
 # By default it includes a wrapper DIV, but this can be disabled by passing {wrapperDiv: false}
 # or a class can be added by adding {wrapperDiv: '[classname]'}
 #}

{% if block is not empty %}
	{% set wrapperDivClass = '' %}
	{% if wrapperDiv is defined and wrapperDiv %}
		{% set wrapperDivClass = wrapperDiv %}
	{% endif %}
	{% if wrapperDiv is not defined or wrapperDiv != false %}
		<section class="matrix-wrapper {{wrapperDivClass}}">
	{% endif %}

		{% for childBlock in block.level(1) %}

		    <div class="matrix-block matrix-block-{{ childBlock.type }}">{% include '_matrix-blocks/' ~ childBlock.type with {'block': childBlock} %}</div>

		{% endfor %}

	{% if wrapperDiv is not defined or wrapperDiv != false %}
		</section>
	{% endif %}
{% endif %
