{% if block.profileStyleCards is defined and block.profileStyleCards %}
    {% if block.heading is defined and block.heading %}
        <h3 class="profile-style-cards__heading">{{ block.heading }}</h3>
    {% endif %}
    <div class="row pp-card__wrap">
        {% for card in block.profileStyleCards %}
            {% set image = card.imageWithFocusPoint.first() is defined and card.imageWithFocusPoint.first() ? card.imageWithFocusPoint.first() : false %}
            {% if image is defined and image %}
                {% set thumbSettings = {
                    width: 456,
                    height: 456,
                    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'
                } %}
                {% set imagePos = image | yumpimager(thumbSettings) %}
                {% set imageUrl = imagePos.url %}
            {% endif %}
            {% include '_elements/cards/profile_style_card.html' with { imageUrl: imageUrl, heading: card.heading, subText: card.cardContent, link:card.cardLink.url, target:card.cardLink.target, class: 'ps-cards__stripped' } %}
        {% endfor %}
    </div>
{% endif %}
