<div class="yump-profile">
	<div class="row">
		{% include "_matrix-blocks/elements/_circle_text_column_item" with {
			item: block,
			columnSpan: 'col-sm-4 col-lg-5',
		} %}
		<div class="yump-profile-summary col-sm-8 col-lg-7">
			<h3>{{ block.heading }}</h3>
            {{ block.subHeading }}
			{{ block.summary }}
			<div>
                {% if block.linkTo is defined and block.linkTo %}
					<a href="{{ craft.yump.generateValidUrl(block.linkTo.url) }}" target="{{ block.linkTo.target }}" class="button button--arrow">{{ block.linkTo.text }}</a>
                {% endif %}
			</div>
		</div>
	</div>
</div>
