{% if entry.resourceCategory.first() is defined and entry.resourceCategory.first() %}
	{% set resources = craft.entries.siblings.relatedTo(entry.resourceCategory.first()).id('not ' ~ entry.id).order('RAND()').limit(2) %}
{% else %}
	{# Shouldn't be used on a non-resource page but lets at least give them something if they do use it #}
	{% set resources = craft.entries.type('resource').id('not ' ~ entry.id).order('RAND()').limit(2) %}
{% endif %}
{% if resources is defined and resources|length > 0 %}
    <h2 class="neo-section__heading">Related Resources</h2>
    <div class="ps-cards pp-card__wrap pp-card__wrap--related-resources">
        {% for card in resources %}
            {% include '_elements/cards/profile_style_card.html' with {card: card, image: card.imageWithFocusPoint.first(), heading: card.title, subText: card.summary} %}
        {% endfor %}
    </div>
{% endif %}