{% if block.heading %}
	<h3 class="reusable-snippet-section-heading">{{ block.heading }}</h3>
{% endif %}

<div class="reusable-snippet-sections">
    {% for snippet in block.reusableSnippet %}
    	{% include '_matrix-blocks/neo' with {block: snippet.body} %}
    {% endfor %}
</div>
