{# {% includeCssFile "/src/scss/core/stats-counter.scss" | yumpsass(true) %} #}
{% includeJsFile "/vendor/misc/jquery.waypoints.min.js" %} {# 4.0.1 https://github.com/imakewebthings/waypoints #}
{% includeJsFile "/vendor/misc/jquery.counterup.min.js" %} {# 2.1.0 https://github.com/ciromattia/jquery.counterup #}
{% includeJsFile "/public/js/core/stats-counter.min.js" %}

<div class="stats-counter">
    <img class="stats-counter__logo" src="/public/img/core/ic-positive-partnerships@2x.png" alt="Positive partnerships logo">
	{% if block.heading or block.subHeading %}
		<div class="stats-counter-headings">
            {% if block.heading %}<h2 class="stats-counter-heading">{{ block.heading }}</h2>{% endif %}
            {% if block.subHeading %}<h4 class="stats-counter-subheading">{{ block.subHeading }}</h4>{% endif %}
        </div>
	{% endif %}

	{% set columnClass = "col-md-" ~ 12 / block.statsCounter.count() %}

    <div class="row stats-counter-content">
    	{% for statsBlock in block.statsCounter if statsBlock.type == 'stats' %}
    		{# {% set customCssClass = statsBlock.customCssClass|trim ? statsBlock.customCssClass : columnClass %} #}
            <div class="stats-counter-item">
                {% if statsBlock.icon is defined %}
                    <img class="stats-counter__icon" src="/public/img/svg/stats/ic-{{ statsBlock.icon }}.svg" alt="">
                {% endif %}
                <div class="stats-counter__text-wrap">
                    <span class="stats-counter-number"><span class="stats-counter-number__number">{{ craft.yump.formatNumber(statsBlock.number) }}</span>{{ statsBlock.customUnitType }}</span>
                    <span class="stats-counter-text">{{ statsBlock.text }}</span>
                    <span class="stats-counter__sub-text">{{ statsBlock.subText }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
