{% if block.customTable.rows | length %}
	<div class="table-wrapper table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
			    {% for col in block.customTable.columns %}
			      <th align="{{ col.align }}" width="{{ col.width }}">{{ col.heading }}</th>
			    {% endfor %}
			    </tr>
			</thead>
			<tbody>
			    {% for row in block.customTable.rows %}
			    <tr>
			    {% for cell in row %}
			      <td align="{{ block.customTable.columns[loop.index0].align }}">{{ cell }}</td>
			    {% endfor %}
			    </tr>
			  {% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}



