{# the following three are made compulsory, so we are sure they won't be null #}
{% set align = block.imageAlignment.value %}
{% set image = block.imageWithFocusPoint.first() %}
{% set video = block.videoUrl %}

{% set thumbSettings = {
	width: 1000,
} %}
{% set imageUrl = image | yumpimager(thumbSettings) %}

{% set text = block.summary %}


<div class="image-text-columns-wrapper">
	<div class="row">
		{% if align != 'right' %}
			<a class="col-sm-6 image-div first-col" aria-hidden="true" {% if image and image.linkTo %}href="{{ image.linkTo.url }}"{% endif %} target="_blank">
                {% if video %}
					<div class="video-iframe-wrapper">
						<div class="aspect-ratio">
                            {{ video | trim | videoEmbed }}
						</div>
					</div>
                    {% if block.videoTranscript is defined and block.videoTranscript.first() and block.videoTranscript.first().videoTranscriptContent | trim %}
                        {% set visibilityClass = block.videoTranscript.first().screenReadersOnly ? 'video-transcript sr-only' : 'video-transcript' %}
						{% include '_elements/video_transcript' with {videoTranscript: block.videoTranscript.first().videoTranscriptContent, wrapperClass: visibilityClass} %}
                    {% endif %}
				{% else %}
					<img class="img-fluid" src="{{ imageUrl }}" alt="{{ image.title }}">
                    {% if image['imageCaption'] is defined and image.imageCaption %}
						<p><em>{{image.imageCaption}}</em></p>
                    {% endif %}
                {% endif %}
			</a>
		{% endif %}

		<div class="col-sm-6 text-div {% if align == 'right' %}first-col{% endif %}">
			{{ text }}
		</div>

		{% if align == 'right' %}
			<a class="col-sm-6 image-div" aria-hidden="true" {% if  image and image.linkTo %}href="{{ image.linkTo.url }}"{% endif %}>
                {% if video %}
					<div class="video-iframe-wrapper">
						<div class="aspect-ratio">
                            {{ video | trim | videoEmbed }}
						</div>
					</div>
                    {% if block.videoTranscript is defined and block.videoTranscript.first() and block.videoTranscript.first().videoTranscriptContent | trim %}
                        {% set visibilityClass = block.videoTranscript.first().screenReadersOnly ? 'video-transcript sr-only' : 'video-transcript' %}
						{% include '_elements/video_transcript' with {videoTranscript: block.videoTranscript.first().videoTranscriptContent, wrapperClass: visibilityClass} %}
                    {% endif %}
                {% else %}
					<img class="img-fluid" src="{{ imageUrl }}" alt="{{ image.title }}">
                    {% if image['imageCaption'] is defined and image.imageCaption %}
						<p><em>{{image.imageCaption}}</em></p>
                    {% endif %}
                {% endif %}
			</a>
		{% endif %}
	</div>
</div>

