{% set verticalAlignment = block.verticalAlignment is defined and block.verticalAlignment ? block.verticalAlignment : 'top' %}
<div class="neo-two-columns neo-two-columns--{{verticalAlignment}}">
	<div class="row">
		{% include '_matrix-blocks/elements/_neo_child_block' with {blockSet: block.children, customClass:''} %}
	</div>
</div>
