{% if block.heading is defined and block.heading %}
	<h2 class="block__title">
		{{block.heading}}
	</h2>
{% elseif block.heading is defined %}
	<h2 class="block__title">
        Upcoming Workshops
	</h2>
{% endif %}

{# upcoming workshops that have a start date later than now #}
{% set workshops = craft.entries({
  section: 'workshops',
  date:  '> ' ~ now,
  order: 'startDate asc',
  limit: block.toggle ? '' : '4'
}) %}

<div class="pp-card__wrap">
    {% if workshops %}
        {% for workshop in workshops %}
            {% include '_elements/cards/event.html' with {card: workshop} %}
        {% endfor %}
    {% endif %}
</div>

{% if block.toggle is defined and not block.toggle %}
  {% set workshopsPage = craft.yump.getEntryByIdFix(craft.config.get('workshopsPageId')) %}
  {% if workshopsPage %}
    <a href="{{workshopsPage.url}}" class="button button--light button--arrow mt-2 mt-md-0 w-100">View All Workshops</a>
  {% endif %}
{% endif %}

