{% if block.videoUrl and block.videoUrl | trim | videoPlayerUrl %}
    {% set transcriptEntry = null %}
    {% if block.videoTranscript is defined and block.videoTranscript.first() and block.videoTranscript.first().videoTranscriptContent | trim %}
        {% set transcriptEntry = block.videoTranscript.first() %}
    {% endif %}
	<div class="video-iframe-wrapper">
		<div class="aspect-ratio">
            {{ block.videoUrl | trim | yumpVideoPlayerUrl | yumpVideoEmbed({
                videoTitle: transcriptEntry ? transcriptEntry.title : null,
            })}}
		</div>
	</div>
	{% if transcriptEntry %}
		{% set visibilityClass = transcriptEntry.screenReadersOnly ? 'video-transcript sr-only' : 'video-transcript' %}
		{% include '_elements/video_transcript' with {videoTranscript: transcriptEntry.videoTranscriptContent, wrapperClass: visibilityClass} %}
	{% endif %}
{% endif %}
