{% extends "_layout_compact_page" %}

{% block boxContent %}
	<img class="box-icon" src="/public/img/svg/ic-404.svg" alt="">
	<h1 class="box-heading">Bad Request</h1>
	<p class="box-subheading large">The request could not be understood by the server due to malformed syntax.</p>
	<a href="/" class="button button--arrow button--more-padding">Home</a>
{% endblock %}
