{% extends "_layout_compact_page" %}

{% block boxContent %}
	<img class="box-icon" src="/public/img/svg/ic-404.svg" alt="">
	<h1 class="box-heading">Page not found</h1>
	<p class="box-subheading large">We can't seem to find the page you're looking for. Head back to home, or try search.</p>
	<a href="/" class="button button--arrow button--more-padding">Home</a>
{% endblock %}
