{% extends "_layout_compact_page" %}

{% block boxContent %}
	<img class="box-icon" src="/public/img/svg/ic-404.svg" alt="">
	<h1 class="box-heading">Internal Server Error</h1>
	<p class="box-subheading large">An error occurred while processing your request.</p>
	<a href="/" class="button button--arrow button--more-padding">Home</a>
{% endblock %}
