{% extends "_layout_compact_page" %}

{% block boxContent %}
	<img class="box-icon" src="/public/img/svg/ic-404.svg" alt="">
	<h1 class="box-heading">Service Unavailable</h1>
	<p class="box-subheading large">Our site is temporarily unavailable. Please try again later.</p>
{% endblock %}
