{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
<!DOCTYPE html>
{% block sourceCredit %}
<!--

 This website was lovingly handcrafted by the team at Yump.com.au.
  _   _  _   _  _ __ ___   _ __
 | | | || | | || '_ ` _ \ | '_ \
 | |_| || |_| || | | | | || |_) |_
  \__, | \__,_||_| |_| |_|| .__/(_)
  |___/                   |_|

 Powered by Craft CMS
-->
{% endblock %}

{% set ieVersion = craft.yump.ieVersion %}

<html
	class="{{ ieVersion ? ' ie' : '' }}{{ ieVersion < 11 ? ' ieLessThan11' : '' }}"
	{% block htmlLang %}lang="en"{% endblock %}
	{% block htmlAttribs %}{% endblock %}
>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block meta %}
		{# SEO Start #}
		{# The old SEO plugin, now deprecated. We currently use SEOMatic #}
		{# {% if entry is defined and entry and entry['searchEngineOptimization'] is defined and entry.searchEngineOptimization %}
		    {% set seo = entry.searchEngineOptimization %}

		    <title>{{ seo.title }}</title>
			<meta name="description" content="{{ seo.description }}" />

			<meta property='og:title' content='{{ seo.title }}' />
			<meta property='og:url' content='{{ craft.request.url }}' />
			<meta property='og:site_name' content='{{ siteName }}' />
			<meta property='og:description' content='{{ seo.description }}' />

			<meta property='twitter:site' content='{{ siteUrl }}' />
			<meta property='twitter:title' content='{{ seo.title }}' />
			<meta property='twitter:description' content='{{ seo.description }}' />
			<meta property='twitter:url' content='{{ craft.request.url }}' />
		{% else %}
			<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
		{% endif %} #}
		{# SEO End #}

		{# using SEO matic #}
		{% hook 'seomaticRender' %}
	{% endblock %}

	<link rel="home" href="{{ siteUrl }}" />

	{# {% include '_elements/favicons' %} #}

	{# fundamental CSS libraries we use, e.g. Bootstrap. We usually extend this block in second level layout template, e.g. _bootstrap.html. For other libraries, please use includeCssFile function. #}
	{% block fundamentalCssLibraries %}{% endblock %}

	{# Outputs all of the HTML nodes that have been queued up by the includeCssFile, includeCss, and includeHiResCss tags. IMPORTANT: Please use these functions inside your template / _elements, instead of stacking all the css files here. If multiple files are included, Craft is smart enough to print out just one

	Updates: we later found out this will actually work only if the includeCss / includeCssFile functions are called BEFORE this line. Anything called after this will be inserted to its default location, which is right before </head>. So basically, this line is kinda useless.
	#}
	{{ getHeadHtml() }}

	{% block css %}{% endblock %}

	{% block customCss %}
		{% if externalScripts['externalScripts'] is defined and externalScripts.externalScripts %}
			{% for block in externalScripts.externalScripts.type('customCss') %}
				{% if block.describeThePurposeOfThisScript|trim %}
				<!-- {{ block.describeThePurposeOfThisScript|trim }} -->
				{% endif %}
				<style>
					{{ block.customCss|trim|raw }}
				</style>
			{% endfor %}
		{% endif %}
	{% endblock %}

	{% set gtmId = craft.yump.getSiteIdentityAttribute('googleTagManagerID') %}

	{% if not craft.config.devMode and gtmId %}
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{{ gtmId }}');</script>
		<!-- End Google Tag Manager -->
	{% endif %}

	{# fundamental JS libraries we use, e.g. jQuery, Bootstrap. We usually extend this block in second level layout template, e.g. _bootstrap.html. For other libraries, please use includeJsFile function.
	 #}
	{% block fundamentalJsLibraries %}{% endblock %}

	{% block scriptHead %}{% endblock %}

	<!-- Display a notice to IE 8 and below, recommending they install Chrome -->
	<!--[if lte IE 8]>
	 	<script src="//cdn.jsdelivr.net/cookies.js/0.4.0/cookies.min.js"></script>
	 	<script src="//yumpdigital.github.io/Upgrade-IE-Already/ie-upgrade-prompt.js"></script>
	<![endif]-->

	{% block customJsHead %}
		{% if externalScripts['externalScripts'] is defined and externalScripts.externalScripts %}
			{% for block in externalScripts.externalScripts.type('customJavascript') if block.scriptPlacement.value == 'head' %}
				{% if block.describeThePurposeOfThisScript|trim %}
				<!-- {{ block.describeThePurposeOfThisScript|trim }} -->
				{% endif %}
				{{ block.customJavascript|trim|raw }}
			{% endfor %}
		{% endif %}
	{% endblock %}

	<script src="//f1-oc.readspeaker.com/script/8312/ReadSpeaker.js?pids=embhl"></script>

	{% if not craft.config.get('isLiveSite') %}
		<script type='text/javascript'>
		(function (d, t) {
		  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		  bh.type = 'text/javascript';
		  bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=dfe6oqgnmc44mzh8rriddw';
		  s.parentNode.insertBefore(bh, s);
		  })(document, 'script');
		</script>
	{% endif %}
</head>

<body class="{% block bodyClass %}{% endblock %}">{# TODO: add a class to body based on current slug or URL-path #}
	{% if not craft.config.devMode and gtmId %}
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtmId }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{% endif %}

	{% block scriptAtBodyBeginning %}{% endblock %}

	{# For screen-readers only: provide a link to skip to #main #}
	<a class="sr-only" href="#main-content">Skip to main content</a>

	{% block header %}{% endblock %}

	{% block body %}
		{# This block should always get overridden in child templates #}
		<p>If you see me, you haven’t set your <code>{% verbatim %}{% block body %}…{% endblock %}{% endverbatim %}</code> yet.</p>
		<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
	{% endblock %}

	{% block footer %}{% endblock %}

	{# Since we put the fundamentalJsLibraries here instead of <head>, always remember to use includeJsFile or includeJs to put a js file / snippet in templates, otherwise, it might not be able to use the libraries defined in fundamentalJsLibraries, like jQuery / Bootstrap. For more instructions, see dev notes #}

	{# Outputs all of the HTML nodes that have been queued up by the includeJsFile and includeJs tags. If we did not place getFootHtml() here, it would be placed right before your </body> tag.  IMPORTANT: Please use these functions inside your template / _elements, instead of stacking all the CSS files here. If a file is included multiple times, Craft is smart enough to remove duplicates #}
	{{ getFootHtml() }}

	{# IE 9 and below does not support <input placeholder="..."> so we include the following polyfill script as standard #}
	<!--[if lte IE 9]><script src="/yump/js/jquery.placeholder.js"></script><![endif]-->

	{% block scriptBottom %}
		{# Embed the "Visor" plugin which allows admins to easily access edit screens from front end #}
		{% hook "addVisor" %}
	{% endblock %}

	{% block customJsFooter %}
		{% if externalScripts['externalScripts'] is defined and externalScripts.externalScripts %}
			{% for block in externalScripts.externalScripts.type('customJavascript') if block.scriptPlacement.value == 'footer' %}
				{% if block.describeThePurposeOfThisScript|trim %}
				<!-- {{ block.describeThePurposeOfThisScript|trim }} -->
				{% endif %}
				{{ block.customJavascript|trim|raw }}
			{% endfor %}
		{% endif %}
	{% endblock %}

</body>
</html>
