{% extends '_base' %}

{% block fundamentalCssLibraries %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block fundamentalJsLibraries %}
	{# Make sure all your scripts which use jQuery and Bootstrap are wrapped with 'includeJs', instead of <script> tag. If u had to use <script> tag, then move the jQuery and/or Bootstrap library to the 'fundamentalCssLibraries' block above. #}

	{# Now using jQuery 3, but we include the migrate helper script on dev to assist with any compatibility issues #}
	<script src="/public/js/core/jquery.min.js"></script>
	{# {% if craft.config.devMode %}
		<script src="/vendor/jquery/jquery-migrate-1.4.1.js"></script>
	{% endif %} #}

	<script src="/public/js/core/bootstrap.min.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	{% if craft.config.get('shareThisPropertyId') %}
		<script src='//platform-api.sharethis.com/js/sharethis.js#property={{ craft.config.get('shareThisPropertyId') }}&product=custom-share-buttons' async='async'></script>
	{% endif %}

{% endblock %}
