{% extends "_layout" %}

{% block bodyClass %}{{ parent() }} compact-page{% endblock %}

{% block css %}
	{{ parent() }}
	{# {{ "/src/scss/core/compact-page.scss" | yumpsass }} #}
	{# <link rel="stylesheet" href="/src/css/core/compact-page.css"> #}
{% endblock %}

{% block header %}
	{{ parent() }}
	{% include "_elements/_flash_messages" %}
{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
	<div class="box-page-content-wrapper">
		<div class="box-page-bg-overlay"></div>
	    <div class="box-wrapper">

	    	{% block boxContent %}

		        <h3 class="box-heading">Login</h3>

		        <div id="email-sign-in-form-wrapper">
		            <form method="post" accept-charset="UTF-8">
		            	{{ getCsrfInput() }}
		                <input class="login-input" type="hidden" name="action" value="users/login">

		                <div class="form-group">
		                    <label class="control-label" for="loginName">Username</label>
		                    <input class="form-control" required id="loginName" type="text" name="loginName"
		                        value="{{ craft.session.rememberedUsername }}">
		                </div>

		                <div class="form-group password-wrapper login-only">
		                    <label class="control-label" for="password">Password</label>
		                    <input class="form-control login-input" required id="password" type="password" name="password">
		                </div>

		                <div class="login-screen-sub-functions-wrapper flex flex-vertical-center flex-space-between">
		                    <label class="login-only mobile-full-width">
		                        <input type="checkbox" class="login-input" name="rememberMe" value="1">
		                        Remember me
		                    </label>
		                </div>

						{# <div class="forgot-password-link-wrapper">
		                	<a href="/resetpassword">Forgot password?</a>
		                </div> #}

		                <div class="login-screen-buttons-wrapper">
		                    <div class="yump-form-submit-wrapper mobile-full-width text-center compact-page-center-element-wrapper">
		                        <input type="submit" class="compact-page-btn yump-form-submit yump-form-field mobile-full-width" id="submit-button" value="Login">
		                    </div>
		                </div>

		                {# {% if errorMessage is defined %}
		                    <p>{{ errorMessage }}</p>
		                {% endif %} #}
		            </form>
		        </div>

	    	{% endblock %}
	    </div>
	</div>
{% endblock %}