{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% extends '_bootstrap' %}

{#
########################################################################################
                General rules to include css/scss and js files
                ##############################################
1. For fundamental CSS / JS libraries like jQuery and Bootstrap - usually this doesn't need action because it's already been done in _bootstrap.html, unless you want to extend it somehow - extend {% block fundamentalCssLibraries %} or {% block fundamentalJsLibraries %}{% endblock %}, check _base.html to see the position where the blocks are inserted
2. Output HTML element when extending a block: If we are putting in css by extending a block (the {% block css %} below for example) - this usually happens when we want custom css just for a unique template (e.g. blog.css, news_page.css) - output the HTML element into the extended block (can code in HTML or use the yumpsass filter like the one below).
3. Use 'includeCssFile' or 'includeJsFile' when working on an element template: when working on an child element, e.g. carousel.html, we often want to include CSS / JS just for the element. In this case, we use 'includeCssFile' or 'includeJsFile', so Craft will put them into the right place, instead of having css / js files all over the places in HTML.
4. The main purpose of Rule 2 and 3 is to make sure the files executed in the right order and make it consistent for devs.
5. See YumpTwigExtension.php for how to use custom automin filter to compile and minify sass and js files.
6. Avoid minifying vendor css / js files, which are often already minified.
7. Do not combine global scss / js files with others. (the scss files below can be seen as 'global' files)

#}
{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="/public/styles/styles.css">

{% endblock %}

{% block header %}
	{% include '_elements/header.html' ignore missing %}
{% endblock %}

{% block body %}
	<div id="main-content" class="{{entry is defined and entry ? entry.type : ''}} {{entry is defined and entry.parent() and entry.parent().slug == 'in-other-languages' ? 'in-other-languages' : ''}}">
		{% block contentAboveBanner %}{% endblock %}

		{% block banner %}
			{% include "_elements/banner.html" %}
		{% endblock %}
		{# {% if not banner %} class="page-no-banner"{% endif %} #}
		<main id="main">
			{% block content %}
	            {% set articleContent = null %}
	            {% set fullWidthContent = null %}

	            {% if entry is defined and entry and entry['body'] is defined and entry.body %}
	                {% for childBlock in entry.body.level(1) %}
	                    {% if childBlock.type == 'articleContent' %}
	                        {% set articleContent = childBlock %}
	                    {% elseif childBlock.type == 'fullWidthContent' %}
	                        {% set fullWidthContent = childBlock %}
	                    {% endif %}
	                {% endfor %}
	            {% endif %}

				<div class="body-article{{ articleContent ? '' : ' no-article' }}">
					<div class="container">
	                    {% block beforeArticle %}{% endblock %}
						<div class="row body-article-layout">
	                        {% block sidebar %}
	                            {% set needsSidebar = entry.level == 2 %}
	                            {% if needsSidebar %}
									{% include '_elements/side-nav' %}
	                            {% endif %}
	                        {% endblock %}
	                        {% block article %}
	                            {% if articleContent %}
									<article class="neo-article col-12 col-md-8">
	                                    {% block articleContentAfterHeading %}{% endblock %}
										<div class="neo-article-content neo-section">
	                                        {% include "_matrix-blocks/elements/_neo_child_block" with {blockSet: articleContent.children} %}
                                			{% if craft.request.segments and entry is defined and entry %}
												{% include '/_elements/share.html' with {id: 'mobileShare'} %}
											{% endif %}
                                            {% block articleContentBottomLink %}{% endblock %}
										</div>
	                                    {% block articleContentBottom %}{% endblock %}
									</article>
	                            {% endif %}
	                        {% endblock %}
						</div>
					</div>
				</div>

				{% if entry is defined and entry and entry.body is defined and entry.body %}
					{% include '_matrix-blocks/full-width-neo' with {
						block: fullWidthContent,
						wrapperDiv: (entry['customWrapperClass'] is defined and entry.customWrapperClass|trim ? entry.customWrapperClass|trim : ''),
					} %}
				{% endif %}


			{% endblock %}

			{% block prefooter %}
				{% block presignup %}{% endblock %}
				{% if entry.toggle is defined and entry.toggle %}
					<section class="section-bg-dark text-center sign-up-block">
						<div class="container">
							<h2 class="sign-up-block__heading">Sign up for our newsletter</h2>
							<form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E90561972218B5B4672D093EE829DD300CA51FFD409D339AF136537D3252D4ABEDA3D16970673D0FF79CD932822EA03ED426B22">
								<div class="sign-up-block__form-group">
									<label for="fieldName">Your first name</label>
									<br />
									<input id="fieldName" name="cm-name" type="text" placeholder="i.e. Justine" />
								</div>
								<div class="sign-up-block__form-group">
									<label for="fieldEmail">Your email</label>
									<br />
									<input id="fieldEmail" name="cm-dihijd-dihijd" type="email" class="js-cm-email-input"
										   placeholder="name@example.com" required />
								</div>
								<button class="js-cm-submit-button button button--more-padding" type="submit">Subscribe</button>
							</form>
	                        {% if footer.social.socialMedia is defined and footer.social.socialMedia %}
								<div class="sign-up-block__social__wrap">
									<span>Follow Positive Partnerships</span>
									<div class="sign-up-block__social__icon-wrap">
	                                    {% for social in footer.social.socialMedia %}
	                                        {% set title = social.iconTitle is defined ? social.iconTitle : '' %}
											<a class="sign-up-block__bottom__social-link" href="{{social.socialMediaLink.url}}" target="_blank" title="{{title}}">
												<i class="fab {{social.icon}}"></i>
												<span class="sr-only">Visit {{social.socialMediaLink.url}}</span>
											</a>
	                                    {% endfor %}
									</div>
								</div>
	                        {% endif %}
						</div>
						<script src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
					</section>
				{% endif %}
			{% endblock %}
		</main>
	</div>
{% endblock %}

{% block footer %}
	{% include '_elements/footer.html' ignore missing %}
{% endblock %}

{% block scriptBottom %}
	{{ parent() }}

	<script src="/public/js/core/jquery.smartmenus.min.js"></script>
	<script src="/public/js/core/jquery.smartmenus.bootstrap-4.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>

	{# Scrollmagic plugin is required for YumpAnimation #}
		{# <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
		<script type="text/javascript" src="/yump/js/YumpAnimation.js"></script> #}
		<script src="/yump/js/YumpMagicBox.js"></script>
		<script src="/public/js/project/main.min.js"></script>
		<script src="/public/js/project/menu.min.js"></script>

	{#
	{{ [
		"/yump/js/YumpMagicBox.js",
		"/public/js/main.min.js",
	] | yumpjs }}
	#}

{% endblock %}
