{% extends "_layout_compact_page" %}

{% block boxContent %}
    <h3 class="box-heading">Reset password</h3>
    <div class="reset-password-form-wrapper">
        <form method="post" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/sendPasswordResetEmail">
            <input type="hidden" name="redirect" value="">

            <div class="form-group">
                <label for="loginName">Email</label>
                <input id="loginName" type="email" class="form-control" required name="loginName"
                value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">
            </div>
            <div class="compact-page-center-element-wrapper">
                <input type="submit" class="ty-btn" value="Submit">
            </div>
            {% if errors is defined %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}