{% extends "_layout" %}

{% block bodyClass %}{{ parent() }} search-results-page{% endblock %}

{% block content %}
	{% set limitPerPage = 12 %}

	{# Filtering #}
	{% set pages = craft.request.getParam('pages') is not null ? craft.request.getParam('pages') : '1' %}
	{% set news = craft.request.getParam('news') is not null ? craft.request.getParam('news') : '1' %}
	{% set resources = craft.request.getParam('resources') is not null ? craft.request.getParam('resources') : '1' %}
	{% set filters = {
			pages : pages,
			news : news,
			resources: resources,
		}
	%}
	{% set query = craft.request.getParam('q') | trim %}
	{% set entries = craft.positivePartnerships.search(query, filters) %}
	{% set resultsCount = entries ? entries.count() : 0 %}

	<section class="search-page-search-form-section small-text">
		{% include '_elements/components/search_form' %}
	</section>
	
	<nav class="crumbs-wrap">
	    <div class="container">
	        <div class="row">
	            <ol class="breadcrumbs">
                    <li><a href="/">Home</a><span class="separator">/</span></li>
	                <li class="current">Search results for "{{ query|trim }}"</li>
	            </ol>
	        </div>
	    </div>
	</nav>

	<div class="search-results-page-content {% if not resultsCount %} not-found{% endif %}">
		<div class="container">
			{# <div class="row">
				<div class="offset-md-3 col-md-9 page-heading-section">
					<h1>Search results</h1>
				</div>
			</div> #}

			<div class="row search-results-page-content-body">
				<aside class="sidebar-refine-search col-xl-3 col-md-4">
					<div class="sidebar-search-inner">
						<h4 class="sidebar-heading">Refine your search</h4>
						<div class="refine-search-controls">
							<div class="custom-control custom-checkbox form-check">
							  <input class="custom-control-input form-check-input" name="sections" type="checkbox" value="pages" id="refine-search-pages" {% if filters.pages != '0' %} checked{% endif %}>
							  <label class="custom-control-label form-check-label" for="refine-search-pages">Pages</label>
							</div>
							<div class="custom-control custom-checkbox form-check">
							  <input class="custom-control-input form-check-input" name="sections" type="checkbox" value="resources" id="refine-search-resources" {% if filters.resources != '0' %} checked{% endif %}>
							  <label class="custom-control-label form-check-label" for="refine-search-resources">Resources</label>
							</div>
							<div class="custom-control custom-checkbox form-check">
							  <input class="custom-control-input form-check-input" name="sections" type="checkbox" value="news" id="refine-search-news" {% if filters.news != '0' %} checked{% endif %}>
							  <label class="custom-control-label form-check-label" for="refine-search-news">News & Media</label>
							</div>
						</div>
					</div>
				</aside>
				<section class="search-results col-xl-8 offset-xl-1 col-md-8">
					<h1>Search results</h1>
					{% if resultsCount %}
					    <h3 class="results-count">
					    	{{ resultsCount }} result{% if resultsCount != 1 %}s{% endif %} found for "{{ query }}"
					    </h3>
					    <ul class="search-results-list bare-list">
							{% paginate entries.limit(limitPerPage) as pageInfo,items %}
					        {% for entry in items %}
					            <li>
					            	<h4 class="search-result-entry-title">
					            		<a href="{{ entry.url }}">
					            		{% if entry.title | searchExcerpt(query) %}
					            			{{entry.title | searchExcerpt(query) | raw}}
					            		{% else %}
					            			{{entry.title}}
					            		{% endif %}	
					            		</a>
					            	</h4>
					            	<div class="excerpt small-text">
					            	{% set found = false %}
				            		{# submit text from each block searchExcerpt filter, if find a hit, stop searching and show snippet from first hit #}
				            		{% if entry.summary is defined and entry.summary %}
				            			{% set result = (entry.summary| searchExcerpt(query)) %}
								        {% if result %}
								        	{% set found = true %}
								        	{{result | raw}}
								        {% endif %}
				            		{% endif %}

				            		{% if not found %}
			            				{{ craft.yump.deepBodySearch(query, entry) | raw }}
				            		{% endif %}
									</div>

									{% include '_elements/components/search_result_item_breadcrumb' with {entry: entry} %}
									
					            </li>
					        {% endfor %}
					    </ul>

				   		{% include '_matrix-blocks/elements/_pagination' with {pageInfo: pageInfo} %}
					{% else %} {# No results: #}
						<h3 class="results-count">
					    	0 result found for <strong>"{{ query }}"</strong>:
					    </h3>
			    		
						<div class="no-search-result-content">
							<div class="leading-text">Please try using more general terms to get more results.</div>
						</div>
					{% endif %}
				</section>
			</div>
		</div>
	</div>
	{% includeJsFile "/public/js/project/search.min.js" %}
{% endblock %}