{% extends "_layout_compact_page" %}

{% block boxContent %}
    <h3 class="box-heading">Set a new password</h3>
    <div class="reset-password-form-wrapper">
        <form method="post" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/setPassword">
            <input type="hidden" name="code" value="{{ code }}">
            <input type="hidden" name="id" value="{{ id }}">

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input id="newPassword" type="password" class="form-control" required name="newPassword">
            </div>

            <div class="compact-page-center-element-wrapper">
                <input type="submit" class="ty-btn" value="Submit">
            </div>

            {% if errors is defined %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}