{% extends "_layout" %}

{% block css %}
{{ parent() }}
<style>
.heading {
	text-align: center;
}
.web-element-entry {
	margin-bottom: 60px;
}
</style>
{% endblock %}

{% block content %}
<div class="heading">
	<h1>Web Elements</h1>
	<h4>This page demostrates pre-built web elements we can use, other than the ones already built into <a href="/demo">Content Blocks</a>.</h4>
</div>

<hr>

<div class="content container">
	<div class="web-element-entry">
		<h3>Tiles</h3>
		<p>These are generally used to display a list of entries (e.g. blog articles, news articles, etc).</p>
	</div>
</div>
{% endblock %}