{% set slides = banner.bannerSlides %}
{% set numOfSlides = slides|length %}
{% if numOfSlides > 1 %}
	{% includeCssFile "/vendor/slick/slick.css" %}
{% endif %}

{# {% includeCssFile [
	"/src/scss/core/carousel.scss",
	"/src/scss/banner.scss"
] | yumpsass(true) %} #}

{% if numOfSlides > 1 %}
	{% includeJsFile "/vendor/slick/slick.min.js" %}
	{% includeJsFile "/public/js/core/banner.min.js" %}
{% endif %}

<section id="banner" class="advanced-banner{% if numOfSlides > 1 %} banner-slider{% endif %}{% if banner['isBigBanner'] and banner.isBigBanner %} big-banner{% endif %}">
	{% if numOfSlides > 1 %}
		<div class="banner-slides-wrapper">
	{% endif %}

	{% set bgImageThumbConfig = { width: 1900 } %}
		
	{% for slide in slides %}
		{% set bgImage = slide.backgroundImage.first() %}
		<div class="banner-slide" style="background-image: url('{{ bgImage | yumpimager(bgImageThumbConfig) }}'); background-size: cover;{% if bgImage %} background-position: {{ bgImage.focusPctX }}% {{ bgImage.focusPctY }}%;{% endif %}">
			
			{% if slide.applyDarkOverlayOverTheImage %}
				<div class="slide-dark-overlay"></div>
			{% endif %}

			{% if slide.wholeSlideLink %}
				<a href="{{ craft.yump.generateValidUrl(slide.wholeSlideLink.url) }}" target="{{ slide.wholeSlideLink.target }}" class="mega-link-overlay">
			{% endif %}

			<div class="banner-slide-overlay">
				<div class="container">
					{% if slide.heading %}
						<div class="banner-slide-heading">{{ slide.heading }}</div>
					{% endif %}
					{% if slide.subHeading %}
						<div class="banner-slide-subheading">{{ slide.subHeading }}</div>
					{% endif %}

					{% if slide.button %}
						<div class="banner-button-wrapper">
							<a href="{{ craft.yump.generateValidUrl(slide.button.url) }}" target="{{ slide.button.target }}">{{ slide.button.text }}</a>
						</div>
					{% endif %}
				</div>
			</div>

			{% if slide.wholeSlideLink %}
				</a>
			{% endif %}
		</div>
	{% endfor %}

	{% if numOfSlides > 1 %}
		</div>
	{% endif %}

	{# the toggle here means 'hide explore section in banner or not. True means hide' #}
	{% if not banner.toggle %}
		<div class="banner-explore">
        	<img src="/src/img/core/header-explore.png" alt="Explore more below">
        </div>
	{% endif %}
</section>