<div class="docs-nav-section container">
	<div class="docs-nav-toggle">
		<img src="/public/img/core/ic-dropdown-white.svg" alt="Expand" style="width: 25px; float: right">
		<span class="toggle-text">Documentation list</span>
		
	</div>

	{% set entries = craft.entries.section('docs') %}

	<div class="docs-nav-wrapper">
		<ul class="docs-nav">
		    {% nav entry in entries %}
		        <li class="{{ entry.hasDescendants ? 'has-children' : '' }}{{ entry.id == currentEntry.id ? ' active' : '' }}">
		            <a href="{{ entry.url }}">{{ entry.title }}</a>
		            {% ifchildren %}
		                <ul class="docs-nav-submenu">
		                    {% children %}
		                </ul>
		            {% endifchildren %}
		        </li>
		    {% endnav %}
		</ul>
	</div>
</div>
