{# assuming entry is always defined. #}

<div class="search-result-item-breadcrumb crumbs-wrap">
	<ol class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <span class="separator">/</span>

        {% if entry.section.handle == 'news' %}
        	{% set newsRoot = craft.yump.getEntryByIdFix(craft.config.get('newsRootPageId')) %}
            {% if newsRoot %}
                {% for ancestor in newsRoot.getAncestors() %}
                    <li>{{ ancestor.getLink() }}</li>
                    <span class="separator">/</span>
                {% endfor %}

                <li><a href="{{ newsRoot.url }}">{{ newsRoot.title }}</a></li>
                <span class="separator">/</span>
            {% endif %}
		{% elseif entry.section.handle == 'pages' %}
			{% for crumb in entry.getAncestors() %}
                <li>{{ crumb.getLink() }}</li>
                <span class="separator">/</span>
            {% endfor %}
        {% endif %}
        
        <li class="current">{{ entry.title() }}</li>
    </ol>
</div>
