{% set inputId = customSearchInputId is defined and customSearchInputId ? customSearchInputId : 'searchInput' %}

<div class="search-wrapper" id="search-result-page-search-form-wrapper">
	<div class="container">
		<div class="search-bar">
			<form action="/search" class="search-form" autocomplete="off">
				{% if filters is defined and filters %}
					{% for filterKey, filterVal in filters %}
						<input type="hidden" name="{{ filterKey }}" value="{{ filterVal }}" id="">
					{% endfor %}
				{% endif %}
				<label class="d-none" for="search-result-page-search-input">Search</label>
				<input name="q" id="search-result-page-search-input" type="text" placeholder="I am searching for" value="{{ craft.request.getParam('q') ? craft.request.getParam('q') | trim : '' }}" required autocomplete="off">

				<button type="submit" class="button button--arrow" id="search-result-page-search-submit">Search</button>
			</form>
		</div>
	</div>
</div>